{% trans_default_domain 'member_site' %}
{% extends 'member_site/themes/loader.html.twig' %}

{% block accountNav %}
    {{ include('member_site/themes/widgets/account_menu.html.twig') }}
{% endblock %}

{% block body %}

    <style>
        #add-fee .fee-col:first-of-type {
            padding-right: 4px;
        }
        #add-fee .fee-col:last-of-type {
            padding-left: 4px;
        }
    </style>
    <h2 id="page-loan-title">
        {% if loan.status == 'RESERVED' %}
            {% trans %}Reservation{% endtrans %}
        {% else %}
            {% trans %}Loan{% endtrans %}
        {% endif %}
        #{{ loan.id }}

        {% if loan.contact.id != app.user.id %}
            {{ include('member_site/partials/session_user.html.twig') }}
        {% endif %}

        <span class="pull-right">
            <a href="{{ path('loan_print', {id: loan.id}) }}" target="_blank" class="btn btn-xs btn-default">Print</a>
            {{ include('partials/loan_status_label.html.twig') }}
        </span>
    </h2>

    <style>
        .basket-amount {
            text-align: right;
            width: 60px;
        }
        .basket-total {
            font-size: 20px;
            font-weight: bold;
            text-align: right;
        }
        .basket-serial {
            padding: 4px 0;
        }
        .basket-subtotal {
            font-size: 16px;
            text-align: right;
        }
        .table.borderless td, .table.borderless th {
            border-bottom: 1px solid #eee;
            border-top: none;
        }
        .formControls .btn {
            margin-right: 10px;
        }
        .row-charge {
            font-size: 11px;
            color: #419f43
        }
    </style>

    {% if loan.loanRows|length > 0 and loan.status in ['RESERVED', 'PENDING'] %}
        <div style="padding: 10px">
            <i class="fa fa-clock" style="color: #5cb85c"></i>
            {% trans %}public_basket.pickup_after{% endtrans %} <strong>{{ loan.loanRows|first.dueOutAt|date("d F g:i a") }}</strong>
            {% trans %}public_basket.from{% endtrans %} <strong>{{ loan.collectFromSite.name }}</strong>
        </div>
    {% endif %}

    {% if loan.loanRows|length == 0 %}
        <div class="alert alert-info">
            {% trans %}public_basket.no_items{% endtrans %}
            <br><br>
        </div>
    {% endif %}

    {{ form_start(form, { 'attr' : { 'class': 'payment-form', 'id': "paymentForm" } }) }}

        {{ form_errors(form) }}
        {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <input type="hidden" name="loanIdForTest" id="loanIdForTest" value="{{ loan.id }}">
    <input type="hidden" name="contactId" id="contactId" value="{{ loan.contact.id }}">
    <input type="hidden" name="contactEmail" id="contactEmail" class="contact-email" value="{{ loan.contact.email }}">

    <table class="table borderless" id="basketDetails">

        {% set deposits = 0 %}
        {% set promptsExist = 0 %}

        {% for row in loan.loanRows %}
            <tr class="loanRow" id="{{ row.id }}">
                <td style="width:100px" class="hidden-xs">
                    {% if row.inventoryItem.imageName %}
                        <img src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/thumbs/{{ row.inventoryItem.imageName }}" class="img-thumbnail img-responsive">
                    {% else %}
                        <img src="//{{ tenantInformation.accountDomain }}/images/no_image.png" alt="" class="img-responsive">
                    {% endif %}
                </td>
                <td>
                    <div style="font-size: 16px">
                        {% if is_granted("ROLE_ADMIN") or row.inventoryItem.showOnWebsite == true %}
                        <a href="{{ path('public_product', {productId: row.inventoryItem.id}) }}">
                            {{ row.inventoryItem.name }}
                        </a>
                        {% else %}
                            {{ row.inventoryItem.name }}
                        {% endif %}
                    </div>

                    {% if not row.isCheckedOut and row.inventoryItem.inventoryLocation %}
                    {#A field checked via validateCheckout to prevent checkout for non-available items#}
                    <input type="hidden" class="item-location" value="{{ row.inventoryItem.inventoryLocation.isAvailable }}">
                    {% endif %}

                    {% if row.inventoryItem.sku %}
                        <div class="basket-code">
                            {% trans %}public_item.code{% endtrans %}: <strong>{{ row.inventoryItem.sku }}</strong>
                        </div>
                    {% endif %}

                    {% if row.inventoryItem.serial %}
                        <div class="basket-serial">
                            {% trans %}public_item.serial{% endtrans %}: <strong>{{ row.inventoryItem.serial }}</strong>
                        </div>
                    {% endif %}

                    {% if tenantInformation.setting('use_labels') %}
                        {#<div class="basket-barcode">Barcode: {{ row.inventoryItem.id }}</div>#}
                    {% endif %}

                    {% if row.inventoryItem.itemType == 'loan' %}
                        <div>
                            <i class="far fa-clock"></i>
                            {% trans %}public_basket.due_at{% endtrans %} <strong>{{ row.dueInAt|date("d F g:i a") }}</strong>
                            ( {{ row.duration }} {% transchoice row.duration %}days{% endtranschoice %} )
                        </div>
                        <div class="multi-site">
                            <i class="far fa-hospital"></i> {% trans %}public_basket.return_to{% endtrans %} <strong>{{ row.siteTo.name }}</strong>
                        </div>
                        <input type="hidden" name="row_qty[{{ row.id }}]" id="qty-{{ row.id }}" value="1">
                    {% elseif row.inventoryItem.itemType == 'stock' %}
                        {% trans %}public_loan.quantity{% endtrans %} :
                        {% if is_granted('ROLE_ADMIN') and loan.status in ['RESERVED', 'PENDING'] %}
                            <input type="text" name="row_qty[{{ row.id }}]" id="qty-{{ row.id }}"
                                   value="{{ row.productQuantity }}"
                                   class="basket-amount save-on-change" style="text-align:center">
                        {% else %}
                            <input type="hidden" name="row_qty[{{ row.id }}]" id="qty-{{ row.id }}"
                                   value="{{ row.productQuantity }}"
                                   class="basket-amount save-on-change">
                            {{ row.productQuantity }}
                        {% endif %}
                        {% if row.productQuantity > 0 %}
                            {% trans %}public_basket.from{% endtrans %} {{ row.siteFrom.name }} / {{ row.itemLocation.name }}
                        {% endif %}
                    {% elseif row.inventoryItem.itemType == 'service' %}
                        {% trans %}public_loan.quantity{% endtrans %} :
                        {% if is_granted('ROLE_ADMIN') and loan.status in ['RESERVED', 'PENDING'] %}
                            <input type="text" name="row_qty[{{ row.id }}]" id="qty-{{ row.id }}"
                                   value="{{ row.productQuantity }}"
                                   class="basket-amount save-on-change" style="text-align:center">
                        {% else %}
                            <input type="hidden" name="row_qty[{{ row.id }}]" id="qty-{{ row.id }}"
                                   value="{{ row.productQuantity }}"
                                   class="basket-amount save-on-change">
                            {{ row.productQuantity }}
                        {% endif %}
                    {% else %}
                        {#Kit item#}
                        <input type="hidden" name="row_qty[{{ row.id }}]" id="qty-{{ row.id }}" value="{{ row.productQuantity }}">
                    {% endif %}

                    {# Checked in #}
                    {% if row.isReturned %}
                        <br />
                        <div style="color: #419f43;">
                            <i class="fa fa-check"></i> Checked in: {{ row.checkedInAt|date }}
                        </div>
                    {% endif %}

                    <div class="help-block">
                        {#CHECK IN #}
                        {% if row.isCheckedOut and row.isReturned != true and tenantInformation.selfCheckout and row.inventoryItem.itemType == 'loan' %}
                            <a href="{{ path('loan_check_in', {loanRowId: row.id}) }}" data-loan-row-id="{{ row.id }}"
                               id="check-in-{{ row.inventoryItem.id }}" class="btn btn-xs btn-success btn_checkin">Check in</a>
                            <!-- For functional testing: /-->
                            <div class="check-in-row-id" style="display:none;">{{ row.id }}</div>
                        {% endif %}
                        {#EXTEND#}
                        {% if (row.isCheckedOut and not row.checkedInAt) or (loan.status in ['RESERVED', 'PENDING']) %}
                            {% if (is_granted('ROLE_ADMIN') or tenantInformation.selfExtend) and row.inventoryItem.itemType == 'loan' %}
                                <a href="{{ path('public_product', {productId: row.inventoryItem.id, extend: row.id }) }}"
                                   class="btn btn-xs btn-default btn_extend" data-loan-row-id="{{ row.id }}">
                                    {% trans %}public_loan.choose_new_date{% endtrans %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>

                    {# DEPOSIT already created for an 'on loan' row #}
                    {% if row.deposit %}
                        {% set deposits = deposits + row.deposit.amount %}
                        <div class="">
                            Refundable deposit {{ tenantInformation.currencySymbol }} {{ row.deposit.amount }}
                        </div>
                    {% elseif row.inventoryItem.depositAmount and loan.status in ['RESERVED', 'PENDING'] %}
                    {# DEPOSIT is set on the item but we haven't created a row yet #}
                        {% set deposits = deposits + row.inventoryItem.depositAmount %}
                        <div class="">
                            Refundable deposit {{ tenantInformation.currencySymbol }}
                            {% if is_granted('ROLE_ADMIN') and loan.status in ['RESERVED', 'PENDING'] %}
                                <input type="text" name="deposits[{{ row.id }}]" value="{{ row.inventoryItem.depositAmount }}" size="5" class="deposit-amount">
                            {% else %}
                                <input type="hidden" name="deposits[{{ row.id }}]" value="{{ row.inventoryItem.depositAmount }}" class="deposit-amount">
                                {{ row.inventoryItem.depositAmount }}
                            {% endif %}
                        </div>
                    {% else %}
                        {#No need to show any deposits#}
                    {% endif %}

                    {# CHECK OUT PROMPT #}
                    {% if loan.status in ['RESERVED', 'PENDING'] %}
                        {% if row.inventoryItem.checkOutPrompts|length > 0 %}
                            {% for prompt in row.inventoryItem.checkOutPrompts %}
                                {% set promptsExist = 1 %}
                                <div>
                                    <label style="padding: 10px 0 4px 0; font-weight: normal;">
                                        <input type="checkbox" class="confirm-checkout">&nbsp;
                                        {{ prompt.name }}
                                    </label>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                </td>
                <td style="text-align: right">

                    {% if row.productQuantity < 0 %}-{% endif %}

                    {% if is_granted('ROLE_ADMIN') and loan.status in ['RESERVED', 'PENDING'] %}
                        <input type="text" class="basket-amount row-calc" name="row_fee[{{ row.id }}]" data-id="qty-{{ row.id }}" value="{{ row.fee|number_format(2) }}">
                    {% else %}
                        {{ tenantInformation.currencySymbol }} {{ row.fee|number_format(2) }}
                        <input type="hidden" class="row-calc" value="{{ row.fee }}" data-id="qty-{{ row.id }}">
                    {% endif %}

                    {% if row.inventoryItem.itemType == 'stock' %}
                        <br>{% trans %}public_item.each{% endtrans %}
                    {% endif %}

                    {% if loan.loanRows|length > 1 and not row.isCheckedOut and loan.status in ['RESERVED', 'PENDING'] %}
                        <a href="{{ path('loan_item_remove', {rowId: row.id}) }}" style="margin-top: 4px; display: block">
                            {% trans %}public_basket.remove_item{% endtrans %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        {% for fee in loan.payments %}
            {% if fee.note is null or fee.type == 'PAYMENT' %}
                {#Fee included in items rows, or is a payment received#}
                {#Also refunds for stock items are hidden#}
            {% else %}
                <tr>
                    <td class="hidden-xs"></td>
                    <td>
                        {{ fee.note }}
                    </td>
                    <td style="text-align: right;">
                        {% if fee.type == 'FEE' %}
                            {% set amt = fee.amount %}
                        {% else %}
                            {% set amt = -fee.amount %}
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <input type="text" name="fee[{{ fee.id }}]" class="basket-amount row-calc" value="{{ amt|number_format(2) }}">
                            <a href="{{ path('fee_delete', {id: fee.id}) }}" style="margin-top: 4px; display: block">
                                {% trans %}public_basket.remove_item{% endtrans %}
                            </a>
                        {% else %}
                            {{ tenantInformation.currencySymbol }} {{ amt|number_format(2) }}
                            <input type="hidden" class="row-calc" value="{{ amt }}">
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

        {% if tenantInformation.feature('StockItems') and loan.status in ['RESERVED', 'PENDING']%}
            <tr>
                <td class="hidden-xs"></td>
                <td>
                    <a class="btn btn-xs btn-primary" href="{{ path('add_stock_item', {loanId: loan.id}) }}" id="add-stock-item">Add stock item</a>
                    <a class="btn btn-xs btn-primary" href="{{ path('add_loan_item', {loanId: loan.id}) }}" id="add-loan-item">Add loan item</a>
                    <a class="btn btn-xs btn-primary" href="{{ path('add_service_item', {loanId: loan.id}) }}" id="add-service-item">Add service item</a>
                </td>
                <td></td>
            </tr>
        {% endif %}

        <tr>
            <td class="hidden-xs"></td>
            <td class="basket-total">
                {% trans %}public_basket.total{% endtrans %}
            </td>
            <td class="basket-total">
                <nobr>{{ tenantInformation.currencySymbol }}
                <span class="basketTotalAmount" id="basketTotalAmount">{{ loan.totalFee|number_format(2) }}</span>
                </nobr>
            </td>
        </tr>

        {#Charged to date (all payments with a loan ID)#}
        <tr class="checkout">
            <td class="hidden-xs"></td>
            <td style="text-align:right; color: #10a422">
                {% trans %}public_loan.charged{% endtrans %}
            </td>
            <td style="text-align:right; color: #10a422">
                {{ tenantInformation.currencySymbol }}
                <span class="" id="">{{ loan.chargedTotal|number_format(2) }}</span>
            </td>
        </tr>

        {% if loan.balance != loan.totalFee and loan.balance > 0 %}
            <tr class="checkout">
                <td class="hidden-xs"></td>
                <td class="basket-subtotal">
                    {#DUE TO CHARGE#}
                    {% trans %}public_basket.balance{% endtrans %}
                </td>
                <td class="basket-subtotal">
                    {{ tenantInformation.currencySymbol }}
                    <span class="basketBalanceAmount" id="basketBalanceAmount">{{ loan.balance|number_format(2) }}</span>
                </td>
            </tr>
        {% else %}
            <span class="basketBalanceAmount" style="display:none" id="basketBalanceAmount">{{ loan.balance|number_format(2) }}</span>
        {% endif %}

        {% if loan.contact.balance > 0 and loan.status in ['RESERVED', 'PENDING'] %}
            <tr class="checkout">
                <td class="hidden-xs"></td>
                <td class="basket-subtotal">
                    {% trans %}- balance on account{% endtrans %}
                </td>
                <td class="basket-subtotal">
                    {{ tenantInformation.currencySymbol }}
                    <span class="" id="contactBalanceAmount">{{ loan.contact.balance|number_format(2) }}</span>
                </td>
            </tr>

            <tr class="checkout">
                <td class="hidden-xs"></td>
                <td class="basket-subtotal">
                    {% trans %}Subtotal{% endtrans %}
                </td>
                <td class="basket-subtotal">
                    {{ tenantInformation.currencySymbol }}
                    <span class="" id="loanSubtotalAmount">{{ subtotal|number_format(2) }}</span>
                </td>
            </tr>
        {% else %}
            {#Required for JS#}
            <span id="contactBalanceAmount" style="display: none;">{{ loan.contact.balance|number_format(2) }}</span>
        {% endif %}

        {% if deposits > 0 and loan.status in ['RESERVED', 'PENDING'] %}
            <tr class="checkout">
                <td class="hidden-xs"></td>
                <td class="basket-subtotal">
                    {% trans %}+ refundable deposits {% endtrans %}
                </td>
                <td class="basket-subtotal">
                    {{ tenantInformation.currencySymbol }}
                    <span class="" id="loanDepositsAmount">{{ deposits|number_format(2) }}</span>
                </td>
            </tr>
        {% endif %}

        {#Only show the to-pay amount if we are before checkout, since we can no longer take payment via this screen#}
        {% if loan.status in ['PENDING', 'RESERVED'] %}
        <tr class="checkout">
            <td class="hidden-xs"></td>
            <td class="basket-subtotal">
                {% trans %}To pay{% endtrans %}
            </td>
            <td class="basket-subtotal">
                {{ tenantInformation.currencySymbol }}
                <span class="" id="loanToPayAmount">{{ payment_due|number_format(2) }}</span>
            </td>
        </tr>
        {% endif %}

    </table>

    {% if loan.status in ['RESERVED', 'PENDING'] %}
        <button type="button" id="form-save" class="btn btn-success pull-right submit-action action-save" style="display: none;">Save changes</button>
    {% endif %}

    {% if tenantInformation.setting('postal_loans') and loan.status in ['RESERVED', 'PENDING'] %}
        <h2>{% trans %}shipping.delivery_options{% endtrans %}</h2>
        <div class="row" id="selectChoices">
            <div class="col-md-6">
                <div class="btn-group">
                    {% if loan.collectFrom == "post" %}
                        <button type="button" class="btn btn-default" id="chooseWarehouse">
                            {% trans %}shipping.collect{% endtrans %} {{ loan.collectFromSite.name }}
                        </button>
                        <button type="button" class="btn btn-default active" id="choosePostal">
                            {% trans %}shipping.post{% endtrans %}
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-default active" id="chooseWarehouse">
                            {% trans %}shipping.collect{% endtrans %} {{ loan.collectFromSite.name }}
                        </button>
                        <button type="button" class="btn btn-default" id="choosePostal">
                            {% trans %}shipping.post{% endtrans %}
                        </button>
                    {% endif %}
                </div>
                {{ include('member_site/partials/shipping_quote.html.twig') }}
                <input type="hidden" name="collect_from" value="{{ loan.collectFrom }}" id="collectFrom">

            {% if loan.collectFrom == "post" %}
                <strong>{% trans %}shipping.ship_to{% endtrans %}</strong>
                <div style="text-align: left; padding-bottom: 10px;">
                    {{ loan.contact.address }}<br><br>
                    {% if app.user and app.user.id == loan.contact.id %}
                        <a href="{{ path('fos_user_profile_show') }}" class="btn btn-xs btn-default">{% trans %}shipping.edit_address{% endtrans %}</a>
                    {% endif %}
                </div>
            {% endif %}
            </div>
        </div>
    {% elseif tenantInformation.setting('postal_loans') %}
        <div style="text-align: center; padding-right: 10px;">
            {% if loan.collectFrom == "post" %}
                <div class="alert alert-warning">
                    {% trans %}shipping.post{% endtrans %} :
                    {{ loan.contact.address }}<br><br>
                    <a href="{{ path('loan_print', {id: loan.id}) }}" target="_blank" class="btn btn-xs btn-default">Print</a>
                </div>

            {% else %}
                {% trans %}shipping.collect{% endtrans %} {{ loan.collectFromSite.name }}
            {% endif %}
        </div>
    {% endif %}

    <h2 class="payment-details">Payment details</h2>
    <div class="row checkout payment-details">
        <div class="col-md-6">
            {% set contact = loan.contact %}
            <div id="paymentBlock" style="display:block">
                {{ include('cores/payment_core.html.twig') }}
            </div>
        </div>
    </div>
    <br>

    {% if loan.status == 'RESERVED' or loan.status == 'PENDING' %}
    <div class="row well" id="checkoutButtonRow">
        <div class="col-md-12">
            {% if loan.status == constant('\\AppBundle\\Entity\\Loan::STATUS_PENDING') and is_granted('ROLE_ADMIN') %}
                <a class="btn btn-xs btn-danger buttonDelete pull-left" href="{{ path('loan_delete', {id: loan.id}) }}">
                    Delete this loan
                </a>
            {% endif %}
            {% if loan.status == 'RESERVED' %}
                <a href="{{ path('reservation_cancel', {id: loan.id}) }}" id="buttonCancelReservation" class="btn btn-xs btn-danger pull-left">
                    {% trans %}button_cancel_reservation{% endtrans %}
                </a>
            {% endif %}

            {% if tenantInformation.selfCheckout and canCheckOut == true %}
                {% if loan.status in ['RESERVED', 'PENDING'] %}
                    <button type="button" id="form-checkout" data-text="Check out" class="btn btn-success pull-right checkout submit-action payment-submit" {% if promptsExist == 1 %}disabled{% endif %}>
                        {% if promptsExist == 1 %}
                            Please complete all checks
                        {% else %}
                            Complete check out
                        {% endif %}
                    </button>
                {% endif %}
            {% elseif canCheckOut == false %}
                <div class="alert alert-warning" style="text-align: center">Please complete required contact data before checking out</div>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {{ form_end(form) }}

    <hr>
    <div class="row" style="padding: 10px 10px;">

        <div class="col-md-6">
            {% if loan.notes|length > 0 %}
                {% for note in loan.notes %}
                    {% if is_granted('ROLE_ADMIN') or note.adminOnly != 1 %}
                        {{ include('partials/note.html.twig') }}
                    {% endif %}
                {% endfor %}
            {% else %}
                No notes added yet.
            {% endif %}
            <br><br>
        </div>
        <div class="col-md-6">

            {% if is_granted('ROLE_ADMIN') %}

                <form method="POST" name="add_fee" action="{{ path('loan_add_fee', {loanId: loan.id}) }}">
                    <label class="control-label">Add a fee</label>
                    <div class="help-block">
                        For damages, delays, additional time etc. Fees are charged to the member account immediately.
                    </div>
                    <div class="row" id="add-fee">
                        <div class="col-md-4" style="margin-bottom: 10px;">
                        <span class="input-group">
                            <span class="input-group-addon">{{ tenantInformation.currencySymbol }}</span>
                            <input type="text" name="feeAmount" id="feeAmount" class="form-control input-sm" placeholder="0.00">
                        </span>
                        </div>
                        <div class="col-md-8">
                            <input type="text" name="feeReason" id="feeReason" class="form-control input-sm" placeholder="Reason">
                        </div>
                        <div class="col-md-12">
                            <button type="submit" id="form-fee" class="btn btn-sm btn-success pull-right"  style="margin-top: 10px;">Add fee</button>
                        </div>
                    </div>
                </form>

            {% endif %}

            <br>

            <form method="POST" name="add_note" action="{{ path('loan_add_note', {loanId: loan.id}) }}">

                <label class="control-label">Add notes</label>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="form-group">
                        <label class="form-label" style="font-weight: normal">
                            <input type="checkbox" name="noteIsPublic" value="1" checked> This note will be visible to members
                        </label>
                    </div>
                    {% else %}
                    <input type="hidden" name="noteIsPublic" value="1">
                {% endif %}
                <div class="form-group">
                    <textarea class="form-control input-sm" name="loanNotes" placeholder="" rows="3"></textarea>
                    <button type="submit" id="form-note" class="btn btn-success btn-sm pull-right" style="margin-top: 10px;">Add note</button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}

{% block pagejs %}
    <script>
        var basketTotal   = 0.00;
        var depositsTotal = 0.00;
        var subTotal      = 0.00;
        var toPay         = 0.00;
        var contactBalance = {{ loan.contact.balance|number_format(2) }};
        var dueToCharge    = {{ loan.balance|number_format(2) }};

        $(document).ready(function() {

            calculateLoanTotal();

            var form = $("#paymentForm");

            form.on('click', '#buttonCancelReservation', function() {
                if (window.confirm("Are you sure you want to cancel?")) {
                    return true;
                }
                return false;
            });

            form.on('click', "#chooseWarehouse", function() {
                $("#collectFrom").val('');
                form.attr("action", "{{ path('loan_save', {loanId: loan.id}) }}");
                form.submit();
            });

            form.on('click', "#choosePostal", function() {
                $("#collectFrom").val('post');
                form.attr("action", "{{ path('loan_save', {loanId: loan.id}) }}");
                form.submit();
            });

            form.on('keyup', '.deposit-amount', function() {
                // We don't want the save button here as deposit amount is not stored on loan row so we can't save
                calculateLoanTotal(false);
            });

            form.on('keyup', '.row-calc', function() {
                calculateLoanTotal(true);
            });

            form.on("change", ".confirm-checkout", function() {
                validateCheckout();
            });

            $("#loan_check_out_paymentAmount").on("keyup", function() {
                validateCheckout();
            });

            $("#loan_check_out_paymentMethod").on("change", function() {
                validateCheckout();
            });

            form.on('click', '.action-save', function(e) {
                form.attr("action", "{{ path('loan_save', {loanId: loan.id}) }}");
                form.submit();
                waitButton($(this));
            });

            // When user clicks a card it sets the Stripe payment method
            form.on('click', '.card-select', function(e) {
                window.setTimeout(validateCheckout, 300);
            });

            $(document).on('click', '.buttonDelete', function() {
                if (!window.confirm("Are you sure you want to delete this loan?")) {
                    return false;
                }
            });

        });

        function validateCheckout() {
            var allowCheckOut = true;
            var checkoutButton = $("#form-checkout");
            var paymentValue = $("#loan_check_out_paymentAmount").val();

            // Deposits
            if (paymentValue < depositsTotal) {
                checkoutButton.attr("disabled", true).html("{% trans %}public_loan.button_deposits_require_payment{% endtrans %}");
                allowCheckOut = false;
            }

            // Continue to check-out prompts if deposits are OK
            if (allowCheckOut == true) {
                $(".confirm-checkout").each(function(){
                    if (!$(this).is(":checked")) {
                        allowCheckOut = false;
                    }
                });
                if (allowCheckOut == false) {
                    checkoutButton.attr("disabled", true).html("{% trans %}public_loan.button_complete_checks{% endtrans %}");
                }
            }

            // Confirm user has chosen a payment method
            if (allowCheckOut == true) {
                if (paymentValue > 0 && !$("#loan_check_out_paymentMethod").val()) {
                    checkoutButton.attr("disabled", true).html("{% trans %}public_loan.button_choose_payment_method{% endtrans %}");
                    allowCheckOut = false;
                }
            }

            // Item can be loaned
            $(".cannot-checkout").remove();
            $(".item-location").each(function(){
                if (!$(this).val()) {
                    $(this).after('<div class="cannot-checkout" style="color: #de7c34">{% trans %}public_loan.cannot_check_out{% endtrans %}</div>');
                    checkoutButton.attr("disabled", true).html("{% trans %}public_loan.cannot_check_out{% endtrans %}");
                    allowCheckOut = false;
                }
            });

            // All tests pass, ensure user can check out now
            if (allowCheckOut == true) {
                checkoutButton.attr("disabled", false).html("{% trans %}public_loan.button_check_out{% endtrans %}");
            }
        }

        function calculateLoanTotal(hideButton) {

            basketTotal   = 0.00;
            depositsTotal = 0.00;

            $(".row-calc").each(function() {
                var qtyId = $(this).data('id');
                var qty = 1;
                if (qtyId) {
                    qty = $("#"+qtyId).val();
                }
                basketTotal += $(this).val() * qty;
            });

            console.log('basketTotal: '+basketTotal);
            console.log('dueToCharge: '+dueToCharge);
            console.log("Contact balance: "+contactBalance);

            if (contactBalance > 0) {
                subTotal = dueToCharge - contactBalance;
            } else {
                subTotal = dueToCharge;
            }

            console.log('dueToCharge - contactBalance = subTotal : '+subTotal);

            if (subTotal < 0) {
                subTotal = 0.00;
            }

            $(".deposit-amount").each(function() {
                depositsTotal += $(this).val() * 1;
            });

            console.log('depositsTotal : '+depositsTotal);

            toPay = depositsTotal + subTotal;

            console.log('toPay = depositsTotal + subTotal : '+toPay);

            if (toPay < 0) {
                toPay = 0;
            }

            $("#basketTotalAmount").html(basketTotal.toFixed(2));
            $("#loanDepositsAmount").html(depositsTotal.toFixed(2));
            $("#loanSubtotalAmount").html(subTotal.toFixed(2));
            $("#loanToPayAmount").html(toPay.toFixed(2));

            {% if loan.status in ['PENDING', 'RESERVED'] and is_granted("ROLE_ADMIN") %}
                // Add any overdue balance due to pay
                if (contactBalance < 0) {
                    toPay += -contactBalance;
                }
                $("#loan_check_out_paymentAmount").val(toPay.toFixed(2));
                if (toPay == 0) {
                    $(".payment-details").hide();
                } else {
                    $(".payment-details").show();
                }
            {% else %}
                $("#loan_check_out_paymentAmount").val(toPay.toFixed(2));
                // Hide the payment amount field, but set values based on member's credit limit
                $(".admin-only").hide();
                if (toPay > 0) {
                    {% if tenantInformation.selfCheckout %}
                    var availableCredit = creditLimit*1 + accountBalance*1;
                    console.log("Credit limit "+creditLimit);
                    console.log("Account balance "+accountBalance);
                    console.log("Available credit "+availableCredit);
                    if (stripePaymentMethodId > 0) {
                        $("#loan_check_out_paymentMethod").val(stripePaymentMethodId);
                        $("#form-checkout").html("Check out (take payment)");
                        $("#checkoutButtonRow").after('<div class="help-block" style="text-align: right">Payment will be taken by card</div>');
                    } else if (availableCredit > toPay) {
                        $("#loan_check_out_paymentAmount").val(0);
                    } else if (creditLimit == null) {
                        // No credit limit, carry on regardless of account balance
                        $("#loan_check_out_paymentAmount").val(0);
                    } else if (availableCredit < toPay && creditLimit != null) {
                        $("#form-checkout").after("<div class=\"alert alert-warning\">{% trans %}public_loan.not_enough_credit{% endtrans %}</div>").remove();
                    } else {
                        $("#form-checkout").after("<div class=\"alert alert-warning\">{% trans %}public_loan.no_payment_methods{% endtrans %}</div>").remove();
                    }
                    {% else %}
                    $(".payment-details").hide();
                    {% endif %}
                } else {
                    $(".payment-details").hide();
                }

            {% endif %}

            if (hideButton == true) {
                $(".hideOnFormChange").attr('disabled', true);
                $(".action-save").show();
                $(".checkout").hide();
            }

            validateCheckout();
        }

        $("#paymentForm").on('keyup', '.save-on-change', function() {
            $(".hideOnFormChange").attr('disabled', true);
            $(".action-save").show();
            $(".checkout").hide();
        });

    </script>
{% endblock %}
