{% extends 'member_site/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block body %}

    <h2 id="site-member-search">
        Find a loan or reservation ...
    </h2>

    {% if loans|length > 0 %}

        <table class="table table-responsive data-table dataTable">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>ID</th>
                    <th>Items</th>
                    <th>Due</th>
                </tr>
            </thead>
            <tbody class="search-result">
            {% for loan in loans %}
                {% set dueInAt = '' %}
                <tr>
                    <td>
                        {{ include('partials/loan_status_label.html.twig') }}
                    </td>
                    <td data-sort="{{ loan.id }}">
                        <a href="{{ path('public_loan', {loanId: loan.id}) }}">{{ loan.id }} <br>
                            {{ loan.contact.name }}</a></td>
                    <td>
                        {% for row in loan.loanRows %}
                            {% if row.inventoryItem.itemType == 'loan' %}
                            {% set dueInAt = row.dueInAt|date() %}
                            {% endif %}
                            <div style="margin-bottom: 10px;">
                                <strong>{{ row.inventoryItem.name }}</strong><br>
                                {{ row.dueOutAt|date("l F j, g:i a") }} to <br>
                                {{ row.dueInAt|date("l F j, g:i a") }} ({{ row.duration }} {% transchoice row.duration %}days{% endtranschoice %})
                            </div>
                        {% endfor %}
                    </td>
                    <td data-sort="{{ dueInAt|date("Y-m-d") }}">
                        {{ dueInAt|date("l F j") }}<br>
                        {{ dueInAt|date("g:i a") }}<br>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No loans found</p>
    {% endif %}

{% endblock %}

{% block pagejs %}
    <script>
        $(document).ready(function() {
            $("#loan-search").focus();

            {% if app.request.get('loan-search') %}
            var options = {
                exclude : [".btn", ".label"],
                separateWordSearch: false
            };
            $(".search-result").mark("{{ app.request.get('loan-search') }}", options);
            {% endif %}

            $('.data-table').DataTable({
                pageLength: 50,
                ordering: true
            });
        });
    </script>
{% endblock %}