<div class="row">
    <div class="col-md-4">

        {% if help is defined %}
            <span class="help">{{ help }}</span>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.lastName) }}
            </div>
        </div>
        {{ form_row(form.email) }}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.telephone) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.membershipNumber) }}
            </div>
        </div>

        <div>
            <p><strong>Access to your Lend Engine site</strong></p>
            {{ form_row(form.enabled) }}
            {% if contact.id > 0 %}
                {#{{ form_row(form.autoPassword) }}#}
            {% else %}
                {{ form_row(form.sendWelcomeEmail) }}
            {% endif %}
        </div>

        {% if is_granted('ROLE_SUPER_USER') %}
            {{ form_row(form.roles) }}
        {% endif %}

    </div>
    <div class="col-md-4">
        {{ form_row(form.addressLine1) }}
        {{ form_row(form.addressLine2) }}
        {{ form_row(form.addressLine3) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.addressLine4) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.countryIsoCode) }}
            </div>
        </div>

        {{ form_row(form.locale) }}
        {{ form_row(form.subscriber) }}
    </div>
    <div class="col-md-4">

        {% if tenantInformation.feature('ContactField') %}
            {% if customFieldsExist %}
                {% for field in customFields %}
                    {{ form_row(attribute(form, "fieldValue#{field.id}")) }}
                {% endfor %}
            {% else %}
                <div class="page-help">
                    Add extra custom fields at Settings &raquo; Contact fields.
                </div>
            {% endif %}
        {% else %}
            <br>
            <div class="upgrade">
                On higher pay plans, you can also add extra information about your members using custom fields.
                <br><br>Member custom fields are not available on your plan.
            </div>
        {% endif %}

    </div>
</div>