{% if contact.id %}
<div class="row">
    <div class="col-md-8">
        <h4>
            Notes
            <a href="{{ path('add_note') }}?&contactId={{ contact.id }}&goto=contact" class="modal-link btn btn-xs btn-default">Add a note</a>
        </h4>
        {% for note in contact.notes|reverse %}
            {{ include('partials/note.html.twig') }}
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h4>Flags</h4>
        {% if contact.preventBorrowing %}
            Prevent
        {% else %}
            Allow
        {% endif %}
        borrowing &nbsp;
        <a href="{{ path('add_note') }}?&contactId={{ contact.id }}&flag=preventBorrowing&goto=contact"
           class="modal-link btn btn-xs btn-default"
        >Change</a>

        <h4>Donated items</h4>
        <style>
            .item-fee { display: none }
        </style>
        {% if contact.donatedItems|length > 0 %}
            <div class="help-block">
                Each time these items are checked out, the donor will be sent an email.
                <br>Edit the contents of the email at Settings > Templates.
            </div>
            {% for item in contact.donatedItems %}
                <div style="clear: both; padding-bottom: 20px;"></div>
                {{ include('admin/item/item_mini.html.twig') }}
            {% endfor %}
        {% else %}
            <div>
                This person hasn't donated any items.
            </div>
        {% endif %}
    </div>
</div>
{% else %}
    <div class="page-help">
        Once you've saved the contact, here's where you'll be able to add notes.
    </div>
{% endif %}

