{% extends 'modal.html.twig' %}

{% block modalTitle %}{{ title }}{% endblock %}
{% block modalSubTitle %}{{ subTitle|raw }}{% endblock %}

{% block modalBody %}

    {{ form_start(form, {'attr': {'id': 'event_admin'}}) }}
    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <div class="row">
        <div class="col-md-7">
            {{ form_row(form.date) }}
            <div id="date-container"></div>
        </div>
        <div class="col-md-5">
            {{ form_row(form.type) }}
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.timeFrom) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.timeChangeover) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.timeTo) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 help-block">
                    Loans and reservations end at changeover time. If you don't set one,
                    the slot's START time will be used for the beginning of the booking, and the slot END time for the end of the booking.
                </div>
            </div>
            {{ form_row(form.site) }}
            {{ form_row(form.repeat) }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    <button class="modal-submit btn bg-green">Add</button>

    <script>
        $(document).ready(function () {
            var datePickerField = $("#opening_hours_date");
            datePickerField.dateRangePicker({
                format: 'ddd MMM D YYYY',
                autoClose: true,
                singleDate: false,
                singleMonth: false,
                showShortcuts: false,
                inline: true,
                alwaysOpen: true,
                container: '#date-container',
                setValue: function (s) {
                    if (!$(this).attr('readonly') && !$(this).is(':disabled') && s != $(this).val()) {
                        $(this).val(s)
                    }
                }
            }).bind('datepicker-change', function (event, obj) {

            });

            datePickerField.data('dateRangePicker').setDateRange('{{ today }}', '{{ today }}', true);

            // Validate the form
            $("#opening_hours").delegate("#opening_hours_timeFrom", "change", function(event) {
                if ($("#opening_hours_timeFrom").val().length < 4) {
                    alert('Please set a valid opening time (4 digit 24-hour time)');
                    $("#opening_hours_timeFrom").val("").focus();
                }
            });

            $("#opening_hours").delegate("#opening_hours_timeTo", "change", function(event) {
                if ($("#opening_hours_timeTo").val().length < 4) {
                    alert('Please set a valid closing time (4 digit 24-hour time)');
                    $("#opening_hours_timeTo").val("").focus();
                }
            });

        });
    </script>

{% endblock %}

