{% extends 'modal.html.twig' %}

{% block modalTitle %}{{ title }}{% endblock %}
{% block modalSubTitle %}{{ subTitle|raw }}{% endblock %}

{% block modalBody %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <div class="row">
        <div class="col-md-8">{{ form_row(form.name) }}</div>
        <div class="col-md-4">{{ form_row(form.provider) }}</div>
    </div>

    <div class="row">
        <div class="col-md-7">{{ form_row(form.afterEachLoan) }}</div>
        <div class="col-md-1"></div>
        <div class="col-md-4">{{ form_row(form.interval) }}</div>
    </div>

    {{ form_row(form.description) }}
    {{ form_row(form.preventBorrowsIfOverdue) }}
    {{ form_row(form.isActive) }}

    {{ form_end(form) }}

{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    <button class="modal-submit btn bg-green">Save maintenance plan</button>
{% endblock %}

