{# app/Resources/views/modals/membershipType.html.twig #}
{% extends 'modal.html.twig' %}

{% block modalTitle %}{{ title }}{% endblock %}
{% block modalSubTitle %}{{ subTitle|raw }}{% endblock %}

{% block modalBody %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.price) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.duration) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.discount) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.isSelfServe) }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    <button class="modal-submit btn bg-green">Save membership type</button>
{% endblock %}

