{# app/Resources/views/modals/page.html.twig #}
{% extends 'modal.html.twig' %}

{% block modalTitle %}{{ title }}{% endblock %}
{% block modalSubTitle %}{{ subTitle|raw }}{% endblock %}

{% block modalBody %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.visibility) }}
        </div>
    </div>

        <div class="tab-content">

            <div class="tab-pane {% if not page.url %}active{% endif %}" id="tab_1">

                Add your page content below, or <a class="" href="#tab_2" data-toggle="tab">add a link</a>.
                Links appear in the member site menus just like pages, but take the user to the link URL.
                <br><br>
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}

            </div>

            <div class="tab-pane {% if page.url %}active{% endif %}" id="tab_2">

                {{ form_row(form.url) }}

                Go back to <a class="" href="#tab_1" data-toggle="tab">add a page</a> instead.

            </div>

        </div>

    {{ form_end(form) }}

{% endblock %}


