{# app/Resources/views/emails/loan_extend.html.twig #}
{% extends 'emails/template.html.twig' %}

{% trans_default_domain 'emails' %}

{% block heading %}{{ 'le_email.extend.title'|trans() }}{% endblock %}

{% block content %}

    {% if message %}
        <div style="padding: 10px; background-color: #d5f996; border-radius: 4px; margin-bottom: 10px;">
            {{ message }}
        </div>
    {% endif %}

    <p>Loan {{ loanRow.loan.id }} | {{ loanRow.loan.contact.name }}</p>
    <p>{{ tenantInformation.getEmailLoanExtensionHeader|raw }}</p>

    <table>
        <tr>
            {% if loanRow.inventoryItem.imageName %}
            <td valign="top" style="padding-right: 15px; width: 60px;">
                <img style="width:60px; float: left; margin-right: 10px;" src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/thumbs/{{ loanRow.inventoryItem.imageName }}">
            </td>
            {% endif %}
            <td valign="top" >
                "{{ loanRow.inventoryItem.name }}" {{ 'le_email.extend.due_back'|trans() }}
                <strong>{{ loanRow.dueInAt|date('d F g:i a') }}</strong>
            </td>
        </tr>
    </table>

    <br>
    <br>
    <p>{{ tenantInformation.getEmailLoanExtensionFooter|raw }}</p>

{% endblock %}