{% extends 'emails/template.html.twig' %}

{% trans_default_domain 'emails' %}

{% block heading %}{{ 'le_email.checkout.title'|trans() }}{% endblock %}

{% block content %}

    <p>{{ tenantInformation.getEmailLoanConfirmationHeader|raw }}</p>
    <br>

    <table width="100%" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th align="left" style="padding-right: 15px">&nbsp;</th>
            <th align="left" style="padding-right: 15px">&nbsp;</th>
        </tr>
        </thead>
        {% for row in loanRows %}
            <tr style="margin-bottom:20px;">
                <td valign="top" style="padding-right: 15px; width: 60px;">
                    {% if row.inventoryItem.imageName %}
                        <img style="width:60px; float: left; margin-right: 10px;" src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/thumbs/{{ row.inventoryItem.imageName }}">
                    {% endif %}
                    <br><br>
                </td>
                <td valign="top" style="padding-right: 15px">
                    <strong>{{ row.inventoryItem.name }}</strong>

                    {% if row.inventoryItem.itemType == 'stock' %}
                        <div>
                            Qty: {{ row.productQuantity }}<br>
                            {{ 'le_email.th_cost'|trans() }}: {{ row.fee|number_format(2) }}
                        </div>
                    {% elseif row.inventoryItem.itemType == 'service' %}
                        <div>Qty: {{ row.productQuantity }}</div>
                    {% else %}
                        <div>
                            {{ row.dueOutAt|date('d F g:i a') }} - {{ row.dueInAt|date('d F g:i a') }}<br>
                            {{ 'le_email.th_fee'|trans() }}: {{ row.fee|number_format(2) }}
                        </div>
                    {% endif %}

                    {% if row.inventoryItem.description|length > 0 %}
                        <div style="padding: 6px 0; font-size: 12px;">
                            <strong>{{ 'le_email.item_description'|trans() }}:</strong><br />
                            {{ row.inventoryItem.description|nl2br }}</div>
                    {% endif %}

                    {% if row.inventoryItem.componentInformation|length > 0 %}
                        <div style="padding: 6px 0; font-size: 12px;">
                            <strong>{{ 'le_email.item_contains'|trans() }}:</strong><br />
                            {{ row.inventoryItem.componentInformation|nl2br }}</div>
                    {% endif %}

                    {% if row.inventoryItem.fileAttachments|length > 0 %}
                        {% for file in row.inventoryItem.fileAttachments %}
                            {% if file.sendToMemberOnCheckout == true %}
                                <div style="padding: 6px 0; font-size: 12px">
                                    {{ 'le_email.see_attachment'|trans() }}
                                    <a href="{{ tenantInformation.accountDomain(true) }}/file/{{ tenantInformation.schema }}/{{ file.fileName }}">{{ file.fileName }}</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if row.inventoryItem.sites|length > 0 and row.inventoryItem.itemType == 'loan' %}
                        <div style="padding: 6px 0; font-size: 12px; color: #CC0000;">
                            {{ 'le_email.return_sites'|trans() }}:
                            <ul style="padding-left: 0">
                                {% for site in row.inventoryItem.sites %}
                                    <li>
                                        <strong>{{ site.name }}</strong><br>
                                        {{ site.address }}<br>
                                        {{ site.postCode }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <p>{{ tenantInformation.getEmailLoanConfirmationFooter|raw }}</p>

    {% if tenantInformation.loanTerms %}
        <br><br>
        <p>
            {{ tenantInformation.loanTerms|raw|nl2br }}
        </p>
    {% endif %}

{% endblock %}