{# app/Resources/views/emails/reservation_confirm.html.twig #}
{% extends 'emails/template.html.twig' %}
{% trans_default_domain 'emails' %}

{% block heading %}
    {{ 'le_email.reservation_confirm.title'|trans() }}<br>
    Loan #{{ loan.id }} : {{ loan.contact.name }}
{% endblock %}

{% block content %}

    <p>{{ tenantInformation.getEmailReservationHeader|raw }}</p>
    <br>

    <table width="100%">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        {% for row in loanRows %}
            <tr style="margin-bottom: 20px;">
                <td valign="top" style="padding-right: 15px; width: 60px; height: 100px">
                    {% if row.inventoryItem.imageName %}
                        <img style="width:60px; float: left; margin-right: 10px;" src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/thumbs/{{ row.inventoryItem.imageName }}">
                    {% endif %}
                </td>
                <td valign="top">
                    <strong>{{ row.inventoryItem.name }}</strong>

                    {% if row.inventoryItem.itemType == 'stock' or row.inventoryItem.itemType == 'service' %}
                    <div>
                        Qty: {{ row.productQuantity }}
                    </div>
                    {% else %}
                    <div>
                        {{ row.dueInAt|date('c e I') }}<br/>
                        {{ row.dueOutAt|date('d F Y g:i a') }} - {{ row.dueInAt|date('d F Y g:i a') }}
                    </div>
                    {% endif %}

                    {% if row.inventoryItem.description|length > 0 %}
                        <div style="padding: 4px; font-size: 12px;">
                            <strong>{{ 'le_email.item_description'|trans() }}:</strong><br />
                            {{ row.inventoryItem.description|nl2br|raw }}</div>
                    {% endif %}

                    {% if row.inventoryItem.componentInformation|length > 0 %}
                        <div style="padding: 4px; font-size: 12px;">
                            <strong>{{ 'le_email.item_contains'|trans() }}:</strong><br />
                            {{ row.inventoryItem.componentInformation|nl2br }}</div>
                    {% endif %}

                    {% if row.inventoryItem.fileAttachments|length > 0 %}
                        {% for file in row.inventoryItem.fileAttachments %}
                            {% if file.sendToMemberOnCheckout == true %}
                                <div style="padding: 4px; font-size: 12px">{{ 'le_email.see_attachment'|trans() }} {{ file.fileName }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <br>
    <p>
        <strong>{{ loan.contact.name }}</strong><br>
        {% if loan.contact.addressLine1 %}{{ loan.contact.addressLine1 }}<br>{% endif %}
        {% if loan.contact.addressLine2 %}{{ loan.contact.addressLine2 }}<br>{% endif %}
        {% if loan.contact.addressLine3 %}{{ loan.contact.addressLine3 }}<br>{% endif %}
        {% if loan.contact.addressLine4 %}{{ loan.contact.addressLine4 }}<br>{% endif %}
    </p>
    <br>
    <p>{{ tenantInformation.getEmailReservationFooter|raw }}</p>

{% endblock %}