<div id="nav-search" style="padding-top:8px">

    <form method="GET" class="sidebar-form" action="{{ path('item_list') }}">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search items ..." value="{{ app.request.query.get("search1") }}">
            <span class="input-group-btn">
                <button type="submit" name="search-form" id="search-btn1" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>

    <form method="GET" class="sidebar-form" action="{{ path('contact_list') }}">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search contacts ..." value="{{ app.request.query.get("search2") }}">
            <span class="input-group-btn">
                <button type="submit" name="search-form" id="search-btn2" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>

    <form method="GET" class="sidebar-form" action="{{ path('loan_search') }}">
        <div class="input-group">
            <input type="text" name="loan-search" class="form-control" placeholder="Search loans ...">
            <span class="input-group-btn">
                <button type="submit" name="search-form" id="search-btn3" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>

    <div class="sidebar-collapse " style="padding:0 10px 10px 10px;">

        <div class="btn-group btn-block">
            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus"></i> Quick add <span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-block">
                <li><a href="{{ path('item') }}?type=loan">Loan item</a></li>

                {% if tenantInformation.getFeature('Kits') %}
                    <li><a href="{{ path('item') }}?type=kit">Kit item</a></li>
                {% else %}
                    <li><a href="{{ path('billing') }}">Kit item <span style="font-size: 11px; color: #aaa;">(upgrade required)</span></a></li>
                {% endif %}

                {% if tenantInformation.getFeature('StockItems') %}
                    <li><a href="{{ path('item') }}?type=stock">Stock item <label class="label bg-orange">NEW</label></a></li>
                {% else %}
                    <li><a href="{{ path('billing') }}?type=stock">Stock item <span style="font-size: 11px; color: #aaa;">(upgrade required)</span></a></li>
                {% endif %}

                <li><a href="{{ path('item') }}?type=service">Service <label class="label bg-orange">NEW</label></a></li>

                <li><a href="{{ path('contact') }}">Contact</a></li>
                {% if tenantInformation.setting('ft_events') %}
                <li><a href="{{ path('event_admin') }}">Event</a></li>
                {% endif %}
                <li><a href="{{ path('member_search') }}">Loan <span style="font-size: 11px; color: #aaa;">(via member site)</span></a></li>
            </ul>
        </div>

    </div>
</div>