{% trans_default_domain 'member_site' %}

{% if contact.creditCards|length > 0 %}
    <div class="row">
        <div class="col-md-12">
            {% if contact.creditCards|length > 0 %}
                <div style="overflow: hidden">
                    {% for card in contact.creditCards %}
                        <span class="creditCard" id="{{ card.cardId }}">
                            <div class="creditCardText">
                                <div style="font-size: 14px;">{{ card.brand|upper }}</div>
                                XXXX XXXX XXXX {{ card.last4 }}<br />
                                {{ card.expMonth }} / {{ card.expYear }}
                            </div>

                            <div style="padding: 6px 0;">
                            <a class="btn btn-primary btn-xs card-select" onClick="setCard('{{ card.cardId }}'); return false;">{% trans %}public_add_credit.use_this_card{% endtrans %}</a>
                            <a class="pull-right card-delete" style="padding: 4px;" href="/remove-payment-method?paymentMethodId={{ card.cardId }}&c={{ contact.id }}">{% trans %}public_add_credit.remove_card{% endtrans %}</a>
                            </div>
                        </span>
                    {% endfor %}
                </div>
                <p>
                    {% trans %}public_add_credit.choose_card{% endtrans %}<br />
                </p>
            {% else %}

            {% endif %}
        </div>
    </div>
{% endif %}