<div class="note-wrapper {% if note.adminOnly %}admin-only{% endif %}" id="note-{{ note.id }}">
    <div class="note-head pull-left">
        {% if note.adminOnly %}
            <i class="fa fa-user-secret session-user" data-toggle="tooltip" title="Visible for administrators only"></i>
        {% endif %}
        <strong>{{ note.createdBy.firstName }} {{ note.createdBy.lastName }}</strong>,
        {{ note.createdAt|date('d M Y g:i a') }}
        {% if note.loan %}
            : loan {{ note.loan.id }}
        {% endif %}
    </div>
    <div class="clearfix"></div>
    {% if note.inventoryItem %}
    <div class="note-item">
        <a href="{{ path('public_product', {productId: note.inventoryItem.id}) }}">{{ note.inventoryItem.name }}</a>
    </div>
    {% endif %}
    <div class="note-body">
        {{ note.text | raw | nl2br }}
    </div>

</div>