{% extends 'base.html.twig' %}

{% block pageTitle %}My account{% endblock %}

{% block title %}My account{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12" style="padding-left: 20px;">
            <div style="color: #3f3b55; padding: 20px; background-color: #fafafa">
                <div style="font-size: 60px; font-weight: bold;">100% for the planet.</div>
                <div style="font-size:22px; font-weight: normal; margin-bottom: 10px">
                    All our profit is directed towards minimising climate change.
                </div>
                <p>
                    We started Lend Engine to help more organisations lend more items, with the goal of more people borrowing things. <br>
                    Fewer people buying new things means fewer resources used in over-consumption, and less waste.<br>
                    We're now taking that a step further, by directing all of our profits towards initiatives that combat climate change.
                    <a href="https://www.lend-engine.com/for-the-planet" target="_blank">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-md-12" style="padding-left: 20px;">

            {% if tenantInformation.accountStatus == 'CANCELLED' %}
                <br>
                <div class="alert alert-warning">
                    Your account has been cancelled. Please choose a plan to re-enable.
                </div>
            {% endif %}

            {% if tenantInformation.plan %}

            {% else %}
            <h1>Choose a plan.</h1>
            <p>
                If you choose a paid plan, you'll be prompted to add credit card details, which will be charged each month on the day you first subscribed.
                <br>You can cancel at any time. Our subscriptions are handled securely by Stripe.com and we never see or store your card details.
            </p>
            {% endif %}

            <div class="row">

                <style>
                    div.plan-content {
                        padding: 0 20px 20px 20px;
                    }

                    div.plan-wrapper.active {
                        border: 1px solid #3f3b55;
                        border-radius: 4px;
                    }

                    .plan-active {
                        background-color: #3f3b55;
                        padding: 5px;
                        font-size: 0.8em;
                        color: #eec853;
                        font-weight: bold;
                    }

                    h3 {
                        font-weight: bolder;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #eee;
                    }

                    .plan-content ul {
                        list-style: none;
                        padding-left: 0;
                    }

                    .plan-content ul li {
                        border-bottom: 1px dotted #eee;
                        padding: 5px 0;
                    }

                    .plan-content .price {
                        font-size: 26px;
                        padding-bottom: 15px;
                        font-weight: bolder;
                    }

                    .plan-content .price span {
                        font-size: 13px;
                        font-weight: normal;
                    }
                </style>

                <form method="POST" action="{{ path('billing') }}" id="subsForm">

                    <input type="hidden" name="plan" id="planCode" value="">
                    <input type="hidden" id="stripeToken" name="stripeToken" value="">

                    {% for plan in plans %}

                        <div class="col-md-3">

                            <div class="plan-wrapper {% if tenantInformation.plan == plan.code %}active{% endif %}">

                                {% if tenantInformation.plan == plan.code %}
                                    <div class="plan-active">
                                        This is your plan
                                        {% if subscription %}
                                            {% if subscription.plan.amount < plan.amount %}
                                                <div style="padding: 4px 0; color: #fff;">
                                                    You're paying a discounted rate of &pound;{{ subscription.plan.amount/100|number_format(2) }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div style="padding: 4px">&nbsp;</div>
                                {% endif %}

                                <div class="plan-content">
                                    <h3>{{ plan.name }}</h3>

                                    {% if plan.code == 'free' %}

                                        <div class="price">Nothing!</div>
                                        <ul>
                                            <li><i class="fa fa-check"></i> Up to 100 items</li>
                                            <li><i class="fa fa-check"></i> Up to 100 members</li>
                                            <li><i class="fa fa-check"></i> Up to 10 live events</li>
                                            <li><i class="fa fa-check"></i> One site</li>
                                            <li><i class="fa fa-check"></i> Unlimited loans</li>
                                            <li><i class="fa fa-check"></i> Unlimited reservations</li>
                                            <li><i class="fa fa-check"></i> Member website</li>
                                            <li><i class="fa fa-check"></i> Credit card processing</li>
                                        </ul>

                                    {% elseif plan.code == 'starter' %}

                                        <div class="price">£{{ plan.amount/100|number_format(2) }}<span> GBP per month*</span></div>
                                        <ul>
                                            <li>As free plan plus:</li>
                                            <li><i class="fa fa-check"></i> Up to 500 items</li>
                                            <li><i class="fa fa-check"></i> Up to 500 members</li>
                                            <li><i class="fa fa-check"></i> Up to 50 live events</li>
                                            <li><i class="fa fa-check"></i> One site</li>
                                            <li><i class="fa fa-check"></i> Event booking + attendees</li>
                                            <li><i class="fa fa-check"></i> Automated emails</li>
                                            <li><i class="fa fa-check"></i> Refundable deposits</li>
                                            <li><i class="fa fa-check"></i> Customise member emails</li>
                                            <li><i class="fa fa-check"></i> Private member site</li>
                                            <li><i class="fa fa-check"></i> Add web pages and links</li>
                                            <li><i class="fa fa-check"></i> Kits (bundles) of items</li>
                                            {#<li><i class="fa fa-check"></i> Sell consumables</li>#}
                                        </ul>

                                    {% elseif plan.code == 'plus' %}

                                        <div class="price">£{{ plan.amount/100|number_format(2) }} <span>GBP per month*</span></div>
                                        <ul>
                                            <li>As starter plan plus:</li>
                                            <li><i class="fa fa-check"></i> Up to 2k items</li>
                                            <li><i class="fa fa-check"></i> Up to 2k members</li>
                                            <li><i class="fa fa-check"></i> Up to 100 live events</li>
                                            <li><i class="fa fa-check"></i> Up to 10 sites</li>
                                            <li><i class="fa fa-check"></i> Your domain name/URL</li>
                                            <li><i class="fa fa-check"></i> Custom website themes</li>
                                            <li><i class="fa fa-check"></i> Item custom fields</li>
                                            <li><i class="fa fa-check"></i> Item attachments</li>
                                            <li><i class="fa fa-check"></i> Member custom fields</li>
                                            <li><i class="fa fa-check"></i> Attach files to contacts</li>
                                            <li><i class="fa fa-check"></i> Barcode labels</li>
                                            <li><i class="fa fa-check"></i> Check-out prompts</li>
                                            <li><i class="fa fa-check"></i> Check-in prompts</li>
                                            <li><i class="fa fa-check"></i> Multiple languages</li>
                                            <li><i class="fa fa-check"></i> Service/maintenance schedule</li>
                                        </ul>

                                    {% elseif plan.code == 'business' %}

                                        <div class="price">£{{ plan.amount/100|number_format(2) }} <span>GBP per month*</span></div>
                                        <ul>
                                            <li>As plus plan plus:</li>
                                            <li><i class="fa fa-check"></i> Up to 10k items</li>
                                            <li><i class="fa fa-check"></i> Up to 10k members</li>
                                            <li><i class="fa fa-check"></i> Up to 500 live events</li>
                                            <li><i class="fa fa-check"></i> Up to 30 sites</li>
                                            <li><i class="fa fa-check"></i> Remove Lend Engine branding</li>
                                            <li><i class="fa fa-check"></i> Restrict items to sites</li>
                                            <li><i class="fa fa-check"></i> Restrict members to sites**</li>
                                        </ul>

                                    {% endif %}

                                    {% if tenantInformation.plan == plan.code %}
                                        <br><br>
                                        <a class="btn btn-danger" href="{{ path('cancel_subscription', {id: tenantInformation.subscriptionId}) }}">Cancel subscription</a>
                                        <div class="help-block" style="font-size: 0.8em">
                                            Your account will become inaccessible, and no refunds will be made.
                                            Data will be held for 30 days and then removed, unless you ask us to remove it sooner.
                                        </div>
                                    {% else %}
                                        <br><br>
                                        <a id="{{ plan.stripeCode }}" class="btn btn-success" title="{{ plan.stripeCode }}" href="https://www.lend-engine.com/subscribe?account={{ tenantInformation.accountCode }}&planCode={{ plan.stripeCode }}&token={{ token }}">Choose this plan</a>
                                    {% endif %}

                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </form>


            </div>

            <div class="row">
                <div class="col-md-12" style="padding: 30px">
                    * If your card is not in GBP, then your bank will convert to your local currency.
                    <br>** Coming soon. If you'd like to get involved with development, please get in touch.
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block pagejs %}
    {#If we've not already included it (if organisation is using Stripe)#}
    {% if tenantInformation.stripeAccessToken|length == 0 %}
        <script src="https://js.stripe.com/v3/"></script>
    {% endif %}
{% endblock %}