{% extends 'base.html.twig' %}

{% block pageCss %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgbkO6VOtnvsh1aqEExrv6HSQzSDsO2Ik"></script>
    <script type="text/javascript">

        function add_markers() {

            var geocoder = new google.maps.Geocoder();
            var marker;

            geocoder.geocode({'address': '{{ tenantInformation.orgPostcode }}, {{ tenantInformation.country }}'}, function(results, status)
            {
                if (status == google.maps.GeocoderStatus.OK) {

                    var _position = { lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()};
                    var mapOptions = {
                        zoom: 12,
                        center: _position
                    };
                    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

                    {% for location in contactLocations %}
                    addMarker(map, {{ location.lat }}, {{ location.lng }});
                    {% endfor %}
                } else {
                    console.log(status);
                }
            });

            function addMarker(map, lat, long) {
                var position = {lat: lat, lng: long};
                console.log(position);
                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        scale: 6,
                        strokeColor: '#CC0000',
                        strokeWeight: 1,
                        fillColor: '#CC0000',
                        fillOpacity: 0.2
                    }
                });
            }
        }

        window.onload = function() {
            add_markers();
        }
    </script>
{% endblock %}

{% block pageTitle %}Dashboard{% endblock %}

{% block body %}

    {% if isMultiSite %}
        <div class="row">
            <div class="col-md-12">
                {% if activeSite %}
                    <div class="alert bg-brown">
                        <h4>You're currently working at <strong>{{ activeSite.name }}</strong></h4>
                        <p>
                            This will define your default check-in location.
                        </p>
                        <a href="{{ path('choose_site') }}" class="modal-link" id="change-site-link">Change site</a>
                    </div>
                {% else %}
                    <a href="{{ path('choose_site') }}" class="modal-link" id="choose-site-link" style="display: none;">Choose the site you are working at today</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-8">
            <div class="well" style="height:300px; overflow: scroll">
                <h4>Latest features and updates</h4>

                <p>19th November 2019</p>
                <ul>
                    <li>When copying items with 'group similar items' OFF, images will no longer be copied to the new item, allowing you to manage copies separately.</li>
                </ul>

                <p>15th November 2019</p>
                <ul>
                    <li><strong>You can now set custom member fields to be "required"</strong>,
                        which means that a volunteer/admin has to fill them out before the member can be saved, or a loan can be checked out.
                        If you have enabled self-serve checkout for members, they will not be prompted to fill out the required custom field; this is for admins only.
                        They will still be able to check out.
                        Required fields are only checked for active members,
                        which means you can still save other contacts in the database (such as service providers for maintenance, and volunteers).
                    </li>
                    <li><strong>Send emails without leaving Lend Engine</strong> ... on the starter plan and above,
                        just hit the 'send email' button when viewing a contact or loan.</li>
                    <li><strong>Export all memberships</strong> from the memberships report.</li>
                </ul>

                <p>14th November 2019</p>
                <ul>
                    <li>
                        <strong>There's a new layout on the loan list</strong> - where previously there was a row per loan,
                        now there is a row per loaned item. This means we can show different return dates and return sites
                        if the items on the loan have different information. And especially useful for multi-site libraries,
                        it means we can show the pickup and return sites. If the item is reserved for a <strong>different site</strong> from
                        where it is now, there will be a note on screen to request that you move the item.
                    </li>
                    <li>
                        We've also added site filters so you can configure your "move lists". They also print out neatly.
                    </li>
                    <li>Admin (organisation email) will now receive email notifications when members self-extend loans.</li>
                </ul>

                <p>13th November 2019</p>
                <ul>
                    <li>New buttons have been added to transactional emails, so members can just click straight through to the
                    relevant page on your site to see or renew a loan (or membership), making self-serve even easier.
                    </li>
                    <li>
                        <strong>Add sections to group your categories</strong> - use item sections to build a two-tier navigation menu for your site.
                    </li>
                </ul>

                <p>4th November 2019</p>
                <ul>
                    <li>
                        <strong>Item kits</strong> - create an item which is a list of other items;
                        when the kit is added to a basket, the components are added too. Available from starter plan upwards.
                    </li>
                    <li>
                        <strong>Service / maintenance schedule</strong> ... this is a very handy feature
                    which lets you keep on top of items which need regular maintenance, cleaning or servicing.
                    At regular intervals, perform a service and upload any certificates you need.
                    Available from the Plus plan upwards ... get started at Settings &raquo; Maintenance.</li>
                    <li>
                        You can now <strong>record who has donated your items</strong>. If an item is donated by someone,
                        each time it's checked out they will receive an email to let them know their item has been borrowed.
                        The item list export will show you the item donor for reporting purposes. Edit the email template
                        in the settings area, just like other email templates.
                    </li>
                </ul>

                <p>21st October 2019</p>
                <ul>
                    <li>Members can now <strong>extend hires themselves</strong> - turn this on at Settings &raquo; Member site.</li>
                    <li>You can now sort the contact list in admin to show members with balances above or below zero.</li>
                    <li>The registration form captcha is temporarily disabled while we work on some issues with turning it on for only some libraries.</li>
                </ul>

                <p>12th October 2019</p>
                <ul>
                    <li>Anti-spam (captcha) is now available for your member site registration page.
                        Turn it on at Settings &raquo; Member site : a new field will be added to the registration form which requires the
                    user to enter a code.</li>
                    <li>When barcode labels are turned on, the barcode number is also visible on the check in and check out screens.</li>
                </ul>

                <p>17th September 2019</p>
                <ul>
                    <li>You can now deactivate membership types that you no longer need.</li>
                </ul>

                <p>22nd July 2019</p>
                <ul>
                    <li>Due to <a target="_blank" href="https://stripe.com/gb/guides/strong-customer-authentication">upcoming regulation</a>
                        for credit cards owned by members of EU states,
                        <strong>we've updated our Stripe payment processing integration to be SCA compliant</strong>.
                        This means that:<br>
                        - For some transactions, based on the bank's risk decision, you will be prompted for additional (3D secure) authentication.<br>
                        - Credit card numbers are taken on the same screen as the rest of the process, where before there used to be a popup.<br>
                        - Deposits and payments are now processed with the same Stripe charge (which means reduced fees for you too!)<br>
                        - You must confirm with each payment whether you want to save the card. Your Lend Engine Stripe settings will determine the default value of the checkbox.<br>
                        Otherwise, the integration works in exactly the same way as before.
                    </li>
                </ul>


                <p>16th July 2019</p>
                <ul>
                    <li>We've re-instated the "today" button on the booking process to make it a little quicker to start loans from the moment you are creating them.</li>
                </ul>

                <p>8th July 2019</p>
                <ul>
                    <li><strong>Events module is now live on all accounts</strong></li>
                    <li>You can now delete closed loans (as long as no deposit has been paid)</li>
                    <li>
                        <strong>Allow members to check loans in and out</strong>. Turn on self-serve checkout at Settings &raquo; Member site.<br>
                        Reservation fees are now <strong>only</strong> added when creating a reservation, not when creating a loan for check out.
                    </li>
                    <li>In conjunction with the self-serve check out and check in, we have added a "maximum number of items" and "credit limit"
                    to membership types. If a user already has the maximum number of items on loan, they can't borrow any more.
                    This is a hard limit, also applies to admin users checking out on behalf of a user.
                    Similarly the member credit limit is also applied when working as admin.</li>
                </ul>

                <p>24th June 2019</p>
                <ul>
                    <li>You can now <strong>filter items by date</strong> (on member site) to show only those available during a certain period.</li>
                    <li>Add multiple items to basket in one go, if you're working with an item group (when items have the same name).
                        Just choose how many you'd like, and Lend Engine will pick the available items for you.
                    </li>
                </ul>

                <p>20th June 2019</p>
                <ul>
                    <li>When editing items in a group, we no longer update the CODE for all items. You'll need to edit those separately.</li>
                    <li><strong>Event management</strong> is now available for beta users - please get in touch and we'll activate it for your account.
                    It allows you to list events on a calendar, take bookings, reserve places and take payments for tickets.
                    You can also monitor event attendance to see which events are working better than others. We track registration time, check in time,
                    and more - so there's potential for a lot more reporting as well.</li>
                </ul>

                <p>13th June 2019</p>
                <ul>
                    <li>
                        <strong>Items with the same name are now placed into a 'product group'</strong> - any changes to one item in the group are made automatically to other items.
                        This excludes the item location, assignee, condition and serial number.
                    </li>
                    <li>Files uploaded as attachments are no longer renamed, which makes it easier for your members to choose the right file to download.</li>
                    <li>We've added lots more item types under "Health & Beauty" for medical and accessibility equipment.</li>
                </ul>

                <p>11th June 2019</p>
                <ul>
                    <li><strong>Upgraded booking process!</strong> We've made some minor but handy changes to the booking flow,
                        to speed things up and make it easier for new users. </li>
                    <li>
                        Calendars now show loans and bookings in the same colour that they appear elsewhere,
                        and for admins you can see the booking times as well as dates on the calendar.</li>
                    <li>The changes to the booking process now mean we support <strong>by-the-hour loans and reservations</strong>.
                        You can pick your own start and end times (restricted to site opening hours), or simply drag over cells in the week view
                    (turn on drag-to-book via the reservation settings page).</li>
                    <li>Member site now shows quantity available when grouping items by name (ie "2 of 4 available").</li>
                    <li>Item serial number is shown when checking in.</li>
                    <li>Item image upload file size has been increased to 5mb.</li>
                    <li>You can choose whether the calendar shows in month or week view by default.</li>
                    <li>Bug fix : inactive sites are no longer shown on the member site "find us" page.</li>
                    <li><strong>Batch update item locations</strong> (move or assign) from the admin item list.</li>
                    <li>Batch update condition, category, item fee and loan period from the item list.</li>
                </ul>

                <p>16th May 2019</p>
                <ul>
                    <li>We've updated the loan search on the front end (member site) to make it easier to work with large numbers of loans.</li>
                </ul>

                <p>13th May 2019</p>
                <ul>
                    <li>We've changed our billing plans, to add a top tier set of features for larger organisations.
                        It also includes a 'White label' option which removes all Lend Engine branding for your member
                        website and outgoing emails.</li>
                    <li><strong>Partial refunds</strong> are now possible.</li>
                </ul>

                <p>6th May 2019</p>
                <ul>
                    <li>
                        <strong>Print barcode labels</strong> for your items. Get started at Settings &raquo; Item barcode labels.
                    </li>
                    <li>
                        <strong>New report : Loan item detail</strong>. Show all items loaned, including fees, member information and check out/check in dates.
                    </li>
                    <li>
                        We've added more detail to the loans list on the member screen, so you can see all the items
                        you lent to them, rather than just the list of loans.
                    </li>
                    <li>
                        When copying items, we now copy the images too - which should save a lot of time when creating lots of similar items.
                        Don't forget you can now also group items which have the same name.
                    </li>
                    <li>
                        New quick one-click access to all items which are assigned to you (from the items menu in admin).
                    </li>
                </ul>

                <p>1st May 2019</p>
                <ul>
                    <li>
                        You can now choose to <strong>group items with the same name</strong> on your member site.
                        Turn this on in your member site settings.
                    </li>
                    <li><strong>Upload your own site logo</strong>! Go to the member site page in settings.</li>
                    <li>We've moved the editor for site pages and menu links into the member site as part of the new
                        <strong>site edit mode</strong>. Here you can add extra pages (if you're on the Plus plan), rearrange pages
                    and (soon) choose from different website themes.</li>
                    <li>You can now add images to your HTML pages.</li>
                </ul>

                <p>25th April 2019</p>
                <ul>
                    <li>
                        Maximum per-file upload size has been increased from 2Mb to 5Mb.
                    </li>
                    <li>
                        When working with home page content and other HTML fields, you can now use a WYSIWYG editor.
                    </li>
                </ul>

                <p>19th April 2019</p>
                <ul>
                    <li>
                        New users can now choose from <strong>multiple self-serve membership types</strong> when registering online.
                        Previously, you could only set one self-serve membership type which was automatically applied to a member when they signed up.
                        Now you can set as many as you like for the new user to choose from, once they have confirmed their email address.
                        If a membership type requires payment, Lend Engine will prompt them for card details first.
                    </li>
                    <li>
                        We'll be working on adding all our supported languages to this new feature over the next few weeks.
                    </li>
                    <li>
                        We've also added a "description" field to the membership type, which will help you guide your new members to the right choice.
                    </li>
                    <li>
                        The same improvements have been made to the 'Change subscription' page reached from the user 'My account' page.
                    </li>
                </ul>

                <p>15th April 2019</p>
                <ul>
                    <li><strong>Fixed fee borrowing</strong> is a very handy new feature for libraries that don't charge per-day or per-week.
                    In your loan and reservation settings, just select "Prices are fixed per borrow" - easy! Available on all pay plans.</li>
                    <li>German is now available as a language to choose for your member site and emails.</li>
                    <li>You can now change the display order of item categories on your member site - see the item categories page in settings.</li>
                    <li>You can also change the display order of custom pages on your member site - see the custom page settings.</li>
                    <li>When printing your catalogue (from a category page as admin on the member site) you now have serial number and item price.</li>
                </ul>
                <br>

                <p>17th October 2018</p>
                    <ul>
                        <li>
                            We've added a <strong>new automated email</strong> to remind members of overdue items.
                            Just head along to settings and scroll down to see the 'Automation' section.
                        </li>
                    <li>
                        Like the other automated emails, you can edit the template too.
                    </li>
                    <li>
                        Email automation is now only available on our paid plans.
                    </li>
                        <li>
                            You now have a shiny new report to show <strong>non-loaned</strong> items, which you can use to help decide which items to remove from your library.
                            Check it out in the reports section of admin.
                        </li>
                    <li>
                        We've also added a new filter on the children report (for toy libraries).
                    </li>
                    </ul>

                <br>
                <p>24th August 2018</p>
                <ul>
                    <li>
                        We've added a major new feature; <strong>refundable deposits</strong>. If you're on the
                        standard plan or above, you can set up items to require a deposit when they are checked out.
                        Just choose the deposit amount on the item page. Different items can have different deposit amounts.
                        Staff can change the deposit amount on a per-loan basis if required.
                        The deposit is refundable, and will not affect the member account balance.
                        If you're using Stripe to take credit card payment, then the deposit refund is handled automatically.
                    </li>
                    <li>
                        In addition to refundable deposits, we've added general refund capability.
                        No need to use negative payments any more. We've streamlined the checkout process into one page,
                        which should make it easier and quicker.
                    </li>
                    <li>
                        And last but not least, you can now choose Swedish for your member site.
                    </li>
                </ul>

                <br>
                <p>
                    10th July 2018 : Bulk check-in items if none of the outstanding items have check-in prompts.
                    This should save loads of time when checking in multi-item loans.
                </p>
                <p>
                    1st July 2018 : You can add a "changeover time" to your site opening hours if you want loans to run from and to different times from the opening and closing hours of the time slot.
                    Setting a changeover time will also allow reservations to start on the same day an item is due to be returned.<br>
                    Read more about the details of changeover times on the <a href="{{ path("site_list") }}">Site Settings screen</a>.
                </p>
                <p>
                    14th June 2018 : The member "subscribe to newsletter" field now shows in admin on the contact screen whether you have Mailchimp connected or not, and its value is included in the contact export CSV.
                </p>
                <p>
                    8th June 2018 : If you're on the Starter or Plus plan you can add custom Javascript to your member site, to manipulate fields and change behaviour. Be careful!
                </p>
                <p>
                    15th May 2018 : The default option when processing credit cards with Stripe is NOT to allow users to choose a previously used card.
                    Customers are created in Stripe when you take payments, in order that multiple payments for the same person appear on the same record,
                    but their card details are not presented in Lend Engine unless you turn on the setting to allow previously used cards.
                </p>

                <p>
                    8th May 2018 : We've added a new feature which allows you to add custom pages and links to your member site. This is available on Plus plan upwards.
                    See the menu item in the settings area to get started.
                </p>

                <p>
                    8th May 2018 : You can now make your member site private, so that users are required to log in before they can view items.
                    Public custom pages will still show. There's a new setting at the bottom of the main settings page to make your site private.
                </p>
            </div>

        </div>

        <div class="col-md-4">
            <a href="https://www.facebook.com/groups/2264099010336961/" target="_blank">
                <img src="/images/screenshots/FacebookGroup.png" class="img-responsive img-thumbnail">
            </a>
            <a href="https://www.facebook.com/groups/2264099010336961/" style="margin: 10px 0"
               class="btn btn-primary btn-sm btn-block" target="_blank">Join our Facebook group</a>
            <div class="small">
                Give us feedback on features, suggest new ideas, get tips from other libraries, and get involved with the global lending community.
            </div>
        </div>
    </div>

    <div class="row" id="loan-counts">
        <div class="col-lg-3 dash-loan-data">
            <div class="info-box">
                <span class="info-box-icon bg-gray"><i class="fa fa-shopping-bag"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Pending</span>
                    <span class="info-box-number" id="count-pending">{{ dashData.loansByStatus.pending }}</span>
                    <span class="info-box-text"><a href="{{ path('loan_list', { status: "PENDING" }) }}">View list</a></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 dash-loan-data">
            <div class="info-box">
                <span class="info-box-icon bg-teal"><i class="fa fa-shopping-bag"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">On loan</span>
                    <span class="info-box-number">{{ dashData.loansByStatus.active }}</span>
                    <span class="info-box-text"><a href="{{ path('loan_list', { status: "ACTIVE" }) }}">View list</a></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 dash-loan-data">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-shopping-bag"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Overdue</span>
                    <span class="info-box-number">{{ dashData.loansByStatus.overdue }}</span>
                    <span class="info-box-text"><a href="{{ path('loan_list', { status: "OVERDUE" }) }}">View list</a></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 dash-loan-data">
            <div class="info-box">
                <span class="info-box-icon bg-orange"><i class="fa fa-shopping-bag"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Reservations</span>
                    <span class="info-box-number">{{ dashData.loansByStatus.reserved }}</span>
                    <span class="info-box-text"><a href="{{ path('loan_list', { status: "RESERVED" }) }}">View list</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    New contacts
                </div>
                <div class="box-body">
                    <canvas id="contactsAddedByMonth" height="160" style="height: 160px; width: 720px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    Total number of <span style="color:#eec853">contacts</span> / <span style="color:#86b300">active memberships</span>
                </div>
                <div class="box-body">
                    <canvas id="contactsGrowth" height="160" style="height: 160px; width: 720px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    Loans per month
                </div>
                <div class="box-body">
                    <canvas id="loansAddedByMonth" height="160" style="height: 160px; width: 720px"></canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    New items
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="itemsAddedByMonth" height="160" style="height: 160px; width: 720px"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    Total number of items
                </div>
                <div class="box-body">
                    <canvas id="itemsGrowth" height="160" style="height: 160px; width: 720px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    Revenue (<span style="color:#9dbc6b">Memberships</span> / <span style="color:#83B9CC">Events</span> / <span style="color:#ff741e">Other</span>)
                </div>
                <div class="box-body">
                    <canvas id="income" height="160" style="height: 160px; width: 720px"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <style type="text/css">
                #map
                {
                    height:350px;
                    width:100%;
                    display:block;
                }
            </style>
            <div id="map"></div>
        </div>
    </div>

{% endblock %}

{% block pagejs %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>

    <script>
        $(function () {
            'use strict';

            var contactsAddedByMonth = $("#contactsAddedByMonth");
            var contactsGrowth = $("#contactsGrowth");
            var membershipsGrowth = $("#membershipsGrowth");
            var itemsAddedByMonth = $("#itemsAddedByMonth");
            var itemsGrowth = $("#itemsGrowth");
            var loansAddedByMonth  = $("#loansAddedByMonth");
            var income  = $("#income");

            var barOptions = {
                legend: {
                    display: false
                },
                tooltips: {
                    enabled: true
                },
                hover :{
                    animationDuration:0
                },
                scales: {
                    xAxes: [{
//                        type: 'time',
//                        time: {
//                            unit: 'month'
//                        },
                        ticks: {
                            beginAtZero:true
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
                pointLabelFontFamily : "Quadon Extra Bold",
                scaleFontFamily : "Quadon Extra Bold"
            };

            var barOptions_stacked = {
                legend: {
                    display: false
                },
                tooltips: {
                    enabled: true
                },
                hover :{
                    animationDuration:0
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero:true
                        },
                        scaleLabel:{
                            display:false
                        },
                        gridLines: {
                        },
                        stacked: true
                    }],
                    yAxes: [{
                        gridLines: {
                            display:false,
                            color: "#fff",
                            zeroLineColor: "#fff",
                            zeroLineWidth: 0
                        },
                        ticks: {

                        },
                        stacked: true
                    }]
                },
                pointLabelFontFamily : "Quadon Extra Bold",
                scaleFontFamily : "Quadon Extra Bold"
            };

            var lineOptions = barOptions;

            // Contacts added by month
            var chart_contactsAddedByMonth = new Chart(contactsAddedByMonth, {
                type: 'bar',
                maintainAspectRatio: false,
                data: {
                    labels: [{{ labels|raw }}],
                    datasets: [{
                        label: 'Contacts added',
                        data: [{{ contactsAddedByMonth }}],
                        backgroundColor: "#eec853"
                    }]
                },
                options: barOptions
            });

            // Member growth
            var chart_contactsGrowth = new Chart(contactsGrowth, {
                type: 'line',
                maintainAspectRatio: false,
                data: {
                    labels: [{{ labels|raw }}],
                    datasets: [
                        {
                            label: 'Contacts',
                            data: [{{ contactsGrowth }}],
                            fill: false,
                            borderColor: "#eec853",
                            lineTension: 0
                        },
                        {
                            label: 'Memberships',
                            data: [{{ membershipsGrowth }}],
                            fill: false,
                            borderColor: "#86b300",
                            lineTension: 0
                        }
                    ]
                },
                options: lineOptions
            });


            // Items added by month
            var chart_itemsAddedByMonth = new Chart(itemsAddedByMonth, {
                type: 'bar',
                maintainAspectRatio: false,
                data: {
                    labels: [{{ labels|raw }}],
                    datasets: [{
                        label: 'Items added',
                        data: [{{ itemsAddedByMonth }}],
                        backgroundColor: "#3F3B55"
                    }]
                },
                options: barOptions
            });

            // Items growth
            var chart_itemsGrowth = new Chart(itemsGrowth, {
                type: 'line',
                maintainAspectRatio: false,
                data: {
                    labels: [{{ labels|raw }}],
                    datasets: [{
                        label: 'Total items',
                        data: [{{ itemsGrowth }}],
                        fill: false,
                        borderColor: "#3F3B55",
                        lineTension: 0
                    }]
                },
                options: lineOptions
            });

            // Loans per month
            var chart_loansAddedByMonth = new Chart(loansAddedByMonth, {
                type: 'bar',
                maintainAspectRatio: false,
                data: {
                    labels: [{{ labels|raw }}],
                    datasets: [{
                        label: 'Loans',
                        data: [{{ loansAddedByMonth }}],
                        backgroundColor: "#39cccc"
                    }]
                },
                options: barOptions
            });

            // Loans per month
            var chart_income = new Chart(income, {
                type: 'bar',
                maintainAspectRatio: false,
                data: {
                    labels: [{{ labels|raw }}],
                    datasets: [
                        {
                            label: 'Membership',
                            data: [{{ membershipFeesByMonth }}],
                            backgroundColor: "#9dbc6b"
                        },
                        {
                            label: 'Events',
                            data: [{{ eventFeesByMonth }}],
                            backgroundColor: "#83B9CC"
                        },
                        {
                            label: 'Other',
                            data: [{{ otherFeesByMonth }}],
                            backgroundColor: "#ff741e"
                        }
                    ]
                },
                options: barOptions_stacked
            });

        });

    </script>
{% endblock %}