<div id="org-logo">
    {% if tenantInformation.logoUrl %}
        <a id="site-name" href="{{ path('home') }}" style="float: left;">
            <img style="width: 240px; height: 120px;" src="{{ tenantInformation.logoUrl }}">
        </a>
    {% elseif tenantInformation.logoImageName %}
        <a href="{{ path('home') }}">
            <img src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/site_images/{{ tenantInformation.logoImageName }}"
                 id="site-logo" class="img-responsive hidden-xs" style="height: 80px">
        </a>
    {% else %}
        <a id="site-name" class="" href="{{ path('home') }}">
            {{ tenantInformation.companyName }}
        </a>
    {% endif %}
</div>