{% trans_default_domain 'member_site' %}

<a href="{{ path('home') }}" style="padding: 0 10px"><i class="fa fa-home"></i><span class="hidden-xs"> {% trans %}public_misc.link_home{% endtrans %}</span></a>

{% if tenantInformation.basket is defined and tenantInformation.basket %}

    {% if app.session.get('active-loan') %}
        {% set basket_url = path('public_loan', {loanId: app.session.get('active-loan')}) %}
    {% else %}
        {% set basket_url = path('basket_show') %}
    {% endif %}

    <a href="{{ basket_url }}" style="padding: 0 10px;" id="site-menu-basket"><i class="fa fa-shopping-basket"></i><span class="hidden-xs"> Basket</span> ({{ tenantInformation.basket.loanRows|length }} items)</a>

{% endif %}

{% if tenantInformation.setting('show_events_online') == 1 %}
    <a href="{{ path('event_list') }}" style="padding: 0 10px" id="site-menu-events">
        <i class="far fa-calendar-alt"></i><span class="hidden-xs"> {% trans %}public_misc.link_events{% endtrans %}</span>
    </a>
{% endif %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('homepage') }}" style="padding: 0 10px" id="site-menu-admin" class="role-admin"><i class="fa fa-wrench"></i><span class="hidden-xs"> {% trans %}public_misc.link_admin{% endtrans %}</span></a>
    {% endif %}
    <a href="{{ path('fos_user_profile_show') }}" style="padding: 0 10px" id="site-menu-profile"><i class="fa fa-user"></i><span class="hidden-xs"> {% trans %}My account{% endtrans %}</span></a>
    <a href="{{ path('fos_user_security_logout') }}" style="padding: 0 10px" id="site-menu-logout"><i class="fa fa-sign-out-alt"></i><span class="hidden-xs"> {% trans %}Log out{% endtrans %}</span></a>

{% else %}

    {% if tenantInformation.allowRegistration %}
        <a href="{{ path('fos_user_registration_register') }}" style="padding: 0 10px" id="site-menu-register">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}

    <a href="{{ path('fos_user_security_login') }}" style="padding: 0 10px" id="site-menu-login">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

{% endif %}