{% trans_default_domain 'member_site' %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% trans %}public_footer.logged_in_as{% endtrans %} {{ app.user.firstName }} {{ app.user.lastName }}.
    {% if app.user.activeSite %}
        <br>
        Working at <strong>{{ app.user.activeSite.name }}</strong>
        <a href="{{ path('choose_site') }}" class="modal-link">Change</a>
    {% endif %}

    {% if app.user.hasRole("ROLE_SUPER_USER") %}
        <p style="margin-top: 0.5em;">
            <small>
                Server: {{ tenantInformation.getShortServerName }}
            </small>
        </p>
    {% endif %}
{% endif %}