<div class="row">
    <div class="col-md-12">
        <form action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">

                <div class="col-md-4" id="col-personal">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.telephone) }}
                    {{ form_row(form.locale) }}
                </div>

                <div class="col-md-4" id="col-address">
                    {{ form_row(form.addressLine1) }}
                    {{ form_row(form.addressLine2) }}
                    {{ form_row(form.addressLine3) }}
                    {{ form_row(form.addressLine4) }}
                    {{ form_row(form.countryIsoCode) }}
                </div>

                <div class="col-md-4" id="col-password">
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.subscriber) }}
                    {{ form_row(form.terms) }}
                    <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary btn-block btn-flat pull-right" />
                </div>

            </div>

            {{ form_end(form) }}

        </form>
    </div>
</div>

{% block pagejs %}{% endblock %}


