{% trans_default_domain 'FOSUserBundle' %}

<h2>{{ 'public_account.title'|trans({}, 'member_site') }}</h2>

<div class="alert alert-info">
    Signed in with Twitter or Facebook, or don't have a password?
    <a href="{{ path('fos_user_resetting_request') }}">
        {% trans %}Request a new password here{% endtrans %}
    </a>
</div>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<div class="col-xs-4">
    <input type="submit" class="btn btn-primary btn-block btn-flat" value="{{ 'change_password.submit'|trans }}" />
</div>
{{ form_end(form) }}
