{# app/Resources/views/loan/loan_list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Loans{% endblock %}

{% block pageTitle %}Loans{% endblock %}

{% block primaryButton %}

    <span class="secondary-link {% if app.request.get('status') == "RESERVED" %}active{% endif %}">
    {% if countReserved > 0 %}
        <div class="label bg-orange">{{ countReserved }}</div> <a href="{{ path('loan_list', { status: "RESERVED" }) }}">Reserved</a>
    {% else %}
        <div class="label bg-gray">0</div> <a href="{{ path('loan_list', { status: "RESERVED" }) }}">Reserved</a>
    {% endif %}
    </span>

    <span class="secondary-link {% if app.request.get('status') == "PENDING" %}active{% endif %}">
    {% if countPending > 0 %}
        <div class="label bg-gray">{{ countPending }}</div> <a href="{{ path('loan_list', { status: "PENDING" }) }}">Pending</a>
    {% else %}
        <div class="label bg-gray">0</div> <a href="{{ path('loan_list', { status: "PENDING" }) }}">Pending</a>
    {% endif %}
    </span>

    <span class="secondary-link {% if app.request.get('status') == "ACTIVE" %}active{% endif %}">
    {% if countActive > 0 %}
        <div class="label bg-teal">{{ countActive }}</div> <a href="{{ path('loan_list', { status: "ACTIVE" }) }}">On loan</a>
    {% else %}
        <div class="label bg-gray">0</div> <a href="{{ path('loan_list', { status: "ACTIVE" }) }}">On loan</a>
    {% endif %}
    </span>

    <span class="secondary-link {% if app.request.get('status') == "OVERDUE" %}active{% endif %}">
    {% if countOverdue > 0 %}
        <div class="label bg-red">{{ countOverdue }}</div> <a href="{{ path('loan_list', { status: "OVERDUE" }) }}">Overdue</a>
    {% else %}
        <div class="label bg-gray">0</div> <a href="{{ path('loan_list', { status: "OVERDUE" }) }}">Overdue</a>
    {% endif %}
    </span>

    {% if is_granted('ROLE_SUPER_USER') %}
        <a class="btn btn-default pull-right" href="{{ path('export_loans') }}" style="margin-right: 10px">Export</a>
    {% endif %}

{% endblock %}

{% block body %}

    <div class="row no-print" id="primary-filter" style="display:block">
        <div id="primary-filter-inner">
            <form method="GET">
                <input type="hidden" name="filtered" value="1">
                <div class="col-md-11 filter-fields">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-3">
                            <label>Date type</label>
                            <select name="date_type" id="date_type" class="form-control">
                                <option value="date_out" {% if app.request.get('date_type') == 'date_out' %}SELECTED{% endif %}>Due out (from)</option>
                                <option value="date_in" {% if app.request.get('date_type') == 'date_in' %}SELECTED{% endif %}>Due in (to)</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Date range</label>
                            <input type="text" id="date_picker" class="form-control date-filter">
                            <input type="hidden" name="date_from" id="date_from" value="{{ date_from }}">
                            <input type="hidden" name="date_to" id="date_to" value="{{ date_to }}">
                        </div>
                        <div class="col-md-3">
                            <label>Loan status</label>
                            <select class="form-control" id="status" name="status">
                                <option value=""></option>
                                {% for status in statuses %}
                                    <option {{ status.selected }} value="{{ status.id }}" {% if app.request.get('status') == status.id %}SELECTED{% endif %}>{{ status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    {% if tenantInformation.isMultiSite == 1 %}
                    <div class="row">
                        <div class="col-md-3">
                            <label>Item current site</label>
                            <select class="form-control" id="current_site" name="current_site">
                                <option value=""></option>
                                {% for site in sites %}
                                    <option value="{{ site.id }}" {% if app.request.get('current_site') == site.id %}SELECTED{% endif %}>{{ site.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Pickup site</label>
                            <select class="form-control" id="from_site" name="from_site">
                                <option value=""></option>
                                {% for site in sites %}
                                    <option value="{{ site.id }}" {% if app.request.get('from_site') == site.id %}SELECTED{% endif %}>{{ site.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Return site</label>
                            <select class="form-control" id="to_site" name="to_site">
                                <option value=""></option>
                                {% for site in sites %}
                                    <option value="{{ site.id }}" {% if app.request.get('to_site') == site.id %}SELECTED{% endif %}>{{ site.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}

                </div>
                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn bg-green pull-right form-control">Filter</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 table-responsive">
            <table cellspacing="0" class="table table-hover table-striped has-actions" id="data-table-loans">
                <thead>
                <th style="width: 30px">ID</th>
                <th style="width: 40px">Status</th>
                <th>Contact</th>
                <th>From</th>
                <th>To</th>
                <th>Fee</th>
                <th></th>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script>

        var dateFrom = "{{ date_from|date('M d Y') }}";
        var dateTo   = "{{ date_to|date('M d Y') }}";

        $(document).ready(function () {

            // https://rawgit.com/longbill/jquery-date-range-picker/master/index.html
            var datePickerField = $(".date-filter");
            datePickerField.dateRangePicker({
                format: 'MMM D YYYY',
                autoClose: true,
                selectForward: true,
                setValue: function (s) {
                    if (!$(this).attr('readonly') && !$(this).is(':disabled') && s != $(this).val()) {
                        console.log($(this).val(s));
                    }
                },
                showShortcuts: true,
                customShortcuts:
                    [
                        {
                            name: 'Today',
                            dates : function()
                            {
                                var start = moment().toDate();
                                var end   = moment().toDate();
                                return [start,end];
                            }
                        }
                    ]
            }).bind('datepicker-change', function (event, obj) {
                $("#date_from").val(moment(obj.date1).format('YYYY-MM-DD'));
                $("#date_to").val(moment(obj.date2).format('YYYY-MM-DD'));
            });

            datePickerField.data('dateRangePicker').setDateRange(dateFrom, dateTo, true);

            var dataTable = $('#data-table-loans').DataTable({
                ordering: true,
                serverSide: true,
                autoWidth: false,
                pageLength: 50,
                ajax: {
                    url: "{{ path('dt_loan_list') }}",
                    "data": function (d) {
                        return $.extend({}, d, {
                            "status": "{{ app.request.get('status') }}",
                            "date_type": "{{ app.request.get('date_type') }}",
                            "date_from": "{{ app.request.get('date_from') }}",
                            "date_to": "{{ app.request.get('date_to') }}",
                            "from_site": "{{ app.request.get('from_site') }}",
                            "to_site": "{{ app.request.get('to_site') }}",
                            "current_site": "{{ app.request.get('current_site') }}"
                        });
                    }
                },
                "oSearch": {
                    "sSearch": "{{ searchString }}"
                },
                "language": {
                    "infoFiltered": ""
                },
                "columns": [
                    null,
                    { "orderable": false },
                    { "orderable": false },
                    null,
                    null,
                    null,
                    { "orderable": false }
                ],
                "order": [[ 0, "desc" ]]
            });

            dataTable.buttons().container().appendTo('#data-table-loans_length').css('padding-right', '20px');

            $("#data-table-loans_filter label input").css("height", "34px");
            $("#data-table-loans_filter label input").attr("placeholder", "Contact, item or loan ID");
            $("#data-table-loans_filter label input").css("width", "200px");

        });
    </script>
{% endblock %}