{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="row">
        <div class="col-md-10">
            {% if error %}
                <div class="alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="row">

            {% if tenantInformation.facebookLogin or tenantInformation.googleLogin or tenantInformation.twitterLogin %}
                {% set socialLogin = true %}
            {% else %}
                {% set socialLogin = false %}
            {% endif %}

                {% if socialLogin == true %}
                <div class="col-md-6" style="padding: 20px;">

                    <h2>&nbsp;</h2>
                    <p>
                        {#By connecting using your social media account, we can help spread the word that borrowing is better than buying.#}
                        {#We'll <strong>always</strong> ask permission before posting anything on your behalf, of course.#}
                    </p>

                    <div style="padding-bottom: 20px;">
                        <br>
                        {% if tenantInformation.facebookLogin %}
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-sm btn-block btn-social btn-facebook">
                            <span class="fa fa-facebook"></span>
                            {% trans %}Login with Facebook{% endtrans %}
                        </a>
                        {% endif %}

                        {% if tenantInformation.twitterLogin %}
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}" class="btn btn-sm btn-block btn-social btn-twitter">
                            <span class="fa fa-twitter"></span>
                            {% trans %}Login with Twitter{% endtrans %}
                        </a>
                        {% endif %}

                        {% if tenantInformation.googleLogin %}
                            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-sm btn-block btn-social btn-google">
                                <span class="fa fa-google"></span>
                                {% trans %}Login with Google{% endtrans %}
                            </a>
                        {% endif %}

                        <div class="help-block" style="font-size: 11px;">
                            If you've not connected before, we'll try and match your email address to one we have on record.
                            If your email doesn't match anything, we'll create a new account for you.
                        </div>

                    </div>
                </div>
                {% endif %}

                <div class="col-md-6" style="padding: 20px;">

                    <h2>&nbsp;</h2>

                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="form-group has-feedback">
                            <label for="username">{{ 'security.login.email'|trans }}</label>
                            <input class="form-control" placeholder="Email address" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>
                        <div class="form-group has-feedback">
                            <label for="password">{{ 'security.login.password'|trans }}</label>
                            <input class="form-control" placeholder="Password" type="password" id="password" name="_password" required="required" />
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    {#<label>#}
                                    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                                    {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
                                    {#</label>#}
                                </div>
                                <a href="{{ path('fos_user_resetting_request') }}">
                                    {{ 'security.login.forgot_password'|trans }}
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary btn-block btn-flat" />
                            </div>
                        </div>

                        <br><br>

                    </form>

                </div>

            </div>

        </div>
    </div>

{% endblock fos_user_content %}