{% extends 'shared/modal.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block subTitle %}
Move / assign:
{% endblock %}

{% block title %}
    <strong>{{ title }}</strong>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.location) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.contact) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.notes) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.cost) }}
        </div>
    </div>

    <input type="hidden" name="form_action" value="item_move">
    <input type="hidden" name="idSet" value="{{ idSet }}">

    {{ form_end(form) }}

{% endblock %}

{% block footer %}

    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    <button class="modal-submit btn btn-success pull-right">Move / assign item</button>

{% endblock %}