{% extends 'shared/modal.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block title %}
    {% trans %}public_add_credit.title{% endtrans %}
    {% if user is defined and user.id != app.user.id %}
        <span class="session-user">for {{ user.name }}</span>
    {% endif %}
{% endblock %}

{% block body %}

    {{ form_start(form, { 'attr' : { 'class': 'payment-form', 'id' : "paymentForm" } }) }}

    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    {{ include('cores/payment_core.html.twig') }}

    {{ form_end(form) }}

{% endblock %}

{% block footer %}
    <button class="payment-submit btn btn-success">Add credit</button>
{% endblock %}