{# app/Resources/views/user/change_password.html.twig #}
{% extends 'modal.html.twig' %}

{% block modalTitle %}{{ title }}{% endblock %}

{% block modalBody %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.new_password) }}

    {{ form_row(form.new_password_2) }}

    <div id="match_message">

    </div>

    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    <button DISABLED id="modal-submit" class="modal-submit btn bg-green">Update password</button>

    <script>
        $(".modal-content").on("keyup", "#form_new_password_2", function() {
            if ($("#form_new_password").val() != $("#form_new_password_2").val()) {
                $("#match_message").html("Your two passwords don't match...");
                $("#modal-submit").attr('disabled', true);
            } else {
                $("#match_message").html("");
                $("#modal-submit").attr('disabled', false);
            }
        });
    </script>
{% endblock %}

