{# app/Resources/views/modals/contactField.html.twig #}
{% extends 'modal.html.twig' %}

{% block modalTitle %}{{ title }}{% endblock %}
{% block modalSubTitle %}{{ subTitle|raw }}{% endblock %}

{% block modalBody %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.type) }}
        </div>
    </div>

    {{ form_row(form.showOnContactList) }}

    {{ form_end(form) }}

{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    <button class="modal-submit btn bg-green">Save field</button>
    <script>
        $(document).ready(function () {
            setUpSelectMenus();
        });
    </script>
{% endblock %}

