{% extends 'modal.html.twig' %}

{% block modalTitle %}{{ title }}{% endblock %}
{% block modalSubTitle %}{{ subtitle|raw }}{% endblock %}

{% block modalBody %}

    {{ form_start(form, { 'attr' : { 'class': 'payment-form', 'id' : "paymentForm" } }) }}

    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <input type="hidden" name="c" id="c" value="{{ attendee.contact.id }}">

    {% set contact = attendee.contact %}
    {{ include('cores/payment_core.html.twig') }}
    <input type="hidden" id="paymentType" name="paymentType" value="event_payment">

    {{ form_end(form) }}

{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    <button class="payment-submit btn bg-green btn-loading">Take payment</button>
{% endblock %}

