{% trans_default_domain 'member_site' %}
{% if user.activeMembership is defined and user.activeMembership %}

    {% if inventory|length > 0 %}
        <form method="POST" name="add_stock_items" action="{{ path('basket_add_stock', {itemId: product.id}) }}">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Available</th>
                    <th>Add</th>
                </tr>
                </thead>
                {% for i in inventory %}
                    <tr>
                        <td>{{ i.siteName }}<br>{{ i.locationName }}</td>
                        <td>{{ i.qty }}</td>
                        <td style="width:80px">
                            <input type="text" class="form-control" name="add_qty[{{ i.locationId }}]">
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% if app.session.get('active-loan') %}
                <button type="submit" name="add-to-loan" value="loan" class="btn btn-success">
                    Add to {{ app.session.get('active-loan-type') }} {{ app.session.get('active-loan') }}
                </button>
                <input type="hidden" id="loan_id" name="loan_id" value="{{ app.session.get('active-loan') }}">
            {% else %}
                <button type="submit" name="add-to-basket" value="basket" class="btn btn-success">{% trans %}public_item.basket_add{% endtrans %}</button>
                {#Required for functional testing where we can't use the session:#}
                <input type="hidden" id="loan_id" name="loan_id" value="">
            {% endif %}
        </form>
    {% else %}
        <div class="alert alert-warning">
            No stock available
        </div>
    {% endif %}

{% else %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="alert alert-warning">
            {{ user.name }} does not have an active membership.<br>
            <a href="{{ path('choose_membership', {c: user.id, itemId: product.id}) }}">Subscribe now</a>,
            or <a href="{{ path('member_search', {itemId: product.id}) }}">change user</a>.
        </div>
    {% else %}
        <div class="alert alert-info">
            An active membership is required to buy this item.
            {#{{ 'text_borrow_with_membership'|trans({}, 'member_site') }}#}
        </div>
    {% endif %}
{% endif %}

