{% trans_default_domain 'member_site' %}
{% if user.activeMembership is defined and user.activeMembership %}
    <form method="POST" action="{{ path('basket_add_service', {itemId: product.id}) }}">
        <div class="input-group col-md-6">
            <input type="text" class="form-control" name="qty" value="1" placeholder="Qty" size="3">
            <span class="input-group-btn">
                {% if app.session.get('active-loan') %}
                    <button type="submit" name="add-to-loan" value="loan" class="btn btn-success">
                        Add to {{ app.session.get('active-loan-type') }} {{ app.session.get('active-loan') }}
                    </button>
                {% else %}
                    <button type="submit" name="add-to-basket" value="basket" class="btn btn-success">{% trans %}public_item.basket_add{% endtrans %}</button>
                {% endif %}
            </span>
        </div>
    </form>
{% else %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="alert alert-warning">
            {{ user.name }} does not have an active membership.<br>
            <a href="{{ path('choose_membership', {c: user.id, itemId: product.id}) }}">Subscribe now</a>,
            or <a href="{{ path('member_search', {itemId: product.id}) }}">change user</a>.
        </div>
    {% else %}
        <div class="alert alert-info">
            An active membership is required to buy this item.
            {#{{ 'text_borrow_with_membership'|trans({}, 'member_site') }}#}
        </div>
    {% endif %}
{% endif %}