{% trans_default_domain 'member_site' %}

<div class="row" id="productMain">
    <div class="col-sm-5">

        {% if product.imagePath %}
            <div class="row">
                <div class="col-xs-12">
                    {% for key,image in product.images %}
                        <div id="large_{{ key }}" class="img-large" style="{% if product.imageName != image.imageName %}display: none;{% endif %}">
                            <a target="_blank" id="image-link" href="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/large/{{ image.imageName }}">
                            <img id="large_{{ key }}"
                                 src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/large/{{ image.imageName }}"
                                 class="img-thumbnail img-responsive">
                            </a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div style="position:absolute; bottom: 10px; left: 25px;">
                                    <a href="{{ path('item', {id: product.id}) }}" class="btn btn-xs btn-primary role-admin">Edit</a>
                                    {% if product.inventoryLocation and product.inventoryLocation.id > 1 and product.itemType == 'loan' %}
                                        <a href="{{ url('item_move', {idSet: product.id}) }}" class="btn btn-xs btn-primary modal-link">Move / service</a>
                                        <a href="{{ url('item_archive', {id: product.id}) }}" class="btn btn-xs btn-primary modal-link">Delete</a>
                                    {% endif %}
                                </div>
                            {% endif %}

                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row" id="item-thumbnails">
                {% if product.images | length > 1 %}
                    <div class="col-xs-12">
                    {% for key,image in product.images %}
                        <div style="height:80px; width:80px; padding-top:10px; padding-right: 6px; float:left;">
                            <img
                                    src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/thumbs/{{ image.imageName }}"
                                    class="img-thumbnail img-responsive img-selector"
                                    onClick="setImage('large_{{ key }}')">
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <img src="//{{ tenantInformation.accountDomain }}/images/no_image.png" class="img-thumbnail img-responsive">

                    {% if is_granted('ROLE_ADMIN') %}
                        <div style="position:absolute; bottom: 10px; left: 25px;">
                            <div class="admin-tools-title">
                                <i class="fa fa-wrench"></i>
                                Admin tools:
                            </div>
                            <a href="{{ path('item', {id: product.id}) }}" class="btn btn-xs btn-primary role-admin">Edit</a>
                            {% if product.inventoryLocation and product.inventoryLocation and product.inventoryLocation.id > 1 and product.itemType == 'loan' %}
                                <a href="{{ url('item_move', {idSet: product.id}) }}" class="btn btn-xs btn-primary modal-link">Move / service</a>
                                <a href="{{ url('item_archive', {id: product.id}) }}" class="btn btn-xs btn-primary modal-link">Delete</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if product.componentInformation|length > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <p style="padding-top: 15px;">
                        <strong>{% trans %}public_item.contains{% endtrans %}:</strong><br />
                        {{ product.componentInformation|raw|nl2br }}
                    </p>
                </div>
            </div>
        {% endif %}

    </div>
    <div class="col-sm-7">

        <div style="padding: 10px 0">

            {% if product.itemType == 'stock' %}
                <p class="item-price">
                    {{ tenantInformation.currencySymbol }} {{ product.priceSell|number_format(2) }}
                    {% trans %}public_item.each{% endtrans %}
                </p>
            {% else %}
                <p class="item-fee">
                    <strong class="fee-title">{% trans %}Fee{% endtrans %}:</strong>
                    {{ tenantInformation.currencySymbol }} {{ product.loanFee|number_format(2) }}
                    {% if tenantInformation.fixedFeePricing %}
                        {% trans %}per_borrow{% endtrans %}
                    {% else %}
                        {% if product.maxLoanDays == 1 %}
                            {% trans %}per_day{% endtrans %}
                        {% else %}
                            {% trans with {'%count%': product.maxLoanDays } %}per_n_days{% endtrans %}
                        {% endif %}
                    {% endif %}
                </p>
            {% endif %}

            {% if product.depositAmount > 0 %}
            <p class="item-deposit">
                A deposit of {{ tenantInformation.currencySymbol }} {{ product.depositAmount }} is due when this item is borrowed.
            </p>
            {% endif %}

            {#Item status#}
            {% if product.itemType == 'stock' %}

                <span class="label label-default">
                    {% trans %}public_item.stock_item{% endtrans %}
                </span>
                <div class="clearfix" style="padding-bottom:10px;"></div>

            {% elseif product.inventoryLocation and product.inventoryLocation.id == 1 %}

                <span class="label label-info">
                    {% trans %}public_item.on_loan{% endtrans %}
                </span>

                <div class="clearfix" style="padding-bottom:10px;"></div>

                {{ include('member_site/partials/waiting_list.html.twig') }}

            {% elseif product.inventoryLocation and product.inventoryLocation.isAvailable == 1 %}

                <div>
                    <span class="label label-success pull-left">
                        {% trans %}public_item.available{% endtrans %}
                    </span>
                    <div class="clearfix" style="padding-bottom:10px;"></div>
                </div>

            {% elseif product.inventoryLocation %}

                <span class="label label-warning">
                    {% trans %}public_item.not_available{% endtrans %}
                </span>
                <div class="clearfix" style="padding-bottom:10px;"></div>

                {{ include('member_site/partials/waiting_list.html.twig') }}

            {% else %}

                {#Kit item (without a location) #}

            {% endif %}

            <div class="clearfix"></div>

            {#Item details#}

            {% if product.inventoryLocation and product.inventoryLocation.id > 1 and product.itemType == 'loan'%}
                {% if isMultiSite == true or is_granted('ROLE_ADMIN') %}
                    <div class="item-info item-site">
                        <span class="item-info-label">{% trans %}public_item.location{% endtrans %}:</span>
                        {{ product.inventoryLocation.site.name }}
                        {% if is_granted('ROLE_ADMIN') %}
                            <span title="Location detail (eg in stock) is visible for admin only" data-toggle="tooltip">({{ product.inventoryLocation.name }})</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}

            {% if product.condition and product.itemType == 'loan' %}
                <div class="item-info item-condition">
                    <span class="item-info-label">{% trans %}public_item.condition{% endtrans %}:</span> {{ product.condition.name }}
                </div>
            {% endif %}

            {% if product.brand %}
                <div class="item-info item-brand">
                    <span class="item-info-label">{% trans %}public_item.brand{% endtrans %}:</span> {{ product.brand }}
                </div>
            {% endif %}

            {% if product.sku %}
                <div class="item-info item-code">
                    <span class="item-info-label">{% trans %}public_item.code{% endtrans %}:</span> {{ product.sku }}
                </div>
            {% endif %}

            {% if product.serial %}
                <div class="item-info item-serial">
                    <span class="item-info-label">{% trans %}public_item.serial{% endtrans %}:</span> {{ product.serial }}
                </div>
            {% endif %}

            {% if product.note and is_granted('ROLE_ADMIN') %}
                <div class="item-info item-note">
                    <span class="item-info-label">
                        <i class="fa fa-exclamation-circle" data-toggle="tooltip" style="color: #ff741e" title="Not shown to members"></i>
                        Note:
                    </span> {{ product.note }}
                </div>
            {% endif %}

            {% if product.tags is defined %}
                <div class="item-tags">
                    {% for tag in product.tags %}
                        <a href="{{ path('public_products') }}?tagId={{ tag.id }}" class="label label-default bg-brown item-tag">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}

        </div>

        {#DESCRIPTION#}
        <p id="item-detail-description">
            {{ product.description|raw|nl2br }}
        </p>

        {#KIT#}
        {% if product.itemType == 'kit' %}
            <div id="kit-wrapper">
                {% trans %}public_item.kit_containing{% endtrans %}:
                {% for component in product.components %}
                    <div>{{ component.quantity }}
                        <a href="{{ path('public_product', {productId: component.component.id}) }}">{{ component.component.name }}</a>
                    </div>
                {% endfor %}
            </div>
            <br>
        {% endif %}

        {#CUSTOM FIELDS#}
        {% if product.textFieldValues|length > 0 and tenantInformation.feature('ProductField') %}
            <table width="100%" cellpadding="10" cellspacing="0">
                {% for field in product.textFieldValues %}
                    {% if field.content != '' and field.showOnWebsite == true %}
                        <tr>
                            <td valign="top" style="padding: 0 10px 6px 0; font-weight: bold">{{ field.name }}</td>
                            <td valign="top" style="padding: 0 10px 6px 0">{{ field.content|nl2br }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <br>
        {% endif %}

        {#FILE ATTACHMENTS#}
        {% if product.fileAttachments|length > 0 and tenantInformation.feature('ItemAttachment') %}
            <div class="file-attachments">
                <div style="font-weight: bold">{% trans %}public_item.downloads{% endtrans %}</div>
                {% if app.user.id is not defined  %}
                    <p>({% trans %}public_item.log_in_to_download{% endtrans %})</p>
                {% endif %}
                {% for file in product.fileAttachments %}
                    <div>
                    {% if app.user.id is defined  %}
                        <a target="_blank" href="/file/{{ tenantInformation.schema }}/{{ file.fileName }}">{{ file.friendlyName }}</a>
                    {% else %}
                        {{ file.fileName }}
                    {% endif %}
                    </div>
                {% endfor %}
                <br>
            </div>

        {% endif %}

        {#Main controls#}
        {% if user.id is defined %}

            {% if product.itemType == 'stock' %}

                {% if user.activeMembership is defined and user.activeMembership %}

                    {% if inventory|length > 0 %}
                        <form method="POST" action="{{ path('basket_add_stock', {itemId: product.id}) }}">
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Available</th>
                                <th>Add</th>
                            </tr>
                            </thead>
                            {% for i in inventory %}
                                <tr>
                                    <td>{{ i.siteName }}<br>{{ i.locationName }}</td>
                                    <td>{{ i.qty }}</td>
                                    <td style="width:80px">
                                        <input type="text" class="form-control" name="add_qty[{{ i.locationId }}]">
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% if app.session.get('active-loan') %}
                            <button type="submit" name="add-to-loan" value="loan" class="btn btn-success">Add to loan {{ app.session.get('active-loan') }}</button>
                        {% endif %}
                        <button type="submit" name="add-to-basket" value="basket" class="btn btn-success">{% trans %}public_item.basket_add{% endtrans %}</button>
                        </form>
                    {% else %}
                        <div class="alert alert-warning">
                            No stock available
                        </div>
                    {% endif %}

                {% else %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="alert alert-warning">
                            {{ user.name }} does not have an active membership.<br>
                            <a href="{{ path('choose_membership', {c: user.id, itemId: product.id}) }}">Subscribe now</a>,
                            or <a href="{{ path('member_search', {itemId: product.id}) }}">change user</a>.
                        </div>
                    {% else %}
                        <div class="alert alert-info">
                            An active membership is required to buy this item.
                            {#{{ 'text_borrow_with_membership'|trans({}, 'member_site') }}#}
                        </div>
                    {% endif %}
                {% endif %}

                <style>
                    #calendar { display:none }
                    #calendar-key { display:none }
                </style>

            {% elseif (product.isReservable != false or is_granted('ROLE_ADMIN'))  %}

                {#Item is reservable, or we are admin#}
                {% if user.activeMembership is defined and user.activeMembership %}

                    {% if maintenanceOverdue == true %}

                        <div class="alert alert-warning no-borrow" id="warning-maintenance-due">
                            {% trans %}public_item.not_reservable{% endtrans %}
                        </div>

                    {% else %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="#" class="btn btn-success button-borrow" id="button-borrow">{% trans %}public_item.borrow_now{% endtrans %}</a>
                        {% else %}
                            <a href="#" class="btn btn-success button-borrow" id="button-borrow">{% trans %}public_item.borrow_now{% endtrans %}</a>
                        {% endif %}
                    {% endif %}

                    <div class="alert alert-danger" id="pickup-date-error" style="display: none;">
                        {% trans %}public_item.pickup_date_error{% endtrans %}
                    </div>
                    <div class="alert alert-danger" id="pickup-site-error" style="display: none;">
                        {% trans %}public_item.pickup_site_error{% endtrans %}
                    </div>

                {% else %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="alert alert-warning" id="warning-no-membership">
                            {{ user.name }} does not have an active membership.<br>
                            <a href="{{ path('choose_membership', {c: user.id, itemId: product.id}) }}">Subscribe now</a>,
                            or <a href="{{ path('member_search', {itemId: product.id}) }}">change user</a>.
                        </div>
                    {% else %}
                        <div class="alert alert-info">
                            {{ 'text_borrow_with_membership'|trans({}, 'member_site') }}
                        </div>
                    {% endif %}

                {% endif %}

            {% else %}

                <div class="alert alert-warning no-borrow" id="warning-item-not-reservable">
                    {% trans %}public_item.not_reservable{% endtrans %}
                </div>

            {% endif %}

        {% else %}

            {#Not logged in#}
            {% if product.isReservable == false %}
                <div class="alert alert-warning no-borrow">
                    {% trans %}public_item.not_reservable{% endtrans %}
                </div>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">
                    {% trans %}public_item.log_in_to_borrow{% endtrans %}
                </a>
            {% endif %}

        {% endif %}

        <br><br>

    </div>

</div>

<br />


<script>
    // Set the correct thumbnail
    function setImage(imageId) {
        jQuery("#" + imageId).show();
        jQuery(".img-large:not(#" + imageId + ")").hide();
    }
</script>
