{% extends 'base.html.twig' %}

{% block pageCss %}
    <link rel="stylesheet" href="/plugins/timepicker/timepicker.css">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block body %}

    <style>
        .date-picker-wrapper {
            /*width: 100%;*/
            padding: 0;
            border: 0;
            background-color: #fff;
        }
        .drp_top-bar {
            display: none;
        }
        .date-picker-wrapper .month-wrapper table .day.real-today {
            background-color: #f6f6f6;
        }
    </style>
    {{ form_start(form, {'attr': {'id': 'event_admin'}}) }}
    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <div class="row">
        <div class="col-md-5">

            <div class="box box-default box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Event information</h3>
                    {{ label|raw }}
                </div>
                <div class="box-body">
                    {{ form_row(form.title) }}
                    <div class="row">
                        <div class="col-md-6" style="min-width:200px;">
                            {{ form_row(form.date) }}
                            <input type="hidden" name="datePicker" id="datePicker" value="{{ event.date|date('Y-m-d') }}">
                            <div id="date-container"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.timeFrom) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.timeTo) }}
                                </div>
                            </div>
                            {{ form_row(form.site) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.maxAttendees) }}
                        </div>
                        <div class="col-md-6">
                            <label>Price per attendee</label>
                            <div class="input-group">
                                <span class="input-group-addon">{{ tenantInformation.currencySymbol }}</span>
                                {{ form_widget(form.price) }}
                            </div>
                            <div class="help-block">
                                Can be overridden by admin.
                            </div>
                        </div>
                    </div>
                    {{ form_row(form.type) }}

                    <div class="row">
                        <div class="col-md-5">
                            {{ form_row(form.isBookable) }}
                        </div>
                        <div class="col-md-7">
                            {{ form_row(form.facebookUrl) }}
                        </div>
                    </div>

                    {{ form_row(form.description) }}
                </div>
            </div>

        </div>

        <div class="col-md-7">

            <div class="box box-default box-solid">
                <div class="box-header with-border"><h3 class="box-title">Attendees</h3></div>
                <div class="box-body">
                    <input type="hidden" name="batchActionTask" id="batchActionTask">
                    {% if event.attendees|length == 0 %}
                        <div class="alert alert-info">This event has no attendees.</div>
                    {% else %}
                        <div id="batch-actions" style="margin-bottom: 10px">
                            With <span id="count-rows"></span> selected :
                            <button type="button" class="btn btn-xs btn-default batch-button" data-task="remove">Remove</button>
                            {#<button type="button" class="btn btn-xs btn-default batch-button" data-task="email">Email</button>#}
                            {#<button type="button" class="btn btn-xs btn-default batch-button" data-task="organiser">Make organiser</button>#}
                        </div>
                        <table class="table table-hover table-striped" id="table-attendees">
                            <thead>
                            <tr>
                                <th class="no-sort" style="width:10px"><input type="checkbox" id="select-all"></th>
                                <th>Name</th>
                                <th class="hidden-xs">Added at</th>
                                <th style="width:90px">Price</th>
                                <th>Paid</th>
                            </tr>
                            </thead>
                            {% set totalPaidAmount = 0 %}
                            {% set totalFeeAmount = 0 %}

                            {% for attendee in event.attendees %}
                                <tr>
                                    <td><input type="checkbox" name="attendees[]" value="{{ attendee.id }}" class="row-checkbox"></td>
                                    <td>
                                        {#{% if attendee.type == "organiser" %}#}
                                            {#<i class="fa fa-user-secret" data-toggle="tooltip" title="" data-original-title="Organiser"></i>#}
                                        {#{% endif %}#}
                                        <a href="{{ path('contact', {id: attendee.contact.id}) }}">{{ attendee.contact.name }}</a>
                                        <div class="small">{{ attendee.contact.email }}</div>
                                        <div class="small">{{ attendee.contact.telephone }}</div>
                                    </td>
                                    <td class="hidden-xs">
                                        {{ attendee.createdAt|date }}
                                        <div class="small">
                                            By {{ attendee.createdBy.name }}
                                        </div>
                                    </td>
                                    <td>
                                        <input name="prices[{{ attendee.id }}]" size="6" class="form-control input-sm" value="{{ attendee.price }}">
                                        {% set totalFeeAmount = totalFeeAmount + attendee.price %}
                                    </td>
                                    <td>
                                        {{ tenantInformation.currencySymbol }}{{ attendee.paidAmount|number_format(2) }}
                                        {% set totalPaidAmount = totalPaidAmount + attendee.paidAmount %}
                                        <div style="padding: 4px 0; font-size: 12px">
                                            <a href="{{ path('event_payment', {attendeeId: attendee.id}) }}" class="modal-link">Take payment</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tfoot>
                                <th></th>
                                <th></th>
                                <th class="hidden-xs"></th>
                                <th>{{ tenantInformation.currencySymbol }}{{ totalFeeAmount|number_format(2) }}</th>
                                <th>{{ tenantInformation.currencySymbol }}{{ totalPaidAmount|number_format(2) }}</th>
                            </tfoot>
                        </table>
                    {% endif %}

                    <div class="page-help">
                        <p>
                            <strong>To add attendees</strong>, search for the user on your member site, click "browse as" then visit the events list
                            and book from there. Users do not have to be members to attend events.
                        </p>
                        <p>
                            <strong>Checking in</strong> to an event adds an attendee without sending a booking confirmation email.
                            Check in just as though you were booking online. Check in is only possible for free events,
                            or if you are admin browsing on behalf of a user.
                        </p>
                        {#<p>#}
                            {#<strong>Organisers</strong> don't currently have any extra permissions or roles, but in the future#}
                            {#we may give access to organisers to make changes to events.#}
                        {#</p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-controls">
        {% if event.id %}
        <a href="{{ path('event_copy', {eventId: event.id}) }}" class="btn btn-default">Copy</a>
        {% endif %}
        {% if event.status == "DRAFT" and event.id %}
            <a href="{{ path('event_publish', {eventId: event.id}) }}" class="btn btn-default">Publish</a>
        {% elseif event.status == "PUBLISHED" and event.id %}
            <a href="{{ path('event_unpublish', {eventId: event.id}) }}" class="btn btn-default">Un-publish</a>
        {% endif %}
        <button type="submit" id="save-event" name="submitForm" value="save" class="btn bg-green btn-loading">Save</button>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block pagejs %}
    <script src="/plugins/timepicker/timepicker.js"></script>
    <script>
        $(document).ready(function () {

            var datePickerField = $("#datePicker");
            datePickerField.dateRangePicker({
                format: 'ddd MMM D YYYY',
                autoClose: true,
                singleDate: true,
                singleMonth: true,
                showShortcuts: false,
                inline: true,
                alwaysOpen: true,
                container: '#date-container',
                setValue: function (s) {
                    if (!$(this).attr('readonly') && !$(this).is(':disabled') && s != $(this).val()) {
                        $(this).val(s)
                    }
                }
            }).bind('datepicker-change', function (event, obj) {
                var eventDate = moment(obj.date1).format('YYYY-MM-DD');
                $("#event_date").val(eventDate);
            });

            datePickerField.data('dateRangePicker').setDateRange('{{ eventDate }}', '{{ eventDate }}', true);

//            http://www.jonthornton.com/jquery-timepicker/
            $("#event_timeFrom").timepicker({
                'timeFormat' : 'H:i a',
                'step' : 30,
                'minTime': '7:00am',
                'maxTime': '10:00pm'
            });
            $("#event_timeTo").timepicker({
                'timeFormat' : 'H:i a',
                'step' : 30,
                'minTime': '7:00am',
                'maxTime': '10:00pm'
            });

            var attendees = $("#table-attendees");

            attendees.DataTable({
                pageLength: 100,
                ordering: true,
                columnDefs: [{
                    orderable: false,
                    targets: "no-sort"
                }],
                "order": [[ 2, "asc" ]]
            });

            /* BATCH PROCESSING */

            attendees.on('click', "#select-all", function() {
                if ($(this).is(":checked")) {
                    $(".row-checkbox").prop('checked', true);
                } else {
                    $(".row-checkbox").prop('checked', false);
                }
                highlightSelectedRows();
            });

            attendees.on('click', ".row-checkbox", function() {
                highlightSelectedRows();
            });

            function highlightSelectedRows() {
                var selectedRows = 0;
                $(".row-checkbox").each(function() {
                    if ($(this).is(":checked")) {
                        $(this).parents("tr").addClass('selected-row');
                        selectedRows++;
                    } else {
                        $(this).parents("tr").removeClass('selected-row');
                    }
                });
                if (selectedRows > 0) {
                    $("#count-rows").html(selectedRows);
                } else {
                    $("#count-rows").html("");
                }
            }

            $("#batch-actions").on('click', ".batch-button", function() {
                var task = $(this).data('task');
                $("#batchActionTask").val(task);
                $("#event_admin").submit();
            });
        });
    </script>
{% endblock %}