{# app/Resources/views/loan/loan_extend.html.twig #}
{% extends 'modal.html.twig' %}

{% block modalTitle %}{{ title }}{% endblock %}

{% block modalSubTitle %}
    <div>
        <span>
            <strong>{{ tenantInformation.currency }} {{ defaultLoanFee }}</strong>
        &nbsp;&nbsp;for&nbsp;
        <strong>{{ defaultLoanDays }} days</strong>
        </span>
        <span class="pull-right">
            {% if loanRow.loan.contact.activeMembership.MembershipType.discount > 0 %}
                including member discount of <strong>{{ loanRow.loan.contact.activeMembership.MembershipType.discount|number_format(0) }}%</strong>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block modalBody %}

    <form method="POST" action="{{ path('extend_loan', {loanRowId: loanRow.id, loanId: loanId}) }}">
        <div class="row">
            <div class="col-md-5">
                <input type="hidden" name="new_return_date" id="date-extend">
                <div id="date-extend-container"></div>
            </div>
            <div class="col-md-7">
                <div style="padding-bottom: 10px">
                    <label>Original return date</label>
                    <div class="text-large">
                        {{ loanRow.dueInAt|date('D M d Y') }}
                    </div>
                </div>
                <div style="padding-bottom: 10px">
                    <label>New return date</label>
                    <div>
                        <span id="modal_display_new_time_in" class="text-large">
                            {{ loanRow.dueInAt|date('D M d Y') }}
                        </span>
                        <a href="#" id="addDays" class="btn btn-xs btn-default" style="margin-bottom: 6px; margin-left: 20px">Add {{ defaultLoanDays }} days</a>
                    </div>
                </div>
                <div style="padding-bottom: 10px">
                    <label>Extending by</label>
                    <div class="text-large">
                        <span class="extend-days">0</span> days
                    </div>
                </div>
                <div style="padding-bottom: 10px">
                    <label>Add a fee on account</label>
                    <div class="form-group">
                        <input type="text" name="extensionFeeAmount" class="form-control input-100 pull-left">
                        <span style="padding: 5px;">
                            <span class="extend-days">0</span> days at {{ dailyFee|number_format(2) }}/day = <span id="calculatedFee">0</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    <button type="button" id="apply_extension" class="btn bg-green pull-right modal-submit">Update return date</button>
    <script>
        $(document).ready(function () {

            var reservedDays = [];
            {% if reservedDays|length > 0 %}
            {% for day in reservedDays %}
reservedDays.push("{{ day }}");
            {% endfor %}
            {% endif %}

            // Datepicker for extension (in modal)
            var dateExtendField = $("#date-extend");
            dateExtendField.dateRangePicker({
                format: 'ddd MMM D YYYY',
                autoClose: true,
                singleDate: true,
                singleMonth: true,
                showShortcuts: false,
                inline: true,
                alwaysOpen: true,
                container: '#date-extend-container',
                setValue: function (s) {
                    if (!$(this).attr('readonly') && !$(this).is(':disabled') && s != $(this).val()) {
                        $(this).val(s)
                    }
                },
                beforeShowDay: function(t)
                {
                    var dt = t.getFullYear() + '-' + ('0' + (t.getMonth()+1)).slice(-2) + '-' + ('0' + t.getDate()).slice(-2) ;
                    var valid = $.inArray(dt, reservedDays) == -1;
                    var _class = 'ok';
                    if (!valid) {
                        _class = 'booked';
                    }
                    var _tooltip = valid ? '' : 'Reserved';
                    return [valid,_class,_tooltip];
                }
            }).bind('datepicker-change', function (event, obj) {
                var newTimeIn = moment(obj.date1).format('YYYY-MM-DD');
                var start = moment("{{ loanRow.dueInAt|date('Y-m-d') }}");
                var end = moment(newTimeIn);
                var duration = moment.duration(end.diff(start));
                var days = duration.asDays().toFixed(0);
                $(".extend-days").html(days);
                $("#modal_display_new_time_in").html(end.format('ddd MMM DD YYYY'));
                $("#modal_new_time_in").val(end.format('YYYY-MM-DD'));
                calculateExtensionFee(days);
            });

            // Set the default value
            setCalendarDate('{{ loanRow.dueInAt|date('D M d Y') }}');

            // Extend
            $("#addDays").on("click", function() {
                var oldReturnDate = moment($("#modal_display_new_time_in").html());
                var new_date = moment(oldReturnDate).add({{ defaultLoanDays }}, 'days');
                console.log(new_date);
                setCalendarDate(new_date.format('ddd MMM DD YYYY'));
            });

            function setCalendarDate(date) {
                dateExtendField.data('dateRangePicker').setDateRange(date, date);
            }

            function calculateExtensionFee(days) {
                var extensionFee = {{ dailyFee }} * days;
                $("#calculatedFee").html(extensionFee.toFixed(2));
            }
        });
    </script>
{% endblock %}


