<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lend Engine</title>

    <meta name="keywords" content="">

    {% stylesheets
    '@AppBundle/Resources/css/bootstrap.css'
    '@AppBundle/Resources/css/fullcalendar.css'
    '@AppBundle/Resources/css/bootstrap-social.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block pageCss %}{% endblock %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Responsivity for older IE -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        var stripePublicApiKey = "{{ tenantInformation.stripePublicApiKey }}";
        var stripePaymentFee = "{{ tenantInformation.stripeFee }}";
    </script>

    {% if tenantInformation.stripeAccessToken|length > 0 %}
        <script src="https://checkout.stripe.com/checkout.js"></script>
    {% endif %}

    {% javascripts
    '@AppBundle/Resources/js/jQuery-2.1.4.min.js'
    '@AppBundle/Resources/js/bootstrap.js'
    '@AppBundle/Resources/js/admin.js'
    '@AppBundle/Resources/js/moment.js'
    '@AppBundle/Resources/js/fullcalendar.js'
    filter='uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>

<body>

{% trans_default_domain 'member_site' %}

<style type="text/css">
    {{ tenantInformation.siteCSS|raw }}
</style>

<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">{{ tenantInformation.companyName }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Latest items</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By category <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row">

        <div class="col-sm-3 col-md-2">

            <div class="navbar navbar-collapse">
                {{ knp_menu_render('siteMenu') }}

                {#<ul class="nav">#}
                    {#<li><a href="#">Reports</a></li>#}
                    {#<li><a href="#">Analytics</a></li>#}
                    {#<li><a href="#">Export</a></li>#}
                {#</ul>#}
            </div>

            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>

        </div>

        <div class="col-sm-9 col-md-10">

            <form role="search" action="{{ path('public_products') }}">
                <div class="input-group">
                    <input type="text" name="search" id="search-text" class="form-control" value="{{ app.request.get('search') }}" placeholder="{% trans %}public_misc.search_items{% endtrans %} ...">
                    <span class="input-group-btn">
                        <button type="submit" id="search-button" class="btn btn-success">{% trans %}button_go{% endtrans %}</button>
                    </span>
                </div>
            </form>

            {% block body %}
                {{ include('public/pages/home.html.twig') }}
            {% endblock %}

        </div>
    </div>

</div> <!-- /container -->

<footer id="footer">

    <div class="container">

        <div class="row">
            <div class="col-sm-12" style="padding-bottom: 40px;">

                    <span style="padding-right: 15px">
                        {% trans %}public_misc.powered_by{% endtrans %}
                        <a href="http://www.lend-engine.com" target="_blank">The Lend Engine</a>
                    </span>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <span style="padding-right: 15px">{% trans %}public_misc.logged_in_as{% endtrans %} {{ app.user.firstName }} {{ app.user.lastName }}.</span>
                {% endif %}

                <span style="padding-right: 15px;">
                        {% trans %}public_misc.choose_lang{% endtrans %}:&nbsp;&nbsp;

                    {% if app.request.locale == 'en' %}
                        <strong>English</strong> &nbsp;&nbsp;
                            <a href="{{ path('set_locale', {loc: 'fr'}) }}">Francais</a> &nbsp;&nbsp;
                            <a href="{{ path('set_locale', {loc: 'nl'}) }}">Nederlands</a>
                        {% elseif app.request.locale == 'fr' %}
                        <a href="{{ path('set_locale', {loc: 'en'}) }}">English</a> &nbsp;&nbsp;
                            <strong>Francais</strong> &nbsp;&nbsp;
                            <a href="{{ path('set_locale', {loc: 'nl'}) }}">Nederlands</a>
                    {% elseif app.request.locale == 'nl' %}
                        <a href="{{ path('set_locale', {loc: 'en'}) }}">English</a> &nbsp;&nbsp;
                            <a href="{{ path('set_locale', {loc: 'fr'}) }}">Francais</a> &nbsp;&nbsp;
                            <strong>Nederlands</strong>
                    {% endif %}
                    </span>

            </div>
        </div>
    </div>
</footer>

{% block pagejs %}{% endblock %}

</body>

</html>