{% if loanId is defined %}
    {% set itemPreviewUrl = path('public_product', {productId: item.id, loanId: loanId, modal: 'true'}) %}
{% else %}
    {% set itemPreviewUrl = path('public_product', {productId: item.id, modal: 'true'}) %}
{% endif %}

{% if item.images|length > 0 %}
    <div class="item-thumb hidden-xs">
        <a href="{{ itemPreviewUrl }}" class="modal-link">
            <img class="img-rounded img-thumbnail" src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/thumbs/{{ item.imageName }}">
            {% if item.images | length > 1 %}
                <div class="item-image-count">+{{ (item.images|length - 1) }} more</div>
            {% endif %}
        </a>
    </div>
{% else %}
    <div class="item-thumb hidden-xs no-image">No image</div>
{% endif %}

<span class="item-name">
    {% if item.showOnWebsite == false %}
        <i class="fa fa-exclamation-circle" data-toggle="tooltip" title="This item is not shown on your Lend Engine member website" style="color: #ff741e"></i>
    {% endif %}
    {% if item.itemType == 'kit' %}
        <i class="fa fa-sitemap" style="color:#000"></i>
    {% elseif item.itemType == 'stock' %}
        <i class="fa fa-cube" style="color:#000"></i>
    {% endif %}
    <a href="{{ itemPreviewUrl }}" class="modal-link">{{ item.name }}</a>
</span>

{{ include('item/item_details.html.twig') }}