{% extends 'member_site/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block accountNav %}
    {{ include('member_site/themes/widgets/account_menu.html.twig') }}
{% endblock %}

{% block body %}

    <h2>
        {% trans %}public_add_credit.title{% endtrans %}
        {% if user is defined and user.id != app.user.id %}
            {{ include('member_site/partials/session_user.html.twig') }}
        {% endif %}
    </h2>

    {{ include('member_site/partials/account_balance.html.twig') }}

    {{ form_start(form, { 'attr' : { 'class': 'payment-form', 'id' : "paymentForm" } }) }}

    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    {{ include('cores/payment_core.html.twig') }}

    <button type="button" class="btn btn-success payment-submit" data-text="Add credit">{% trans %}button_add_credit{% endtrans %}</button>

    {{ form_end(form) }}

{% endblock %}