{% trans_default_domain 'member_site' %}
{% extends 'member_site/themes/loader.html.twig' %}

{% block accountNav %}
    {{ include('member_site/themes/widgets/account_menu.html.twig') }}
{% endblock %}

{% block pageCss %}
<style>
    @media(max-width:767px){
        .fixed-footer {
            background-color: #fff;
            border-top: 1px solid #aaa;
            bottom: 0;
            box-sizing: border-box;
            height: 60px;
            padding: 10px;
            position: fixed;
            right: 0;
            width: 100%;
            z-index: 99999;
        }
    }
    @media(min-width:768px){
        .fixed-footer {
            padding-bottom: 10px;
        }
    }
</style>
{% endblock %}

{% block body %}

    <h2>
        {% trans %}public_basket.title{% endtrans %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('member_site/partials/session_user.html.twig') }}
            <br>
            <a href="{{ path('member_search', {'go': 'basket'}) }}" style="font-size: 13px;">Change user</a>
        {% endif %}
    </h2>

        <style>
            .basket-amount {
                text-align: right;
                width: 60px;
            }
            .basket-total {
                font-size: 20px;
                font-weight: bold;
                text-align: right;
            }
            .basket-serial {
                padding: 4px 0;
            }
            .table.borderless td, .table.borderless th {
                border-bottom: 1px solid #eee;
                border-top: none;
            }
        </style>

    {% if tenantInformation.basket is defined and tenantInformation.basket %}

        {% if tenantInformation.basket.loanRows|length > 0 and tenantInformation.basket.collectFromSite %}
            <div style="padding: 10px">
                <i class="far fa-clock" style="color: #5cb85c"></i>
                {% trans %}public_basket.pickup_after{% endtrans %} <strong>{{ tenantInformation.basket.loanRows|first.dueOutAt|date("l j F g:i a") }}</strong>
                <span class="multi-site">
                    {% trans %}public_basket.from{% endtrans %} <strong>{{ tenantInformation.basket.collectFromSite.name }}</strong>
                </span>
            </div>
        {% endif %}

        <form method="POST" id="form-basket" name="form_basket" class="payment-form" action="{{ path('basket_confirm') }}">

        <table class="table borderless" id="basketDetails">

            {% if tenantInformation.basket.loanRows|length == 0 %}
                <div class="alert alert-info">
                    {% trans %}public_basket.no_items{% endtrans %}
                    <br><br>
                </div>
            {% endif %}

            {#The basket items come from a deserialized session var#}
            {% set basketContainsStockItems = false %}
            {% set basketContainsLoanItems = false %}

            {% for row in tenantInformation.basket.loanRows %}
                {% if row.inventoryItem.itemType == 'stock' %}
                    {{ include('member_site/partials/basket_row_stock.html.twig') }}
                    {% set basketContainsStockItems = true %}
                {% elseif row.inventoryItem.itemType == 'service' %}
                    {{ include('member_site/partials/basket_row_service.html.twig') }}
                {% else %}
                    {{ include('member_site/partials/basket_row.html.twig') }}
                    {% set basketContainsLoanItems = true %}
                {% endif %}
            {% endfor %}

            <tr>
                <td class="hidden-xs"></td>
                <td class="basket-total">
                    {% trans %}public_basket.total{% endtrans %}
                </td>
                <td class="basket-total">
                    {{ tenantInformation.currencySymbol }}&nbsp;<span class="basketTotalAmount"></span>
                </td>
            </tr>

            {% if tenantInformation.basket.shippingFee and 0 %}
                <tr>
                    <td class="hidden-xs"></td>
                    <td class="basket-total">
                        {% trans %}public_basket.shipping{% endtrans %}
                    </td>
                    <td class="basket-total">
                        {{ tenantInformation.currencySymbol }} {{ tenantInformation.basket.shippingFee|number_format(2) }}
                        {#<input type="hidden" name="shipping_fee" class="fee-amount" id="shippingFee" value="{{ tenantInformation.basket.shippingFee }}">#}
                    </td>
                </tr>
            {% endif %}

        </table>

            {% if tenantInformation.basket.loanRows|length > 0 %}

                {% if tenantInformation.setting('postal_loans') and basketContainsLoanItems == true %}
                    <h2>{% trans %}shipping.delivery_options{% endtrans %}</h2>

                    <div class="row" id="selectChoices">
                        <div class="col-md-6">
                            <div class="btn-group">
                                {% if tenantInformation.basket.collectFrom == "post" %}
                                    <button type="button" class="btn btn-default" id="chooseWarehouse">
                                        {% trans %}shipping.collect{% endtrans %} {{ tenantInformation.basket.collectFromSite.name }}
                                    </button>
                                    <button type="button" class="btn btn-default active" id="choosePostal">
                                        {% trans %}shipping.post{% endtrans %}
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-default active" id="chooseWarehouse">
                                        {% trans %}shipping.collect{% endtrans %} {{ tenantInformation.basket.collectFromSite.name }}
                                    </button>
                                    <button type="button" class="btn btn-default" id="choosePostal">
                                        {% trans %}shipping.post{% endtrans %}
                                    </button>
                                {% endif %}
                            </div>
                            {{ include('member_site/partials/shipping_quote.html.twig') }}
                            <input type="hidden" name="collect_from" value="{{ tenantInformation.basket.collectFrom }}" id="collectFrom">
                        </div>
                    </div>
                    {% if tenantInformation.basket.collectFrom == "post" %}
                        <strong>{% trans %}shipping.ship_to{% endtrans %}</strong>
                        <div style="text-align: left; padding-bottom: 20px;">
                            {{ user.address }}<br><br>
                            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-xs btn-default">{% trans %}shipping.edit_address{% endtrans %}</a>
                        </div>
                    {% endif %}
                    <br>
                {% endif %}

                <div id="formControls">

                    <div style="text-align: right">

                        {% if tenantInformation.stripePaymentMethodId %}
                            <button type="button" class="btn btn-success actionCredit" style="display:none" id="buttonCredit">
                                {% trans %}button_add_credit{% endtrans %}
                            </button>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <button type="button" class="btn btn-success" id="buttonSave" style="display:none">Save changes</button>
                        {% endif %}

                        {% if basketContainsStockItems == true %}
                            <div class="help-block">
                                {% trans %}public_basket.remove_stock_items{% endtrans %}
                            </div>
                        {% endif %}

                        <div class="fixed-footer">

                            <a href="/products?show=recent" class="btn btn-default">
                                {% trans %}public_basket.add_items{% endtrans %}
                            </a>

                            {% if tenantInformation.selfCheckout %}
                                <button type="button" class="btn btn-success hideOnFormChange" id="buttonCheckOut">
                                    {% trans %}public_basket.button_checkout{% endtrans %}
                                </button>
                            {% endif %}

                            {% if basketContainsStockItems != true %}
                                <button type="button" class="btn btn-success hideOnFormChange" style="margin-left: 20px;" id="buttonConfirm">
                                    {% trans %}public_basket.confirm_reservation{% endtrans %}
                                </button>
                            {% endif %}

                        </div>

                        {% if tenantInformation.basket.reservationFee > 0 %}
                            {% trans %}note_reservation_fee{% endtrans %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <input type="text" class="basket-amount fee-amount save-on-change" name="booking_fee" value="{{ tenantInformation.basket.reservationFee|number_format(2) }}">
                            {% else %}
                                {{ tenantInformation.currencySymbol }} {{ tenantInformation.basket.reservationFee|number_format(2) }}
                                <input type="hidden" class="fee-amount" value="{{ tenantInformation.basket.reservationFee|number_format(2) }}">
                            {% endif %}
                        {% endif %}

                        <button type="button" id="addCreditButton" class="btn btn-success" style="margin-top:10px; display:none">
                            {% trans %}button_add_credit{% endtrans %}
                        </button>

                    </div>

                </div>

                <div id="basket-account-balance" style="margin-top: 10px; padding-top: 10px; text-align: right">
                    {% trans %}public_item.account_balance_is{% endtrans %} {{ tenantInformation.currencySymbol }} {{ contactBalance|number_format(2) }}

                    {% if user.activeMembership.membershipType.creditLimit is not null %}
                        <div>
                        {% trans %}public_misc.credit_limit{% endtrans %}
                        {{ tenantInformation.currencySymbol }} {{ user.activeMembership.membershipType.creditLimit|number_format(2) }}
                        </div>
                    {% endif %}

                    <span class="actionCredit" style="display:none">
                        {% trans %}public_basket.add_credit_message{% endtrans %}
                    </span>
                </div>

                <a href="{{ path('basket_cancel') }}" class="btn btn-default">{% trans %}public_basket.empty{% endtrans %}</a>

            {% endif %}

            <input type="hidden" name="action" id="action" value="">

        </form>

    {% else %}

        <div class="alert alert-warning">
            Your basket is empty.
        </div>

    {% endif %}

{% endblock %}

{% block pagejs %}
    <script>

        var basketTotal = 0.00;
        var feeTotal    = 0.00;
        var grandTotal  = 0.00;

        $(document).ready(function() {

            var confirmMessage = '';

            $("#search-text").focus();

            calculateBasketTotal();

            var deliveryChoice = $("#selectChoices");

            deliveryChoice.on('click', "#chooseWarehouse", function() {
                $("#collectFrom").val('collect');
                $("#form-basket").attr("action", "{{ path('basket_save') }}").submit();
            });

            deliveryChoice.on('click', "#choosePostal", function() {
                $("#collectFrom").val('post');
                $("#form-basket").attr("action", "{{ path('basket_save') }}").submit();
            });

            var formControls = $("#formControls");

            formControls.on('click', '#addCreditButton', function() {
                document.location.href = "{{ path('add_credit') }}?amount="+basketTotal+"&c={{ tenantInformation.basket.contact.id }}&return=basket";
            });

            // Create reservation
            formControls.on('click', '#buttonConfirm', function(e) {
                if (!validateCollectionPoint()) {
                    return false;
                }
                {% if tenantInformation.basket.loanRows %}
                    {% if tenantInformation.basket.loanRows|first.dueOutAt|date("Y-m-d") < date()|date("Y-m-d") %}
                    if (!window.confirm("Pickup date is in the past.\nAre you sure you want to create a reservation?")) {
                        return false;
                    }
                    {% endif %}
                {% endif %}

                {% if tenantInformation.chargeDailyFee %}
                    confirmMessage = "The full fee of {{ tenantInformation.currencySymbol }} "+grandTotal+" {% trans %}public_basket.full_charge{% endtrans %}.";
                {% else %}
                    confirmMessage = "{{ tenantInformation.currencySymbol }} "+feeTotal+" {% trans %}public_basket.delay_charge{% endtrans %}.";
                {% endif %}

                if (window.confirm(confirmMessage)) {
                    $("#form-basket").submit();
                    waitButton($('#buttonConfirm'));
                }
            });

            formControls.on('click', '#buttonSave', function(e) {
                e.preventDefault();
                $("#form-basket").attr("action", "{{ path('basket_save') }}").submit();
                waitButton($('#buttonSave'));
            });

            // Check out to create a new pending loan
            formControls.on('click', '#buttonCheckOut', function(e) {
                e.preventDefault();
                if (!validateCollectionPoint()) {
                    return false;
                }
                {% if tenantInformation.basket.loanRows %}
                    {% if tenantInformation.basket.loanRows|first.dueOutAt|date("Y-m-d") > date()|date("Y-m-d") %}
                    if (!window.confirm("Pickup date is in the future.\nAre you sure you want to check out now?")) {
                        return false;
                    }
                    {% endif %}
                {% endif %}
                $("#action").val("checkout");
                $("#form-basket").submit();
                waitButton($('#buttonCheckOut'));
            });

            $("#form-basket").on('keyup', '.save-on-change', function() {
                calculateBasketTotal();
                $(".hideOnFormChange").attr('disabled', true);
                $("#buttonSave").show();
            });

            $(".admin-tools").on('click', '#change-member-toggle', function() {
                $("#change-member-toggle").hide();
                $("#change-member-form").show();
                $("#member-search").focus();
            });

        });

        function validateCollectionPoint() {
            if ($("#collectFrom") != 'undefined' && $("#collectFrom").val() == "") {
                alert("Please choose a delivery option");
                return false;
            }
            return true;
        }

        function calculateBasketTotal() {
            basketTotal = 0;
            var depositTotal = 0;
            var reservationTotal = 0;
            var dueToPay;
            var availableCredit;
            var chargeFullFeeOnReservation = '{{ tenantInformation.chargeDailyFee }}';

            $(".row-total").each(function() {
                var qty = $(this).data('qty') * 1;
                basketTotal = basketTotal + $(this).val() * qty;
            });

            $(".basketTotalAmount").html(basketTotal.toFixed(2));

            $(".fee-amount").each(function() {
                feeTotal = feeTotal + $(this).val()*1;
            });

            $(".deposit-amount").each(function() {
                depositTotal = depositTotal + $(this).val()*1;
            });

            $(".feeTotalAmount").html(feeTotal.toFixed(2));

            if (chargeFullFeeOnReservation == '1') {
                reservationTotal = basketTotal + feeTotal;
            } else {
                reservationTotal = feeTotal;
            }

            grandTotal = feeTotal + basketTotal;
            dueToPay = grandTotal;
            if (accountBalance > 0) {
                dueToPay   = grandTotal - accountBalance;
            }

            availableCredit = creditLimit*1 + accountBalance*1;

            console.log("Fee total : "+feeTotal);
            console.log("Deposit total : "+depositTotal);
            console.log("Basket total : "+basketTotal);
            console.log("Grand total : "+grandTotal);
            console.log("Balance : "+accountBalance);
            console.log("Due to pay : "+dueToPay);
            console.log("Credit limit : "+creditLimit);
            console.log("Available credit : "+availableCredit);
            console.log("Payment required to reserve : "+reservationTotal);

            // Format for the alert message
            grandTotal = grandTotal.toFixed(2);

            if (selfCheckout) {
                // Check for ability to checkout
                if (dueToPay > 0) {
                    // some payment is due, work out if user can pay
                    if (depositTotal > 0 && !isAdmin) {
                        $("#buttonCheckOut").attr('disabled', true).html("Self serve checkout is not available where items require a deposit").removeClass("btn-success").addClass("btn-default");
                    } else if (creditLimit == "") {
                        // carry on
                    } else if (dueToPay < availableCredit || stripePaymentMethodId > 0) {
                        // carry on
                    } else {
                        // Can't check out
                        $("#buttonCheckOut").attr('disabled', true).html("Insufficient credit to check out").addClass("btn-default").removeClass("btn-success");
                        $("#addCreditButton").show();
                    }
                }
            }

            if (reservationTotal > 0) {
                // Check if we can reserve
                // Reservation fee is due
                if (creditLimit == "") {
                    // carry on
                } else if (reservationTotal <= availableCredit) {
                    // carry on and charge all to account
                } else {
                    // Can't reserve
                    $("#buttonConfirm").attr('disabled', true).html("Insufficient credit to create reservation").addClass("btn-default").removeClass("btn-success");
                    $("#addCreditButton").show();
                }
            }
            
        }

    </script>
{% endblock %}
