{% trans_default_domain 'member_site' %}
{% extends 'member_site/themes/loader.html.twig' %}

{% block accountNav %}
    {{ include('member_site/themes/widgets/account_menu.html.twig') }}
{% endblock %}

{% block pageCss %}{% endblock %}

{% block body %}

    <h2>
        {% trans %}public_basket.title{% endtrans %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('member_site/partials/session_user.html.twig') }}
            <br>
            <a href="{{ path('member_search', {'go': 'basket'}) }}" style="font-size: 13px;">Change user</a>
        {% endif %}
    </h2>

        <style>
            .basket-amount {
                text-align: right;
                width: 60px;
            }
            .basket-total {
                font-size: 20px;
                font-weight: bold;
                text-align: right;
            }
            .basket-serial {
                padding: 4px 0;
            }
            .table.borderless td, .table.borderless th {
                border-bottom: 1px solid #eee;
                border-top: none;
            }
        </style>

    {% if tenantInformation.basket is defined and tenantInformation.basket %}

        {% if tenantInformation.basket.loanRows|length > 0 %}
            <div style="padding: 10px">
                <i class="far fa-clock" style="color: #5cb85c"></i>
                {% trans %}public_basket.pickup_after{% endtrans %} <strong>{{ tenantInformation.basket.loanRows|first.dueOutAt|date("l j F g:i a") }}</strong>
                <span class="multi-site">
                    {% trans %}public_basket.from{% endtrans %} <strong>{{ tenantInformation.basket.loanRows|first.siteFrom.name }}</strong>
                </span>
            </div>
        {% endif %}

        <form method="POST" id="form-basket" class="payment-form" action="{{ path('basket_confirm') }}">

        <table class="table borderless" id="basketDetails">

            {% if tenantInformation.basket.loanRows|length == 0 %}
                <div class="alert alert-info">
                    {% trans %}public_basket.no_items{% endtrans %}
                    <br><br>
                </div>
            {% endif %}

            {#The basket items come from a deserialized session var#}
            {% for row in tenantInformation.basket.loanRows %}
                <tr>
                    <td style="width:100px">
                        {% if row.inventoryItem.imageName %}
                            <img src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/thumbs/{{ row.inventoryItem.imageName }}" class="img-thumbnail img-responsive">
                        {% else %}
                            <img src="//{{ tenantInformation.accountDomain }}/images/no_image.png" alt="" class="img-responsive">
                        {% endif %}
                    </td>
                    <td>
                        <div>
                            <a style="font-size: 16px" href="{{ path('public_product', {productId: row.inventoryItem.id}) }}">{{ row.inventoryItem.name }}</a>
                        </div>
                        {% if row.inventoryItem.serial %}
                        <div class="basket-serial">{% trans %}public_item.serial{% endtrans %}: <strong>{{ row.inventoryItem.serial }}</strong></div>
                        {% endif %}

                        <i class="far fa-clock"></i> {% trans %}public_basket.due_at{% endtrans %} <strong>{{ row.dueInAt|date("l j F g:i a") }}</strong>
                        ({{ row.duration }} {% transchoice row.duration %}days{% endtranschoice %})

                        {#CHANGE RETURN DATE#}
                        {# @todo update the basket, this will allow easier changes after one-click lending #}
                        {#<a href="{{ path('public_product', {productId: row.inventoryItem.id, extend: row.id, from: row.dueInAt|date("Y-m-d H:i:s") }) }}" class="">Change return date</a>#}

                        <br>
                        <div class="multi-site">
                            <i class="far fa-hospital"></i> {% trans %}public_basket.return_to{% endtrans %} <strong>{{ row.siteTo.name }}</strong>
                        </div>

                        {% if row.inventoryItem.depositAmount > 0 %}
                            <br>
                            <div class="alert alert-warning">
                                A deposit of {{ tenantInformation.currencySymbol }} {{ row.inventoryItem.depositAmount }} is required for this item.
                                <br>Payment is taken when items are checked out.
                                <input type="hidden" name="deposit[]" class="deposit-amount" value="{{ row.inventoryItem.depositAmount }}">
                            </div>
                        {% endif %}

                        <a href="{{ path('basket_item_remove', {itemId: row.inventoryItem.id}) }}" class="btn btn-xs btn-danger" style="margin-top: 4px;">
                            {% trans %}public_basket.remove_item{% endtrans %}
                        </a>
                    </td>
                    <td style="text-align: right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <input type="text" class="basket-amount row-total" name="row_fee[{{ row.inventoryItem.id }}]" value="{{ row.fee|number_format(2) }}">
                        {% else %}
                            {{ row.fee|number_format(2) }}
                            <input type="hidden" class="row-total" value="{{ row.fee|number_format(2) }}">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <td></td>
                <td class="basket-total">
                    {% trans %}public_basket.total{% endtrans %}
                </td>
                <td class="basket-total">
                    {{ tenantInformation.currencySymbol }}&nbsp;<span class="basketTotalAmount"></span>
                </td>
            </tr>

        </table>

            {% if tenantInformation.basket.loanRows|length > 0 %}
                <div id="formControls">

                    <div style="text-align: right">

                        {% if tenantInformation.stripePaymentMethodId %}
                            <button type="button" class="btn btn-success actionCredit" style="display:none" id="buttonCredit">{% trans %}button_add_credit{% endtrans %}</button>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <button type="button" class="btn btn-success" id="buttonSave" style="display:none">Save changes</button>
                        {% endif %}

                        {% if tenantInformation.selfCheckout %}
                            <button type="button" class="btn btn-success hideOnFormChange" id="buttonCheckOut">Check out now</button>
                        {% endif %}


                        <div style="margin-top: 40px; border-top:1px solid #efefef; padding-top: 10px;">
                        {% if tenantInformation.basket.reservationFee > 0 %}

                            {% trans %}note_reservation_fee{% endtrans %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <input type="text" class="basket-amount fee-amount" name="booking_fee" value="{{ tenantInformation.basket.reservationFee|number_format(2) }}">
                            {% else %}
                                {{ tenantInformation.currencySymbol }} {{ tenantInformation.basket.reservationFee|number_format(2) }}
                                <input type="hidden" class="fee-amount" value="{{ tenantInformation.basket.reservationFee|number_format(2) }}">
                            {% endif %}


                        {% endif %}
                        <button type="button" class="btn btn-success hideOnFormChange" style="margin-left: 20px;" id="buttonConfirm">{% trans %}public_basket.confirm_reservation{% endtrans %}</button>
                        </div>

                    </div>

                </div>

                <div id="basket-account-balance" style="margin-top: 10px; padding-top: 10px; border-top:1px solid #efefef; text-align: right">
                    {% trans %}public_item.account_balance_is{% endtrans %} {{ tenantInformation.currencySymbol }} {{ contactBalance|number_format(2) }}

                    {% if user.activeMembership.membershipType.creditLimit is not null %}
                        <div>
                        {% trans %}public_misc.credit_limit{% endtrans %}
                        {{ tenantInformation.currencySymbol }} {{ user.activeMembership.membershipType.creditLimit|number_format(2) }}
                    {% endif %}
                        </div>

                    <span class="actionCredit" style="display:none">
                        {% trans %}public_basket.add_credit_message{% endtrans %}
                    </span>
                </div>

                <a href="{{ path('basket_cancel') }}" class="btn btn-default">{% trans %}public_basket.empty{% endtrans %}</a>

            {% endif %}

            <input type="hidden" name="action" id="action" value="">

        </form>

    {% else %}

        <div class="alert alert-warning">
            Your basket is empty.
        </div>

    {% endif %}

{% endblock %}

{% block pagejs %}
    <script>

        var basketTotal = 0.00;
        var feeTotal    = 0.00;
        var grandTotal  = 0.00;

        $(document).ready(function() {

            var confirmMessage = '';

            $("#search-text").focus();

            calculateBasketTotal();

            var formControls = $("#formControls");

            formControls.on('click', '#buttonCredit', function() {
                document.location.href = "{{ path('add_credit') }}?amount="+basketTotal+"&c={{ tenantInformation.basket.contact.id }}&return=basket";
            });

            // Create reservation
            formControls.on('click', '#buttonConfirm', function(e) {
                {% if tenantInformation.basket.loanRows %}
                    {% if tenantInformation.basket.loanRows|first.dueOutAt|date("Y-m-d") < date()|date("Y-m-d") %}
                    if (!window.confirm("Pickup date is in the past.\nAre you sure you want to create a reservation?")) {
                        return false;
                    }
                    {% endif %}
                {% endif %}

                {% if tenantInformation.chargeDailyFee %}
                    confirmMessage = "The full fee of {{ tenantInformation.currencySymbol }} "+grandTotal+" {% trans %}public_basket.full_charge{% endtrans %}.";
                {% else %}
                    confirmMessage = "{{ tenantInformation.currencySymbol }} "+feeTotal+" {% trans %}public_basket.delay_charge{% endtrans %}.";
                {% endif %}

                if (window.confirm(confirmMessage)) {
                    $("#form-basket").submit();
                    waitButton($('#buttonConfirm'));
                }
            });

            formControls.on('click', '#buttonSave', function(e) {
                e.preventDefault();
                $("#form-basket").attr("action", "{{ path('basket_save') }}").submit();
                waitButton($('#buttonSave'));
            });

            formControls.on('click', '#buttonCheckOut', function(e) {
                e.preventDefault();
                {% if tenantInformation.basket.loanRows %}
                    {% if tenantInformation.basket.loanRows|first.dueOutAt|date("Y-m-d") > date()|date("Y-m-d") %}
                    if (!window.confirm("Pickup date is in the future.\nAre you sure you want to check out now?")) {
                        return false;
                    }
                    {% endif %}
                {% endif %}
                $("#action").val("checkout");
                $("#form-basket").submit();
                waitButton($('#buttonCheckOut'));
            });

            $("#basketDetails").on('keyup', '.row-total', function() {
                calculateBasketTotal();
                $(".hideOnFormChange").attr('disabled', true);
                $("#buttonSave").show();
            });

            $(".admin-tools").on('click', '#change-member-toggle', function() {
                $("#change-member-toggle").hide();
                $("#change-member-form").show();
                $("#member-search").focus();
            });

        });

        function calculateBasketTotal() {
            basketTotal = 0;
            var depositTotal = 0;
            var reservationTotal = 0;
            var dueToPay;
            var availableCredit;
            var chargeFullFeeOnReservation = '{{ tenantInformation.chargeDailyFee }}';

            $(".row-total").each(function() {
                basketTotal = basketTotal + $(this).val()*1;
            });

            $(".basketTotalAmount").html(basketTotal.toFixed(2));

            $(".fee-amount").each(function() {
                feeTotal = feeTotal + $(this).val()*1;
            });

            $(".deposit-amount").each(function() {
                depositTotal = depositTotal + $(this).val()*1;
            });

            $(".feeTotalAmount").html(feeTotal.toFixed(2));

            if (chargeFullFeeOnReservation == '1') {
                reservationTotal = basketTotal + feeTotal;
            } else {
                reservationTotal = feeTotal;
            }

            grandTotal = feeTotal + basketTotal;
            dueToPay = grandTotal;
            if (accountBalance > 0) {
                dueToPay   = grandTotal - accountBalance;
            }

            availableCredit = creditLimit*1 + accountBalance*1;

            console.log("Fee total : "+feeTotal);
            console.log("Deposit total : "+depositTotal);
            console.log("Basket total : "+basketTotal);
            console.log("Grand total : "+grandTotal);
            console.log("Balance : "+accountBalance);
            console.log("Due to pay : "+dueToPay);
            console.log("Credit limit : "+creditLimit);
            console.log("Available credit : "+availableCredit);

            // Format for the alert message
            feeTotal   = feeTotal.toFixed(2);
            grandTotal = grandTotal.toFixed(2);

            if (selfCheckout) {
                // Check for ability to checkout
                if (dueToPay > 0) {
                    // some payment is due, work out if user can pay
                    if (depositTotal > 0 && !isAdmin) {
                        $("#buttonCheckOut").attr('disabled', true).html("Self serve checkout is not available where items require a deposit").removeClass("btn-success").addClass("btn-default");
                    } else if (creditLimit == "") {
                        // carry on
                    } else if (dueToPay < availableCredit || stripePaymentMethodId > 0) {
                        // carry on
                    } else {
                        // Can't check out
                        $("#buttonCheckOut").attr('disabled', true).html("Insufficient credit to check out");
                    }
                }
            }

            if (reservationTotal > 0) {
                // Check if we can reserve
                // Reservation fee is due
                if (creditLimit == "") {
                    // carry on
                } else if (reservationTotal < availableCredit) {
                    // carry on and charge all to account
                } else {
                    // Can't reserve
                    $("#buttonConfirm").attr('disabled', true).html("Insufficient credit to create reservation");
                }
            }
            
        }

    </script>
{% endblock %}
