{% extends 'modal.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block modalTitle %}
    {{ event.title }}
{% endblock %}

{% block modalBody %}
    <script type="text/javascript">
        function add_markers() {
            var geocoder = new google.maps.Geocoder();
            var marker;

            geocoder.geocode({'address': '{{ event.site.address }}, {{ event.site.postcode }}, {{ tenantInformation.country }}'}, function(results, status)
            {
                if (status == google.maps.GeocoderStatus.OK) {
                    var _position = { lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()};
                    var mapOptions = {
                        zoom: 12,
                        center: _position,
                        controlSize: 32
                    };
                    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

                    addMarker(map, _position);
                } else {
                    console.log(status);
                }
            });

            function addMarker(map, position) {
                marker = new google.maps.Marker({
                    position: position,
                    map: map
                });
            }
        }

        $(document).ready(function() {
            add_markers();
        });
    </script>

    <style>
        .modal-mini-header {
            font-size: 12px;
            color: #ccc;
        }
    </style>

    <div>
        {{ event.description|nl2br }}
        <br><br>
    </div>

    <div class="row">
        <div class="col-md-7">
            <style type="text/css">
                #map
                {
                    height:250px;
                    width:100%;
                    display:block;
                    margin-bottom: 10px;
                }
            </style>
            <div id="map"></div>
        </div>
        <div class="col-md-5">
            <div class="modal-mini-header">Location</div>
            {{ event.site.name }}<br>
            {{ event.site.address }}<br>
            {{ event.site.postcode }}<br>
            <br>
            <div class="modal-mini-header">Time</div>
            {{ event.date|date("l j F") }}<br>
            {{ event.timeFrom }} - {{ event.timeTo }}<br>
            <br>
            <div class="modal-mini-header">Cost</div>
            {% if event.price > 0 %}
                {{ tenantInformation.currencySymbol }} {{ event.price|number_format(2) }}
            {% else %}
                Free
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block modalFooter %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('event_book', {eventId: event.id} ) }}" class="btn btn-success btn-block">
    {% if app.user == user %}Book{% else %}Book {{ user.name }} onto event{% endif %}
    </a>
{% else %}

{% endif %}
{% endblock %}
