{% extends 'modal.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block modalTitle %}
    {{ event.title }}
{% endblock %}

{% block modalBody %}
    <script type="text/javascript">
        function add_markers() {
            var geocoder = new google.maps.Geocoder();
            var marker;

            geocoder.geocode({'address': '{{ event.site.address|replace({"\r\n": ", "}) }}, {{ event.site.postcode }}, {{ tenantInformation.country }}'}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var _position = {lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()};
                    var mapOptions = {
                        zoom: 12,
                        center: _position,
                        controlSize: 32
                    };
                    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

                    addMarker(map, _position);
                } else {
                    console.log(status);
                }
            });

            function addMarker(map, position) {
                marker = new google.maps.Marker({
                    position: position,
                    map: map
                });
            }
        }

        $(document).ready(function () {
            add_markers();
            $("#event_booking_paymentAmount").val({{ event.price }});
            {% if not is_granted("ROLE_ADMIN") %}
            $("#event_booking_paymentMethod").val(stripePaymentMethodId);
            $(".admin-only").hide();
            setupPaymentFields();
            {% endif %}
        });
    </script>

    <style>
        .modal-mini-header {
            font-size: 12px;
            color: #ccc;
        }
    </style>

    {% if not hasSpaces %}
        <div class="alert alert-warning">
            The maximum number of attendees ({{ event.maxAttendees }}) has been reached. This event is now full.
        </div>
    {% endif %}

    <div style="margin-bottom: 20px">
        {{ event.description|nl2br }}
    </div>

    {% if event.facebookUrl %}
        <div style="margin-bottom: 10px">
            <a href="{{ event.facebookUrl }}" target="_blank">
                <img src="/images/fb.png" style="height: 20px; width: 20px; vertical-align: middle">
                {% trans %}events.view_on_facebook{% endtrans %}
            </a>
        </div>
    {% endif %}

    {{ form_start(form, { 'attr' : { 'class': 'payment-form', 'id' : "paymentForm" } }) }}

    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <div class="row" id="event-info">
        <div class="col-md-7" id="map-column">
            <style type="text/css">
                #map {
                    height: 300px;
                    width: 100%;
                    display: block;
                    margin-bottom: 10px;
                }
            </style>
            <div id="map"></div>
        </div>
        <div class="col-md-5" id="info-column">
            <div class="modal-mini-header">{% trans %}events.location{% endtrans %}</div>
            {{ event.site.name }}<br>
            {{ event.site.address|nl2br }}<br>
            {{ event.site.postcode }}<br>
            <br>

            <div class="modal-mini-header">{% trans %}events.time{% endtrans %}</div>
            {{ event.date|date("l j F Y") }}<br>
            {{ event.friendlyTimeFrom }} - {{ event.friendlyTimeTo }}<br>

            <br>

            <div class="modal-mini-header">{% trans %}events.cost{% endtrans %}</div>
            {{ tenantInformation.currencySymbol }} {{ event.price|number_format(2) }}
        </div>
    </div>

    {% if tenantInformation.feature('EventBooking') %}
        {#BOOKING FORM#}
        <div class="row" id="event-booking">
            <div class="col-md-12">

                <div id="paymentBlock" style="display:{% if event.price > 0 %}block{% else %}none{% endif %}">
                    {% set contact = user %}
                    {{ include('cores/payment_core.html.twig') }}
                    <input type="hidden" id="paymentType" name="paymentType" value="event_booking">
                </div>

                {#BOOKING BUTTON#}
                <div style="padding-top: 10px">

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        {% if alreadyBooked == true %}
                            <div class="alert alert-warning">
                                {% if is_granted("ROLE_ADMIN") %}
                                    {{ user.name }} is already booked on this event.
                                {% else %}
                                    {% trans %}events.you_are_attending{% endtrans %}.
                                {% endif %}
                            </div>
                        {% else %}
                            {% if event.isBookable or is_granted("ROLE_ADMIN") %}
                                {% if hasSpaces or is_granted("ROLE_ADMIN") %}
                                    <button type="button" class="btn btn-success btn-block btn-loading payment-submit" id="buttonBook">
                                        {% trans %}events.book_now_button{% endtrans %}
                                    </button>
                                {% endif %}
                                {% if app.user != user %}
                                    <div class="small help-block">You are booking <strong>{{ user.name }}</strong> onto
                                        this event.
                                    </div>
                                {% endif %}
                            {% else %}
                                {#Non bookable event#}
                                <div class="alert alert-warning">{% trans %}events.contact_us_to_book{% endtrans %}</div>
                            {% endif %}
                        {% endif %}

                    {% else %}

                        {% if event.isBookable %}
                            <div class="alert alert-warning">
                                <a href="{{ path('fos_user_security_login') }}?event={{ event.id }}">
                                    {% trans %}events.log_in_to_book{% endtrans %}
                                </a>
                            </div>
                        {% else %}
                            <div>
                                {% trans %}events.not_bookable{% endtrans %}.
                            </div>
                        {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}

{% block modalFooter %}
    <div class="row" id="event-footer">
        <div class="col-md-3">
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('event_admin', {eventId: event.id}) }}" class="btn btn-default pull-left">
                    Edit event
                </a>
            {% endif %}
        </div>

        {% if tenantInformation.feature('EventBooking') %}
            {% if (event.price == 0 and is_granted("IS_AUTHENTICATED_REMEMBERED" and event.isBookable) and hasSpaces) or is_granted("ROLE_ADMIN") %}
                <div class="col-md-6">
                    {% if alreadyBooked != true %}
                        <div class="help-block" style="font-size: 12px; text-align: left" id="check-in-help">
                            {% trans %}events.check_in_help{% endtrans %}.
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-3" id="check-in-column">
                    {% if alreadyBooked != true %}
                        <a href="{{ path('event_book', {eventId: event.id}) }}?check_in=true" class="btn btn-primary">
                            {% trans %}events.check_in_button{% endtrans %}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
