{% extends 'member_site/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block pageCss %}
    {{ include('partials/google-maps.html.twig', {initMapElement: false}) }}
{% endblock %}

{% block body %}
    <h2>
        {% trans %}events.page_title{% endtrans %}
        {% if is_granted("ROLE_ADMIN") %}
            <span class="pull-right"><a href="{{ path('admin_event_list') }}" class="btn btn-sm btn-default">Go to event admin</a></span>
        {% endif %}
    </h2>

    {% if tenantInformation.setting('page_event_header') %}
        {{ tenantInformation.setting('page_event_header')|raw }}
    {% endif %}

    <style>
        .event-wrapper {
            margin-bottom: 10px;
            display: block;
            clear: left;
        }
        .event-title {
            font-weight: bold;
            padding-left: 60px;
        }
        .event-time {
            font-size: 11px;
            padding-left: 60px;
        }
        .event-location {
            font-size: 11px;
            padding-left: 60px;
        }
        .e-cal {
            float: left;
            width: 50px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .e-dayname {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            font-size: 10px;
            text-align: center;
            padding: 3px;
            color: #fff;
        }
        .e-day {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            width: 50px;
            color: #fff;
            opacity: 0.7;
        }
        .e-month {
            font-size: 10px;
            text-align: center;
            padding: 3px;
            width: 50px;
            color: #fff;
            border-bottom: 1px solid #fff;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .e-live {
            background-color: #808080;
        }
        #calendar {
            margin-bottom: 15px;
        }
    </style>
    <div class="row">
        <div class="col-md-8">
            <div id="calendar"></div>
        </div>
        <div class="col-md-4" id="event-list"></div>
    </div>
{% endblock %}

{% block pagejs %}
<script>
    initMap();

    $(document).ready(function() {

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid'],
            locale: "{{ app.request.locale }}",
            defaultView: 'dayGridMonth',
            allDaySlot: false,
            minTime: '07:00:00',
            maxTime: '22:00:00',
            header: {
                left: 'title',
                center: '',
                right: 'prev,next'
            },
            eventSources: [{
                url: '{{ path('event_feed') }}',
                type: 'GET',
                failure: function () {
                    alert('There was an error while fetching bookings!');
                },
                success: function(events) {
                    loadEventList(events);
                },
                textColor: 'white'
            }],
            eventClick: function(info) {
                loadModal("{{ path('event_preview') }}/"+info.event.extendedProps.eventId);
            },
            eventRender: function(e) {
                var calEvent = e.event;
                var element  = e.el;
                var text = '';
                text += '<div>'+calEvent.title+'</div>';
                $(element).html(text);
            },
            viewRender: function() {

            },
            loading: function(bool) {

            }
        });
        calendar.render();

        function loadEventList(events) {
            $("#event-list").html("");
            var HTML = '';
            $(events).each(function() {
                var date = moment(this.start);
                var end = moment(this.end);
                HTML += '<div class="event-wrapper">';
                HTML += '<a href="{{ path('event_preview') }}/'+this.eventId+'" class="modal-link"><div class="e-cal">';
                HTML += '<div class="e-dayname e-live">'+date.format("ddd")+'</div>';
                HTML += '<div class="e-day e-live">'+date.format("D")+'</div>';
                HTML += '<div class="e-month e-live">'+date.format("MMM")+'</div>';
                HTML += '</div></a>';
                HTML += '<div class="event-title"><a href="{{ path('event_preview') }}/'+this.eventId+'" class="modal-link">'+this.title+'</a></div>';
                HTML += '<div class="event-time">'+date.format("h:mma")+' - '+end.format("h:mma")+'</div>';
                HTML += '<div class="event-location">'+this.siteName+'<br>'+this.siteAddress+'</div>';
                HTML += '</div>';
            });
            if (HTML == '') {
                HTML = '{% trans %}events.no_events{% endtrans %}.';
            }
            $("#event-list").html(HTML);
        }
    });
</script>
{% endblock %}