{% trans_default_domain 'member_site' %}
{% extends 'member_site/themes/loader.html.twig' %}

{% block sitesKey %}

{% endblock %}

{% block body %}
    <div class="row" id="item-title">
        <div class="col-md-12">
            <div class="block-borrow">
                <a href="{{ path('public_product', {productId: product.id}) }}" class="btn btn-xs btn-danger pull-right" id="button-cancel">{% trans %}button_cancel{% endtrans %}</a>
                {% trans %}public_item.borrow_now{% endtrans %}:
            </div>
            <h2>
                {% if not product.showOnWebsite %}
                    <i class="fa fa-exclamation-circle" data-toggle="tooltip" style="color: #ff741e" title="This item is not shown to members"></i>
                {% endif %}
                {{ product.name }}
            </h2>
            {% if similarItemCount > 1 %}
                <div class="similar-items">
                    <i class="fa fa-exclamation-triangle"></i>
                    {{ similarItemCount }} {% trans %}public_item.similar_items{% endtrans %}. <a href="{{ path('public_products') }}?search={{ product.name }}&see_variations=true">{% trans %}public_item.see_all{% endtrans %}</a>.
                </div>
            {% endif %}
        </div>
    </div>

    <div id="item-core">
        {{ include('member_site/cores/item_core.html.twig') }}
    </div>

    {% if app.request.get('extend') %}

    <form method="POST" id="reserve_form" class="payment-form" action="{{ path('extend_loan', {loanRowId: app.request.get('extend')}) }}">
        <input type="hidden" name="new_return_date" id="newReturnDate">
        <input type="hidden" name="new_return_site_id" id="newReturnSiteId">
        <input type="hidden" name="contactEmail" id="contactEmail" class="contact-email" value="{{ user.email }}">

        {{ include('member_site/partials/modal_extend.html.twig') }}

    {% else %}

    <form method="POST" id="reserve_form" action="{{ path('basket_add_item', {itemId: product.id}) }}">

        <input type="hidden" name="date_from" id="date_from">
        <input type="hidden" name="date_to" id="date_to">
        <input type="hidden" name="from_site" id="from_site">
        <input type="hidden" name="to_site" id="to_site">
        <input type="hidden" name="item_fee" id="total_fee">

        {{ include('member_site/partials/modal_borrow.html.twig') }}

    {% endif %}

        <div class="row">
            <div class="col-md-12">
                {% if app.request.get('extend') %}
                    <div class="alert alert-info">
                        {#Admin only#}
                        Choose a new return date.
                    </div>
                {% endif %}
                <div id="calendar"></div>
            </div>
        </div>

    </form>

    <br>
    <div class="row">
        {% for site in sites %}
            <div class="col-xs-6 col-md-4 site-id-{{ site.id }}">
                <div class="site">
                    <div style="border-bottom: 8px solid {{ site.colour }}; padding-bottom: 6px;">{{ site.name }}</div>
                    {{ site.address }}<br>
                    <a href="https://www.google.co.uk/maps/search/{{ site.address }},{{ site.postCode }}" target="_blank">
                        <i class="fa fa-external-link" style="font-size: 0.8em"></i>
                        {% trans %}public_item.maps_link{% endtrans %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% endblock %}

{% block pagejs %}
    <script>
        $(document).ready(function() {

            var itemLoanDays = {{ itemLoanDays }};
            var maxLoanDays = {{ maxLoanDays|number_format(0) }};
            var minLoanDays = {{ minLoanDays|number_format(0) }};
            var dailyFee = {{ dailyFee|number_format(6) }};
            var itemFee = {{ itemFee|number_format(6) }};
            var endLoanAt = "{{ endLoanAt }}";
            var fixedFeePricing = "{{ tenantInformation.fixedFeePricing }}";

            // Translations
            var text_pickup_day = "{% trans %}calendar.pickup_day{% endtrans %}";
            var text_my_booking = "{% trans %}calendar.my_booking{% endtrans %}";
            var text_on_loan    = "{% trans %}calendar.on_loan{% endtrans %}";
            var text_reserved   = "{% trans %}calendar.reserved{% endtrans %}";
            var text_clash_date = "{% trans %}calendar.text_clash_date{% endtrans %}";
            var text_return_after_pickup = "{% trans %}calendar.text_return_after_pickup{% endtrans %}";
            var alert_already_booked = "{% trans %}calendar.alert_already_booked{% endtrans %}";
            var alert_not_your_booking = "{% trans %}calendar.alert_not_your_booking{% endtrans %}";
            var alert_day_warning = "{% trans with {'itemLoanDays': itemLoanDays} %}calendar.alert_day_warning{% endtrans %}";
            var alert_max_days = "{% trans with {'maxLoanDays': maxLoanDays} %}calendar.alert_max_loan_days{% endtrans %}";
            var alert_min_days = "{% trans with {'minLoanDays': minLoanDays} %}calendar.alert_min_loan_days{% endtrans %}";

            var basketPickupTime, basketSiteFromId, basketSiteFromName;
            var page = $("#productMain");
            var bookings = [];
            var loanUrl = "{{ path('public_loan', {loanId: 99}) }}";

            var currentPickupTime     = moment("{{ currentPickupTime }}");
            var currentPickupSiteId   = {{ currentPickupSiteId }};
            var currentPickupSiteName = "{{ currentPickupSiteName }}";
            var changeOverTime;

            var calendarMode = '{% if app.request.get('extend') %}extend{% else %}booking{% endif %}';
            var originalReturnDate = '{{ app.request.get('from') }}';

            // Set the pickup time and location if we already have a basket
            {% if tenantInformation.basket.loanRows is defined and tenantInformation.basket.loanRows|length > 0 %}
            basketPickupTime = moment("{{ tenantInformation.basket.loanRows|first.dueOutAt|date("Y-m-d H:i") }}");
            basketSiteFromId = {{ tenantInformation.basket.loanRows|first.siteFrom.id }};
            basketSiteFromName = '{{ tenantInformation.basket.loanRows|first.siteFrom.name }}';
            {% endif %}

            page.on('click', '.button-borrow', function(event) {
                loadSiteOpeningTimes();
                $("#borrowModal").modal();

                $(".t_start").show();
                $(".t_end").hide();
            });

            page.on('click', '.borrowModalCancel', function () {
                resetDates();
                $("#borrowModal").modal('hide');
            });

            page.on('click', '#chooseReturn', function () {
                $(".t_start").hide();
                $(".t_end").show();
            });

            page.on('click', '#buttonToday', function () {
                setPickup(currentPickupTime, null, currentPickupSiteId, currentPickupSiteName);
                $("#buttonNDays").show();
            });

            page.on('click', '.charge-to', function () {
                if ($(this).prop("checked") == true) {
                    $("#paymentMethodId").val(stripePaymentMethodId);
                    $("#confirmDateChange").addClass("payment-submit");
                    $("#creditCards").show();
                } else {
                    $("#paymentMethodId").val("");
                    $("#confirmDateChange").removeClass("payment-submit");
                    $("#creditCards").hide();
                }
            });

            function loadSiteOpeningTimes() {
                $("#item-core").hide();
                $(".block-borrow").fadeIn(100);
                $('html, body').animate({
                    scrollTop: $("#item-title").offset().top - 10
                }, 800);
                {% for site in sites %}
                addSiteToCal({{ site.id }}, '{{ site.colour }}');
                {% endfor %}
            }

            function resetDates() {
                $("#date_from").val('');
                $("#date_to").val('');
                $(".total_fee").html('0.00');
                $(".count_days").html('0');
                $(".date_to").html('');
                $(".site_to").html('');
                $(".date_from").html('');
                $(".site_from").html('');
            }

            function eventClickHandler(calEvent, jsEvent) {

                var start    = calEvent.start;
                var eventEnd = calEvent.end;

                changeOverTime = moment(calEvent.changeover);

                var siteName = calEvent.siteName;
                var siteId   = calEvent.siteId;

                // If a slot has a changeover time, use that for the start date
                // else use the start and end times
                if (calEvent.end.format("HHmm") != changeOverTime.format("HHmm")) {
                    start = changeOverTime;
                    eventEnd = changeOverTime;
                }

                var duration, days, extensionFee;

                var eventClicked = $(jsEvent.target);

                if (calendarMode == 'extend') {
                    // Extending a loan

                    if (!validateExtensionDate(eventEnd)) {
                        return false;
                    }

                    var originalDate = moment(originalReturnDate);
                    duration = moment.duration(eventEnd.diff(originalDate));
                    days = duration.asDays();
                    // Round to nearest day
                    days = Math.round(days);

                    // UI
                    $(".new_return_date").html(eventEnd.format("dddd DD MMMM h:mm a"));
                    $(".new_return_site").html(siteName);

                    // Form data
                    $("#newReturnDate").val(eventEnd.format("YYYY-MM-DD HH:mm:00"));
                    $("#newReturnSiteId").val(siteId);
                    $(".original_return_date").html(originalDate.format("dddd DD MMMM h:mm a"));
                    $(".extend_days").html(days);

                    if (dailyFee > 0) {
                        extensionFee = dailyFee * days;
                        $("#extensionFeeAmount").val(extensionFee.toFixed(2));
                        $("#extensionFeeMessage").show();
                    }

                    $("#extendModal").modal();

                } else {
                    // Booking or reserving
                    if ($("#date_from").val()) {

                        // Check the period is OK
                        var dateFrom = moment($("#date_from").val());
                        duration = moment.duration(eventEnd.diff(dateFrom));
                        days = duration.asDays();

                        // Round to nearest day
                        days = Math.round(days);

                        if (maxLoanDays > 0 && days > maxLoanDays && isAdmin == false) {
                            alert(alert_max_days);
                            return false;
                        }

                        if (minLoanDays > 0 && days < minLoanDays && isAdmin == false) {
                            alert(alert_min_days);
                            return false;
                        }

                        // Deal with same-day loans
                        if (days < 1) {
                            days = 1;
                        }

                        // Start may have been set to changeover time above
                        return setReturn(dateFrom, eventEnd, siteId, siteName, days);

                    } else {
                        setPickup(start, eventEnd, siteId, siteName);
                        $("#borrowModal").modal();
                    }
                }

            }

            function setReturn(dateFrom, time, siteId, siteName, days) {

                if (!validateBookingPeriod(dateFrom, time, days)) {
                    return false;
                }

                // Set the return date
                $("#date_to").val(time.format("YYYY-MM-DD HH:mm"));
                $("#to_site").val(siteId);
                $(".date_to").html(time.format("DD MMMM h:mm a"));
                $(".site_to").html(siteName);

                $("#borrowModal").modal();

                $(".count_days").html(days);

                calculateTotalFee(days);

                var returnCell = $(".fc-bg").find("[data-date='"+time.format("YYYY-MM-DD")+"']");
                $(".return-day").remove();
                var text_return_day = 'Return';
                returnCell.html('<div class="label label-xs label-default return-day">'+text_return_day+'</div>');

                $("#borrowModalConfirm").show();
            }

            function setPickup(coTime, timeEnd, siteId, siteName) {

                if (!validatePickupDate(coTime)) {
                    $("#button-borrow").remove();
                    alert(text_clash_date);
                    return false;
                }

                if (!validatePickupSite(siteId)) {
                    $("#button-borrow").remove();
                    alert("Your chosen site "+siteId+" does not exist.");
                    return false;
                }

                // Set the pickup date
                $("#date_from").val(coTime.format("YYYY-MM-DD HH:mm"));
                $("#from_site").val(siteId);
                $(".date_from").html(coTime.format("DD MMMM h:mm a"));
                $(".site_from").html(siteName);
                $("#choosePickup").hide();
                $("#chooseReturn").show();
                $("#choosePickupFirst").hide();

                var pickupCell = $(".fc-bg").find("[data-date='"+coTime.format("YYYY-MM-DD")+"']");
                pickupCell.html('<div class="label label-xs label-default">'+text_pickup_day+'</div>');

                basketPickupTime = coTime;
                basketSiteFromId = siteId;
                basketSiteFromName = siteName;

                // Set the default return day if user has manually chosen pickup time
                if (timeEnd && itemLoanDays > 1) {
                    var returnTime;
                    returnTime = moment(coTime);
                    returnTime = returnTime.add(itemLoanDays, 'd');

                    var r = setReturn(coTime, returnTime, siteId, siteName, itemLoanDays);

                    if (r === false) {
                        // failed validation
//                        location.reload();
                    }
                }
            }

            // We used to have this function which checked the left menu contained the site key
            // But with new theme based sites it's not always present
            function validatePickupSite(siteId) {
                var returnValue = true;
                if (!$(".site-id-"+siteId).html()) {
                    returnValue = false;
                }
                return returnValue;
            }

            function validatePickupDate(time) {
                var returnValue = true;
                $(bookings).each(function() {
                    var bookingStart = moment(this.start);
                    var bookingEnd   = moment(this.end);
                    if (bookingStart < time && bookingEnd > time) {
                        // This pickup time lies within another booking
                        console.log("validatePickupDate : pickup time lies within other booking");
                        returnValue = false;
                    }
                });
                return returnValue;
            }

            function validateBookingPeriod(start, end, days) {

                var bookingPeriodIsValid = true;

                // Check against other bookings
                $(bookings).each(function() {
                    var bookingStart = moment(this.start);
                    if (bookingStart > moment(start) && bookingStart < moment(end)) {
                        bookingPeriodIsValid = false;
                    }
                });

                if (bookingPeriodIsValid == false) {
                    console.log("validateBookingPeriod : booking within other booking");
                    alert(text_clash_date);
                    return false;
                }

                if (moment(end) < moment(start)) {
                    alert(text_return_after_pickup+" ("+start.format("DD MMMM h:mm a")+")");
                    return false;
                }

                return true;
            }

            function validateExtensionDate(newDate) {
                var returnValue = true;
                var o = moment(originalReturnDate);
                var n = moment(newDate);
                $(bookings).each(function() {
                    var bookingStart = moment(this.start);
                    if (bookingStart > o && bookingStart < n) {
                        // This booking lies between the old and new dates
                        alert(alert_already_booked);
                        returnValue = false;
                    }
                });
                return returnValue;
            }

            function goToLoan(calEvent) {
                if (currentUserId != calEvent.contactId && isAdmin == false) {
                    alert(alert_not_your_booking);
                    return false;
                }
                var loanId   = calEvent.loanId;
                loanUrl = loanUrl.replace("99", loanId);
                document.location.href = loanUrl;
            }

            var txt;

            $('#calendar').fullCalendar({

                defaultView: 'month',
                allDaySlot: false,
                selectable: true,
                selectHelper: true,

                header: {
                    left:   'title',
                    center: '',
                    right:  'month,agendaWeek prev,next'
                },

//                businessHours: {
//                    // (0=Sunday)
//                    dow: [ 1, 2, 3, 4, 5 ],
//                    start: '00:00',
//                    end: '23:59'
//                },

                eventClick: function(calEvent, jsEvent, view) {
                    if (calEvent.siteId) {
                        eventClickHandler(calEvent, jsEvent);
                    } else {
                        goToLoan(calEvent);
                    }
                },

                eventRender: function(calEvent, element) {
                    var today = moment();
                    if (calEvent.start.format("YYYY-MM-DD") == today.format("YYYY-MM-DD")) {
                        currentPickupTime = calEvent.start;
                        $("#buttonToday").html("Today ("+calEvent.start.format("HH:mm")+")").show();
                    }

                    changeOverTime = moment(calEvent.changeover);

                    var start_display, end_display;

                    if (calendarMode == 'extend') {
                        start_display = "none";
                        end_display = "block";
                    } else {
                        start_display = "block";
                        end_display = "none";
                    }

                    if (calEvent.siteName) {
                        // It's a time slot for user selection
                        txt = '';
                        if (calEvent.end.format("HHmm") == changeOverTime.format("HHmm")) {
                            // just show the opening hours as we're going end-slot to end-slot
                            txt = txt + '<div class="t_start" style="font-size: 14px; font-weight: bold; display:'+start_display+'">' + calEvent.start.format("h:mm a ") + '</div>';
                            txt = txt + '<div class="t_end" style="font-size: 14px; font-weight: bold; display:'+end_display+'">' + calEvent.end.format("h:mm a ") + '</div>';
                        } else {
                            txt = txt + '<div class="t_start" style="font-size: 14px; font-weight: bold; display:'+start_display+'">' + changeOverTime.format("h:mm a ") + '</div>';
                            txt = txt + '<div class="t_end" style="font-size: 14px; font-weight: bold; display:'+end_display+'">' + changeOverTime.format("h:mm a ") + '</div>';
                        }
                        txt = txt + '<div class="openinghours">' + calEvent.start.format("HH:mm ")+" to "+calEvent.end.format("HH:mm ") + '</div>';
                        txt = txt + '<div class="hidden-xs multi-site">'+calEvent.siteName+'</div>';
                        $(element).html(txt);
                    } else {
                        // booking
                        if (isAdmin == true) {
                            $(element).html(calEvent.statusName+'<br>'+calEvent.loanTo);
                        } else if (currentUserId == calEvent.contactId) {
                            $(element).html(text_my_booking).css('backgroundColor', '#5cb85c').css('borderColor', '#5cb85c');
                        } else if (calEvent.statusName == 'RESERVED') {
                            $(element).html(text_reserved);
                        } else if (calEvent.statusName == 'ON LOAN' || calEvent.statusName == 'OVERDUE') {
                            $(element).html(text_on_loan);
                        }
                    }
                },

                viewRender: function() {
                    if (basketPickupTime) {
                        // User has a basket
                        setPickup(basketPickupTime, null, basketSiteFromId, basketSiteFromName);
                    }
                },

                loading: function(bool) {
                    if (bool){
                        // loading
                    } else{
                        // loaded, render a preset pickup time
                        if (basketPickupTime) {
                            setPickup(basketPickupTime, null, basketSiteFromId, basketSiteFromName);
                        }
                    }
                }

            });

            function addReservationsToCal() {
                var url = '{{ path('item_reservations_json', {itemId: product.id}) }}';
                $('#calendar').fullCalendar( 'addEventSource', {
                    url: url,
                    type: 'GET',
                    error: function() {
                        alert('There was an error while fetching reservations');
                    },
                    success: function(events) {
                        bookings = events; // Save for booking validation
                    },
                    color: '#d61702',
                    textColor: 'white'
                });
            }

            function addSiteToCal(siteId, colour) {
                var url = '{{ path('site_data') }}?site='+siteId+"&itemId={{ product.id }}";
                $('#calendar').fullCalendar( 'addEventSource', {
                    url: url,
                    type: 'GET',
                    error: function() {
                        alert('There was an error while fetching events!');
                    },
                    color: colour,
                    textColor: 'black',
                    className: 'siteOpening'
                });
            }

            var accountBalance = {{ contactBalance }};

            function calculateTotalFee(days) {
                var totalFee;
                if (fixedFeePricing == 1) {
                    totalFee = itemFee;
                } else {
                    totalFee = dailyFee * days;
                }

                if (totalFee > accountBalance) {
                    $(".credit-warning").show();
                } else {
                    $(".credit-warning").hide();
                }
                $(".total_fee").html(totalFee.toFixed(2));
                $("#total_fee").val(totalFee.toFixed(2)); // form input
            }

            // Add reservations feed and populate array for booking validator
            addReservationsToCal();

            {% if app.request.get('extend') %}
            loadSiteOpeningTimes();
            var pickupCell = $(".fc-bg").find("[data-date='{{ app.request.get("from")|slice(0,10) }}']");
            pickupCell.css('backgroundColor', '#d9edf7');
            pickupCell.html('<div style="padding: 5px; font-size: 10px;">Due back</div>');
            {% endif %}

        });
    </script>
{% endblock %}