{% trans_default_domain 'member_site' %}
{% extends 'member_site/themes/loader.html.twig' %}

{% block body %}

    <style>
        .text-large {
            font-size: 22px;
        }
    </style>

    <h2>
        {% trans %}public_loan.check_in{% endtrans %} "{{ loanRow.inventoryItem.name }}"
    </h2>

    {{ form_start(form) }}

    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    {% if loanRow.loan.loanRows|length > 1 %}
        {% set canBulkCheckIn = 1 %}
    {% else %}
        {% set canBulkCheckIn = 0 %}
    {% endif %}

    {#Check no items have check in prompts#}
    {% if tenantInformation.feature('CheckInPrompt') %}
        {% for row in loanRow.loan.loanRows %}
            {% if not row.isReturned %}
                {% if row.inventoryItem.checkInPrompts|length > 0 %}
                    {% set canBulkCheckIn = 0 %}
                {% endif %}
            {% endif %}
            {% if row.deposit and row.deposit.balance > 0 %}
                {% set canBulkCheckIn = 0 %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <style>
        .checkInRow td {
            background-color: #FFF;
            color: #000;
        }
        .checkInRow.active td {
            background-color: #ddfcff !important;
            color: #000;
        }
    </style>

    <div class="row">
        <div class="col-md-12">
            <p>{% trans %}public_loan.select_items_to_check_in{% endtrans %}:</p>

            <table class="table borderless" id="checkInDetails">
                {% for row in loanRow.loan.loanRows %}
                {% if not row.isReturned and row.inventoryItem.itemType == 'loan' %}
                    <tr id="loanRow{{ row.id }}" class="checkInRow {% if row.id == loanRow.id %}active{% endif %}">
                        <td style="width:100px" class="hidden-xs">
                            {% if row.inventoryItem.imageName %}
                                <img src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/thumbs/{{ row.inventoryItem.imageName }}" class="img-thumbnail img-responsive">
                            {% else %}
                                <img src="//{{ tenantInformation.accountDomain }}/images/no_image.png" alt="" class="img-responsive">
                            {% endif %}
                        </td>
                        <td>
                            <strong>{{ row.inventoryItem.name }}</strong>

                            {% if tenantInformation.setting('use_labels') %}
                                <div>Barcode: {{ row.inventoryItem.id }}</div>
                            {% endif %}

                            {% if row.inventoryItem.serial %}
                                <div>{% trans %}public_item.serial{% endtrans %}: {{ row.inventoryItem.serial }}</div>
                            {% endif %}

                            {% if row.inventoryItem.sku %}
                                <div>{% trans %}public_item.code{% endtrans %}: {{ row.inventoryItem.sku }}</div>
                            {% endif %}

                            <div>Due in at {{ row.dueInAt|date("d F g:i a") }}</div>

                            {% for plan in row.inventoryItem.maintenancePlans %}
                                {% if plan.afterEachLoan == true %}
                                    <div style="padding: 10px 0; color: #185fdb">
                                        {{ plan.name }} will be scheduled upon check-in.
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% if tenantInformation.feature('StockItems') %}
                            <div>
                                <a href="{{ path('sell_loan_item', {rowId: row.id}) }}" class="btn btn-xs btn-default convert-to-stock">Convert to stock item</a>
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if canBulkCheckIn or row.id == loanRow.id %}
                            <input type="checkbox" class="checkInBox" data-row-id="{{ row.id }}" name="check_in[]" value="{{ row.id }}" {% if row.id == loanRow.id %}checked{% endif %}>
                            {% else %}
                            <input type="checkbox" class="checkInBox" data-row-id="{{ row.id }}" disabled>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

    {% if loanRow.loan.loanRows|length > 1 and not canBulkCheckIn %}
        <div class="alert alert-warning">
            Bulk item check in is not available for this loan as some items have check-in prompts or a deposit due to refund.
            You'll need to check each item in separately.
        </div>
    {% endif %}

    {% if loanRow.deposit %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                A deposit of <strong>{{ tenantInformation.currencySymbol }}{{ loanRow.deposit.amount }}</strong> was taken for this item.

                {% if loanRow.deposit.balance > 0 %}
                    <input type="hidden" name="deposit_amount" id="deposit_amount" value="{{ loanRow.deposit.amount }}">
                    {% for payment in loanRow.deposit.payments %}
                        {% if payment.type == 'DEPOSIT' %}
                        <div>
                            {% if is_granted("ROLE_ADMIN") %}
                                {{ payment.paymentMethod.name }} payment {{ payment.pspCode }}
                                <a href="{{ path('refund', {id: payment.id, amount: payment.amount, goToCheckInItem: loanRow.id}) }}" class="btn btn-default btn-xs modal-link">Refund</a>
                            {% else %}
                                Please contact us for a refund.
                            {% endif %}
                        </div>
                            {% endif %}
                    {% endfor %}
                {% else %}
                    The deposit has been refunded.
                {% endif %}

            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">

            {{ form_row(form.location) }}
            {{ form_row(form.notes) }}

            <div style="display:{% if is_granted("ROLE_ADMIN") %}block{% else %}none{% endif %}">
                {{ form_row(form.contact) }}
                <div class="form-group">
                    <label>Charge a fee</label>
                    <div class="input-group">
                    <span class="input-group-addon">{{ tenantInformation.currencySymbol }}</span>
                    {{ form_widget(form.feeAmount) }}
                    </div>
                    <div class="help-block">For damages, delays etc. The fee will be added to the member account balance.
                    If you need to take further payment, do it using the 'add credit' process.</div>
                </div>
            </div>

            {% if daysLate > 0 %}
                <div class="alert alert-warning">
                    This item is {{ daysLate }} days late.
                    {% if tenantInformation.lateFee > 0 %}
                        {% set lateFee = tenantInformation.lateFee %}
                        {% if loanRow.loan.contact.activeMembership and loanRow.loan.contact.activeMembership.MembershipType.discount > 0 %}
                            {% set lateFee = lateFee * loanRow.loan.contact.activeMembership.MembershipType.discount/100 %}
                        {% endif %}
                        ({{ tenantInformation.currencySymbol }}{{ lateFee|number_format(2) }} per day)
                        {% if loanRow.loan.contact.activeMembership and loanRow.loan.contact.activeMembership.MembershipType.discount > 0 %}
                            <br>Member discount of <strong>{{ loanRow.loan.contact.activeMembership.MembershipType.discount|number_format(0) }}%</strong> applied.
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}

        </div>
        <div class="col-md-6">

            <label>Item contents:</label>
            <div class="form-group">
                {% if loanRow.inventoryItem.componentInformation %}
                    {{ loanRow.inventoryItem.componentInformation|nl2br }}
                {% else %}
                    <p class="help-block">N/A</p>
                {% endif %}
            </div>

            <label>Care information:</label>
            <div class="form-group">
                {% if loanRow.inventoryItem.careInformation %}
                    {{ loanRow.inventoryItem.careInformation|nl2br }}
                {% else %}
                    <p class="help-block">N/A</p>
                {% endif %}
            </div>

        </div>
    </div>

    <input type="hidden" name="loan_row_id" value="{{ loanRow.id }}">

    <!-- Check in prompts -->
    {% set promptsExist = 0 %}
    {% if tenantInformation.feature('CheckInPrompt') %}
        <div class="form-group" id="check-in-prompts">
            {% if loanRow.inventoryItem.checkInPrompts|length > 0 %}
                <div style="font-weight: bold; padding: 10px 0 4px;">Check-in prompts:</div>
                {% for prompt in loanRow.inventoryItem.checkInPrompts %}
                    {% set promptsExist = 1 %}
                    <label style="padding: 0 0 4px 0; font-weight: normal;">
                        <input type="checkbox" class="confirm-checkin">
                        {{ prompt.name }}
                    </label>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    <div class="formControls">
        <button class="form-submit btn btn-success" {% if loanRow.inventoryItem.checkInPrompts|length > 0 and tenantInformation.feature('CheckInPrompt') %}disabled{% endif %}>
            {% if loanRow.inventoryItem.checkInPrompts|length > 0 and tenantInformation.feature('CheckInPrompt') %}
                Please complete all checks
            {% else %}
                Check in selected items
            {% endif %}
        </button>
    </div>

    {{ form_end(form) }}

    <script>
        $(document).ready(function () {
            $("#check-in-prompts").on("change", ".confirm-checkin", function() {
                var allowCheckIn = true;
                $(".confirm-checkin").each(function(){
                    if (!$(this).is(":checked")) {
                        allowCheckIn = false;
                    }
                });
                if (allowCheckIn == true) {
                    $(".form-submit").attr("disabled", false).html("Check in item");
                } else {
                    $(".form-submit").attr("disabled", true).html("Please complete all checks");
                }
            });
            $("#checkInDetails").on("click", ".checkInBox", function () {
                var rowId = $(this).data("row-id");
                if ($(this).prop("checked") == true) {
                    $("#loanRow"+rowId).addClass("active");
                } else {
                    $("#loanRow"+rowId).removeClass("active");
                }
            });
            $("#checkInDetails").on("click", ".convert-to-stock", function () {
                if (window.confirm("Are you sure?/nThis is not reversible.")) {
                    return true;
                } else {
                    return false
                }
            });
        });
    </script>

{% endblock %}
