{% trans_default_domain 'member_site' %}
{% extends 'member_site/themes/loader.html.twig' %}

{% block search %}
    {{ include('member_site/partials/search.html.twig') }}
{% endblock %}

{% block body %}

    <style>
        .text-large {
            font-size: 22px;
        }
    </style>

    <h2>
        Check in "{{ loanRow.inventoryItem.name }}"
    </h2>

    {{ form_start(form) }}

    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}


    {% if loanRow.loan.loanRows|length > 1 %}
        {% set canBulkCheckIn = 1 %}
    {% else %}
        {% set canBulkCheckIn = 0 %}
    {% endif %}

    {#Check no items have check in prompts#}
    {% if tenantInformation.feature('CheckInPrompt') %}
        {% for row in loanRow.loan.loanRows %}
            {% if not row.isReturned %}
                {% if row.inventoryItem.checkInPrompts|length > 0 %}
                    {% set canBulkCheckIn = 0 %}
                {% endif %}
            {% endif %}
            {% if row.deposit and row.deposit.balance > 0 %}
                {% set canBulkCheckIn = 0 %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <p>This loan has the following items due to return ...</p>
            <table class="table borderless" id="checkInDetails">
                {% for row in loanRow.loan.loanRows %}
                {% if not row.isReturned %}
                    <tr {% if row.id != loanRow.id %}style="color: #ccc"{% endif %}>
                        <td style="width:100px">
                            {% if row.inventoryItem.imageName %}
                                <img src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/thumbs/{{ row.inventoryItem.imageName }}" class="img-thumbnail img-responsive">
                            {% else %}
                                <img src="//{{ tenantInformation.accountDomain }}/images/no_image.png" alt="" class="img-responsive">
                            {% endif %}
                        </td>
                        <td>
                            <strong>{{ row.inventoryItem.name }}</strong>
                            <div>Due in at {{ row.dueInAt|date("d F g:i a") }}</div>
                            {% if row.id == loanRow.id and loanRow.loan.loanRows|length > 1 %}
                                <span class="label bg-brown">You're checking in this item</span>
                            {% endif %}
                        </td>

                    </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

    {% if loanRow.loan.loanRows|length > 1 and not canBulkCheckIn %}
        <div class="row">
            <div class="col-md-12">
                <i class="fa fa-info-circle session-user"></i> Bulk item check in is not available for this loan as some items have check-in prompts or a deposit due to refund.
                You'll need to check each item in separately.<br><br>
            </div>
        </div>
    {% endif %}

    <div class="alert" style="display:{% if canBulkCheckIn %}block{% else %}none{% endif %}">
        {{ form_row(form.check_in_all) }}
    </div>

    {% if loanRow.deposit %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                A deposit of <strong>{{ tenantInformation.currencySymbol }}{{ loanRow.deposit.amount }}</strong> was taken for this item.

                {% if loanRow.deposit.balance > 0 %}
                    <input type="hidden" name="deposit_amount" id="deposit_amount" value="{{ loanRow.deposit.amount }}">
                    {% for payment in loanRow.deposit.payments %}
                        {% if payment.type == 'DEPOSIT' %}
                        <div>
                            {{ payment.paymentMethod.name }} payment {{ payment.pspCode }}
                            <a href="{{ path('refund', {id: payment.id, amount: payment.amount, goToCheckInItem: loanRow.id}) }}" class="btn btn-default btn-xs modal-link">Refund</a>
                        </div>
                            {% endif %}
                    {% endfor %}
                {% else %}
                    The deposit has been refunded.
                {% endif %}

            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.location) }}
            {{ form_row(form.notes) }}
            {{ form_row(form.contact) }}

            <div class="form-group">
                <label>Charge a fee</label>
                <div class="input-group">
                <span class="input-group-addon">{{ tenantInformation.currencySymbol }}</span>
                {{ form_widget(form.feeAmount) }}
                </div>
                <div class="help-block">For damages, delays etc. The fee will be added to the member account balance.
                If you need to take further payment, do it using the 'add credit' process.</div>
            </div>

            {% if daysLate > 0 %}
                <div class="alert alert-warning">
                    This item is {{ daysLate }} days late.
                    {% if tenantInformation.lateFee > 0 %}
                        ({{ tenantInformation.lateFee|number_format(2) }} per day)
                    {% endif %}
                    {% if loanRow.loan.contact.activeMembership.MembershipType.discount > 0 %}
                        <br>Member discount of <strong>{{ loanRow.loan.contact.activeMembership.MembershipType.discount|number_format(0) }}%</strong> applied.
                    {% endif %}
                </div>
            {% endif %}

        </div>
        <div class="col-md-6">

            <label>Item contents:</label>
            <div class="form-group">
                {% if loanRow.inventoryItem.componentInformation %}
                    {{ loanRow.inventoryItem.componentInformation|nl2br }}
                {% else %}
                    <p class="help-block">N/A</p>
                {% endif %}
            </div>

            <label>Care information:</label>
            <div class="form-group">
                {% if loanRow.inventoryItem.careInformation %}
                    {{ loanRow.inventoryItem.careInformation|nl2br }}
                {% else %}
                    <p class="help-block">N/A</p>
                {% endif %}
            </div>

        </div>
    </div>

    <input type="hidden" name="loan_row_id" value="{{ loanRow.id }}">

    <!-- Check in prompts -->
    {% set promptsExist = 0 %}
    {% if tenantInformation.feature('CheckInPrompt') %}
        <div class="form-group" id="check-in-prompts">
            {% if loanRow.inventoryItem.checkInPrompts|length > 0 %}
                <div style="font-weight: bold; padding: 10px 0 4px;">Check-in prompts:</div>
                {% for prompt in loanRow.inventoryItem.checkInPrompts %}
                    {% set promptsExist = 1 %}
                    <label style="padding: 0 0 4px 0; font-weight: normal;">
                        <input type="checkbox" class="confirm-checkin">
                        {{ prompt.name }}
                    </label>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    <div class="formControls">
        <button class="form-submit btn btn-success" {% if loanRow.inventoryItem.checkInPrompts|length > 0 and tenantInformation.feature('CheckInPrompt') %}disabled{% endif %}>
            {% if loanRow.inventoryItem.checkInPrompts|length > 0 and tenantInformation.feature('CheckInPrompt') %}
                Please complete all checks
            {% else %}
                Check in item
            {% endif %}
        </button>
    </div>

    {{ form_end(form) }}

    <script>
        $(document).ready(function () {
            $("#check-in-prompts").on("change", ".confirm-checkin", function() {
                var allowCheckIn = true;
                $(".confirm-checkin").each(function(){
                    if (!$(this).is(":checked")) {
                        allowCheckIn = false;
                    }
                });
                if (allowCheckIn == true) {
                    $(".form-submit").attr("disabled", false).html("Check in item");
                } else {
                    $(".form-submit").attr("disabled", true).html("Please complete all checks");
                }
            });
        });
    </script>

{% endblock %}
