{% extends 'member_site/themes/loader.html.twig' %}

{% block pageCss %}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
    <link href="/plugins/summernote/summernote.css" rel="stylesheet">
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.title) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.slug) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.visibility) }}
        </div>
    </div>

    <div class="tab-content">

        <div class="tab-pane {% if not page.url %}active{% endif %}" id="tab_1">

            Add your page content below, or <a class="" href="#tab_2" data-toggle="tab">add a link</a>.
            Links appear in the member site menus just like pages, but take the user to the link URL.
            <br><br>

            {{ form_widget(form.content) }}

        </div>

        <div class="tab-pane {% if page.url %}active{% endif %}" id="tab_2">

            {{ form_row(form.url) }}

            Or <a class="" href="#tab_1" data-toggle="tab">add a page</a> instead.

        </div>

    </div>

    <br>
    <button type="submit" class="btn btn-primary pull-right" style="margin-left:10px;">Save</button>

    {% if page.id %}
        <a href="{{ path('public_page', {pageId: page.id}) }}" class="btn btn-default pull-right">Cancel</a>
        <a href="{{ path('public_page_delete', {pageId: page.id}) }}" class="btn pull-right" style="margin-right:10px;">Delete</a>
    {% endif %}

    {{ form_end(form) }}

{% endblock %}

{% block pagejs %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/css/css.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/htmlmixed/htmlmixed.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.9.1/beautify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.9.1/beautify-html.min.js"></script>

    <script src="/plugins/summernote/summernote.js"></script>
    <script>

        $(document).ready(function() {

            var editor = $('#page_content');

            editor.summernote({
                toolbar: [
                    ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['edit', ['undo', 'redo']],
                    ['extra', ['table', 'picture', 'link', 'codeview']]
                ],
                codemirror: { // codemirror options
                    mode: "text/html",
                    htmlMode: true,
                    theme: 'default',
                    lineWrapping: true
                },
                height: 400,
                callbacks: {
                    onImageUpload: function(image) {
                        uploadImage(image[0]);
                    },
                    onBlur: function() {
                        formatCodeView();
                    }
                }
            });

            function uploadImage(image) {
                if (image.size > 204800) {
                    alert("Please upload a file less than 200kB.");
                    return false;
                }
                $("#overlayText").html("Image uploading ... ");
                $("#overlay").show();
                var data = new FormData();
                data.append("file", image);
                data.append("uploadType", "site_images");
                $.ajax({
                    data: data,
                    type: "POST",
                    url: "{{ oneup_uploader_endpoint('siteimages') }}",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(r) {
                        var response = $.parseJSON(r);
                        $("#overlay").hide();
                        var image = $('<img>').attr('src', response.url);
                        $('#page_content').summernote("insertNode", image[0]);
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            }

        });

        function formatCodeView() {
            console.log("Formatting HTML source ...");
            var editor = $("#page_content");
            var options = {
                "indent_size": "4",
                "indent_char": " ",
                "max_preserve_newlines": "-1",
                "preserve_newlines": false,
                "keep_array_indentation": false,
                "break_chained_methods": false,
                "indent_scripts": "normal",
                "brace_style": "collapse",
                "space_before_conditional": true,
                "unescape_strings": false,
                "jslint_happy": false,
                "end_with_newline": false,
                "wrap_line_length": "0",
                "indent_inner_html": false,
                "comma_first": false,
                "e4x": false,
                "indent_empty_lines": false
            };

            var originalValue = editor.summernote('code');
            editor.summernote('code', html_beautify(originalValue, options));
        }

    </script>
{% endblock %}

