{% extends 'member_site/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block accountNav %}
    {{ include('member_site/themes/widgets/account_menu.html.twig') }}
{% endblock %}

{% block body %}
    <h2>
        {% trans %}Payments{% endtrans %}
        {% if user is defined and user.id != app.user.id %}
            {{ include('member_site/partials/session_user.html.twig') }}
        {% endif %}
    </h2>

    {% set contact = user %}
    {{ include('member_site/partials/account_balance.html.twig') }}

    {% if user.payments|length > 0 %}
        <table width="100%" class="table table-hover table-striped data-table">
            <thead>
            <tr>
                <th>{% trans %}th.date{% endtrans %}</th>
                <th></th>
                <th>{% trans %}th.payment_method{% endtrans %}</th>
                <th style="text-align:right">{% trans %}th.fee{% endtrans %}/{% trans %}th.payment{% endtrans %}</th>
                <th style="text-align:right">{% trans %}th.deposit{% endtrans %}</th>
                <th></th>
            </tr>
            </thead>
            {% for payment in user.payments %}
                <tr>
                    <td data-sort="{{ payment.createdAt|date("Y-m-d H:i") }}">
                        {{ payment.paymentDate|date("d M Y") }}
                        <div style="font-size: 11px; color: #aaa;">{{ payment.createdAt|date("g:i a") }}</div>
                    </td>
                    <td>
                        {% if payment.event %}
                            <div>{{ payment.event.title }}</div>
                        {% endif %}
                        {% if payment.loan %}
                            <div>
                                <a href="{{ path('public_loan', {loanId: payment.loan.id}) }}">{% trans %}Loan{% endtrans %} {{ payment.loan.id }}</a>
                            </div>
                        {% endif %}
                        {% if payment.inventoryItem %}
                            <div>{{ payment.inventoryItem.name }}</div>
                        {% endif %}
                        {% if payment.note %}
                            <div>{{ payment.note }}</div>
                        {% endif %}
                    </td>
                    <td>
                        {% if payment.paymentMethod %}
                            {{ payment.paymentMethod.name }}
                            {% if is_granted("ROLE_ADMIN") %}
                                <div style="font-size: 11px; color: #ccc;">{{ payment.pspCode }}</div>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td align="right">
                        {% if not payment.isDeposit %}
                            {% if payment.type == 'FEE' or payment.type == 'REFUND' %}
                                <span style="color:#b90009">- {{ tenantInformation.currencySymbol }} {{ payment.amount|number_format(2) }}</span>
                            {% else %}
                                <span style="color:#419f43">+ {{ tenantInformation.currencySymbol }} {{ payment.amount|number_format(2) }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td align="right">
                        {% if payment.isDeposit %}
                            {% if payment.type == 'FEE' or payment.type == 'REFUND' %}
                                <span style="color:#b90009">- {{ tenantInformation.currencySymbol }} {{ payment.amount|number_format(2) }}</span>
                            {% else %}
                                <span style="color:#419f43">+ {{ tenantInformation.currencySymbol }} {{ payment.amount|number_format(2) }}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') and (payment.type == 'PAYMENT' or payment.type == 'DEPOSIT') %}
                            <a href="{{ path('refund', {id: payment.id, amount: payment.amount}) }}" class="modal-link" style="font-size: 11px">Refund</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="page-help">
            {% trans %}public_payments.no_payment{% endtrans %}
        </div>
    {% endif %}
{% endblock %}

{% block pagejs %}
    <script>
        $(document).ready(function() {
            $('.data-table').DataTable({
                pageLength: 50,
                ordering: true
            });
        });
    </script>
{% endblock %}