{% extends 'member_site/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block body %}

    <div class="row" id="site-list">

        <div class="col-sm-12">
            <h2>{% trans %}public_footer.find_us{% endtrans %}</h2>
        </div>

        {% if tenantInformation.isMapsAllowed %}
            <div class="col-sm-6">

                <style type="text/css">
                    .sites_map
                    {
                        height:400px;
                        width:100%;
                        display:block;
                    }
                </style>

                <div class="sites_map" id="sites-map"></div>

                {{ include('partials/google-maps.html.twig', {initMapElement: false}) }}

                <script type="text/javascript">

                    initMap();

                    let marker;
                    let sites = [];

                    window.onload = () => {
                        window.bounds = new google.maps.LatLngBounds();

                        addMap();
                    };

                    function addMap()
                    {
                        map = new google.maps.Map(document.getElementById('sites-map'), {
                            zoom: 8
                        });

                        let location = {};
                        {% for site in sites %}

                        {% if site.isActive %}

                        {% if site.lat and site.lng %}

                        location = {};
                        location.lat = {{ site.lat }};
                        location.lng = {{ site.lng }};
                        sites.push(location);

                        {% else %}

                        location = {};
                        sites.push(location);

                        {% endif %}

                        {% endif %}

                        {% endfor %}

                        window.setTimeout(setBounds, 1000);
                    }

                    function setBounds()
                    {
                        console.log("sites:");
                        for (i = 0; i < sites.length; i++) {
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(sites[i].lat, sites[i].lng),
                                map:      map
                            });
                            console.log("Adding site at " + sites[i].lat + ", " + sites[i].lng);
                            window.bounds.extend(marker.position);
                        }
                        map.fitBounds(window.bounds);
                    }
                </script>

            </div>
        {% endif %}

        <div {% if tenantInformation.isMapsAllowed %}class="col-sm-6"{% else %}style="margin-left: 30px" {% endif %}">

            <style>
                .site-header {
                    font-size: 18px;
                    font-weight: bold;
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 10px;
                }
                .opening-header {
                    font-weight: bold;
                }
            </style>

            {% for site in sites %}
                {% if site.isActive %}
                <div class="row" id="site-{{ site.id }}">

                    <div class="site-header">{{ site.name }}</div>

                    <div class="col-md-6">
                        {{ site.address }}
                        <br>{{ site.postCode }}
                    </div>
                    <div class="col-md-6" style="font-size: 12px;">

                        {% if site.siteOpenings|length > 0 %}
                            <div class="opening-header">Open every week:</div>
                            {% for opening in site.siteOpenings %}
                                <div>
                                    {{ opening.weekDayName }}, {{ opening.friendlyTimeFrom }} - {{ opening.friendlyTimeTo }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {#Get events#}
                        {% if site.openTimes('published')|length > 0 %}

                            {% if site.siteOpenings|length > 0 %}
                                <br>
                                <div class="opening-header">
                                    Also open:
                                </div>
                            {% else %}
                                <div class="opening-header">
                                    Open:
                                </div>
                            {% endif %}

                            {% for slot in site.openTimes('published') %}
                                <div style="padding-bottom: 3px">
                                    {% if slot.title %}
                                        <a href="{{ path('event_preview', {eventId: slot.id}) }}" class="modal-link">{{ slot.title }}</a><br>
                                    {% endif %}
                                    {{ slot.date|date("l d F", "Europe/London") }}, <br>
                                    {{ slot.friendlyTimeFrom }} - {{ slot.friendlyTimeTo }}
                                </div>
                            {% endfor %}

                        {% endif %}

                    {% if site.closedTimes|length > 0 %}
                        <br>
                        <div class="opening-header">
                            Closed:
                        </div>

                        {% for slot in site.closedTimes %}
                            <div style="padding-bottom: 3px">
                                {{ slot.date|date("l d F") }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>

                </div>

                <br>
                {% endif %}
            {% endfor %}

        </div>

    </div>

{% endblock %}