{% extends 'member_site/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block accountNav %}
    {{ include('member_site/themes/widgets/account_menu.html.twig') }}
{% endblock %}

{% block body %}
    <style>
        .membership-type {
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fafafa;
            padding: 15px;
        }
        .membership-type:hover {
            background-color: #eaeaea;
            border: 1px solid black;
        }
    </style>
    <h2>
        {% trans %}Subscribe{% endtrans %}
    </h2>

    <div class="row">

        {% if app.user.activeMembership is defined and app.user.activeMembership and app.user.activeMembership.status == 'ACTIVE' %}
            <div class="col-md-12">
                <div class="alert alert-info">
                    {{ 'public_account.current_member_type'|trans({'%type%':app.user.activeMembership.membershipType.name}, 'member_site') }}<br>
                    {{ 'public_account.membership_expires_on'|trans({}) }} {{ app.user.activeMembership.expiresAt|date("D j F Y") }}
                </div>
            </div>
        {% endif %}

        {% if membershipTypes|length > 0 %}

            <form method="POST" class="payment-form" id="subsForm">

                <input type="hidden" name="paymentMethodId" value="{{ tenantInformation.stripePaymentMethodId }}" class="payment-method">
                <input type="hidden" name="customerEmail" value="{{ app.user.email }}" class="contact-email">
                <input type="hidden" name="stripeToken" value="" class="stripe-token">
                <input type="hidden" name="membershipTypeId" id="membershipTypeId" value="">
                <input type="hidden" name="paymentAmount" class="payment-amount" id="paymentAmount" value="">

        {% for membershipType in membershipTypes %}

            <div class="col-md-4">

                <div class="membership-type">

                    <h4>{{ membershipType.name }}</h4>
                    <div>
                        {{ tenantInformation.currencySymbol }} {{ membershipType.price }}
                    </div>
                    <div>
                        {{ membershipType.duration }} {% transchoice membershipType.duration %}days{% endtranschoice %}
                    </div>
                    <div>
                        {% if membershipType.creditLimit > 0 %}
                            {{ tenantInformation.currencySymbol }} {{ membershipType.creditLimit|number_format() }} {{ 'public_misc.credit_limit'|trans({}) }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                    <div>
                        {% if membershipType.discount > 0 %}
                            {{ membershipType.discount|number_format() }}% {{ 'public_registration.discount_on_fees'|trans({}) }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>

                        <div>
                            <br><br>
                            <button type="submit" id="{{ membershipType.id }}" data-amount="{{ membershipType.price }}" class="btn btn-success {% if membershipType.price > 0 %}payment-submit{% else %}subscribe-submit{% endif %}">
                                {% if app.user.activeMembership is defined
                                and app.user.activeMembership
                                and app.user.activeMembership.status == 'ACTIVE'
                                and app.user.activeMembership.membershipType == membershipType %}{{ 'public_registration.button_renew'|trans({}) }}{% else %}{{ 'public_registration.button_subscribe'|trans({}) }}{% endif %}
                            </button>

                            <br><br>
                            <div class="help-block">
                            {% if app.user.activeMembership is defined
                            and app.user.activeMembership
                            and app.user.activeMembership.status == 'ACTIVE'
                            and app.user.activeMembership.membershipType == membershipType
                                and app.user.activeMembership.expiresAt|date("Y-m-d") < date()|date_modify("+14 days")|date("Y-m-d")
                            %}
                                {{ 'public_registration.membership_deferred'|trans({}) }} <strong>{{ app.user.activeMembership.expiresAt|date("j F Y") }}</strong>.
                            {% else %}
                                {{ 'public_registration.membership_starts_today'|trans({}) }}
                            {% endif %}
                            </div>
                        </div>
                        <br>

                    <div class="help-block">
                        {{ membershipType.description|nl2br }}
                    </div>

                </div>

            </div>

        {% endfor %}

            </form>

        {% else %}
            <div class="col-md-12">
                <div class="alert alert-warning">
                    {{ 'public_registration.no_self_serve_memberships'|trans({}) }}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block pagejs %}
    <script>
        $(document).on('click', ".subscribe-submit, .payment-submit", function(e) {
            var paymentAmount = $(this).data('amount');
            var membershipTypeId = $(this).attr('id');
            $("#membershipTypeId").val(membershipTypeId);
            $("#paymentAmount").val(paymentAmount);
        });
    </script>
{% endblock %}