{% extends 'member_site/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block accountNav %}
    {{ include('member_site/themes/widgets/account_menu.html.twig') }}
{% endblock %}

{% block body %}
    <h2>
        {% trans %}public_user.subscription_payment{% endtrans %}
        {% if user is defined and user.id != app.user.id %}
            {{ include('member_site/partials/session_user.html.twig') }}
        {% endif %}
    </h2>

    <div class="row">

        {% if user.activeMembership is defined and user.activeMembership and user.activeMembership.status == 'ACTIVE' %}
            <div class="col-md-12">
                <div class="alert alert-info">
                    {{ 'public_account.current_member_type'|trans({'%type%':user.activeMembership.membershipType.name}, 'member_site') }}<br>
                    {{ 'public_account.membership_expires_on'|trans({}) }} {{ user.activeMembership.expiresAt|date("D j F Y") }}
                </div>
            </div>
        {% endif %}

        {{ form_start(form, { 'attr' : { 'class': 'payment-form', 'id' : "paymentForm" } }) }}
        {{ form_errors(form) }}
        {% if help is defined %}
            <span class="help">{{ help }}</span>
        {% endif %}

        <div class="col-md-6 admin-only">
            {{ form_row(form.membershipType) }}
        </div>

        <div class="col-md-6 admin-only">
            {{ form_row(form.price) }}
        </div>

        <div class="col-md-6" id="subscriptionDetail" style="display:none; font-size: 20px; margin-bottom: 15px;">
            {{ tenantInformation.currencySymbol }}<span id="subscriptionPrice"></span>
        </div>

        <div class="col-md-12">

            <div id="paymentBlock" style="display: none;">
                {{ include('cores/payment_core.html.twig') }}
            </div>

            <div id="noPaymentRequired" style="display: none;">
                <div class="alert alert-info">
                    {% trans %}public_payments.no_payment_required{% endtrans %}
                </div>
            </div>

            <button type="button" class="btn btn-success payment-submit" data-text="Subscribe">{% trans %}public_registration.button_subscribe{% endtrans %}</button>

            {{ form_end(form) }}

            {% if is_granted("ROLE_ADMIN") %}
            <div class="help-block">
                Admins : if you need to create a membership retrospectively, you can edit the start and end dates once the membership has been created.
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block pagejs %}
    <script>
        $("#membership_subscribe_membershipType").val({{ app.request.get('membershipTypeId') }});

        $(document).ready(function () {
            $("#page-body").on("change", "#membership_subscribe_membershipType", function () {
                setPaymentAmount();
            });
            setPaymentAmount();
        });

        function setPaymentAmount() {

            var membershipTypePrices = [];
            {% for type in membershipTypePrices %}
            membershipTypePrices[{{ type.id }}] = {{ type.price }};
            {% endfor %}
            var membershipTypeId = $("#membership_subscribe_membershipType").val();

            $("#membership_subscribe_price").val(membershipTypePrices[membershipTypeId].toFixed(2));
            $(".payment-amount").val(membershipTypePrices[membershipTypeId].toFixed(2));

            $("#subscriptionPrice").html(membershipTypePrices[membershipTypeId].toFixed(2));

            if (membershipTypePrices[membershipTypeId] > 0) {
                $("#paymentBlock").fadeIn();
                $("#noPaymentRequired").hide();
            } else {
                $("#paymentBlock").hide();
                $("#noPaymentRequired").fadeIn();
            }
        }

        {% if not is_granted("ROLE_ADMIN") %}
            $(".admin-only").hide();
            $("#subscriptionDetail").show();
        {% endif %}

    </script>
{% endblock %}