{% trans_default_domain 'member_site' %}

{#

THIS CODE IS EMBEDDED EVERYWHERE WE NEED TO TAKE A PAYMENT
All forms which require payment need the fields:
paymentAmount
paymentMethod
paymentNote

Workflows which take payment:
Loan checkout
Loan extension
Membership subscribe via modal (admin)
Membership subscribe self serve
Add credit
Book a place on event; member site
Take payment for an attendee already booked

#}

<style>
    .StripeElement {
        border: 1px solid #bdbdbd;
        border-radius: 4px;
    }
    .StripeElement--focus {
        border-color: #80BDFF;
        outline:0;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    #card-element {
        padding: 8px;
    }
</style>
<div class="row">
    <div class="col-md-12 add-credit">

        {{ include('partials/credit-cards.html.twig') }}

        <div class="row">
            <div class="col-sm-6 admin-only">
                {{ form_row(form.paymentAmount) }}
            </div>
            <div class="col-sm-6" {% if not is_granted('ROLE_ADMIN') %}style="display:none"{% endif %}>
                {{ form_row(form.paymentMethod) }}
            </div>
        </div>

        <div class="row" id="cardDetails" style="display:none;">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="card-element" class="control-label">Card details</label>
                    <div id="card-element"></div>
                </div>
                <div class="form-group">
                    <label style="font-weight: normal">
                        <input type="checkbox" id="saveCard" name="saveCard" value="1" {% if tenantInformation.setting('stripe_use_saved_cards') %}checked{% endif %}> Save this card for future use
                    </label>
                </div>
            </div>
            {% if tenantInformation.stripeFee > 0 %}
                <div class="col-md-12" style="color:#ff4930; padding-bottom: 10px;">
                    {{ tenantInformation.currencySymbol }} {{ tenantInformation.stripeFee|number_format(2, '.') }} {% trans %}public_add_credit.processing_fee{% endtrans %}.
                </div>
            {% endif %}
        </div>

        <div class="row" id="paymentError" style="display:none">
            <div class="col-md-12">
                <div class="alert alert-danger" id="paymentErrorMessage"></div>
            </div>
        </div>

        <div class="row admin-only">
            <div class="col-sm-12">
                {{ form_row(form.paymentNote) }}
            </div>
        </div>

        <input type="hidden" name="c" id="contactId" value="{{ contact.id }}">
        <input type="hidden" name="return" value="{{ app.request.get('return') }}">
        <input type="hidden" class="stripe-card-id" id="stripeCardId" name="stripeCardId" value="">
        <input type="hidden" id="stripePaymentMethod" name="stripePaymentMethod" value="">
        <input type="hidden" id="chargeId" name="chargeId" value="">

    </div>
</div>
<script>
    {% if not is_granted('ROLE_ADMIN') %}
        $(".payment-method").val(stripePaymentMethodId);
    {% endif %}
</script>