{% trans_default_domain 'member_site' %}

<div class="help-block">
    This screen is used when you are giving money back to a member.
    Perhaps you are returning their account balance, or you are refunding a deposit.
</div>

{% if payment.paymentMethod %}
<div class="row">
    <div class="col-md-12">
        The original payment of {{ tenantInformation.currencySymbol }}{{ payment.amount }} was taken on {{ payment.paymentDate|date("d M Y") }} with {{ payment.paymentMethod.name }}
        {% if payment.deposit %}
        <div style="color:#ff671d">This was a deposit payment and the refund will not affect the member account balance.</div>
        {% endif %}
    </div>
</div>
<br>
{% endif %}

<div class="row">
    <div class="col-md-12">
        {{ form_start(form) }}

        {{ form_errors(form) }}
        {% if help is defined %}
            <span class="help">{{ help }}</span>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.amount) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.paymentMethod) }}
            </div>
        </div>

        {{ form_row(form.note) }}

        <button type="submit" class="btn btn-success">Refund</button>

        {{ form_end(form) }}
    </div>
</div>

<br>

{% block modalFooter %}
    <script>
        $(document).ready(function () {
            var originalPaymentMethodId = {% if payment.paymentMethod %}{{ payment.paymentMethod.id }}{% else %}''{% endif %};
            if (originalPaymentMethodId == stripePaymentMethodId) {
                $("#refund_paymentMethod").val(stripePaymentMethodId);
            } else {
                $("#refund_paymentMethod option[value='"+stripePaymentMethodId+"']").remove();
            }
        });
    </script>
{% endblock %}