{# app/Resources/views/settings/settings.html.twig #}
{% extends 'base.html.twig' %}

{% block pageCss %}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">
    <link href="/plugins/summernote/summernote.css" rel="stylesheet">
{% endblock %}

{% block title %}Settings : Member site{% endblock %}

{% block pageTitle %}Settings : Member site{% endblock %}

{% block primaryButton %}{% endblock %}

{% block body %}

    <style>
        h2 { margin: 20px 0 10px; padding-bottom: 10px; border-bottom: 2px solid #3b3b3b; font-size: 20px; }
    </style>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <div class="row" id="settings-membersite">

        <div class="col-md-3 col-lg-2">
            {{ knp_menu_render('settingsMenu') }}
        </div>

        <div class="col-md-9 col-lg-8">

            <h2>Member site settings</h2>

            <div style="padding: 20px; border-radius: 4px; background-color: #fafafa; border: 1px solid #eee">
                <div class="form-group">
                    <label>Your current domain is:</label>
                    <p>
                        <a href="{{ tenantInformation.accountDomain(true) }}" target="_blank">{{ tenantInformation.accountDomain(true) }}</a>
                    </p>
                    <p class="help-block">
                        On the Plus or Business plan you can have your own dedicated domain, such as https://items.my-library.com.<br>
                        <span style="color: #de9257">
                            You will need to own the domain already to set up a subdomain (CNAME) for it.
                            We don't register domains for you.
                        </span>
                    </p>
                </div>

                <div style="display: {% if tenantInformation.feature('CustomDomain') %}block{% else %}none{% endif %}">
                    {{ form_row(form.site_domain) }}

                    {% if domainOk == true and tenantInformation.accountDomain() == tenantInformation.setting('site_domain') %}
                        <i class="fa fa-check"></i> Domain is set up OK.
                    {% else %}

                    <div class="row">
                        <div class="col-md-4">
                            <label>Step 1</label>
                            <div class="help-block">
                                Enter your custom domain and save settings.
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Step 2</label>
                            <div class="help-block">
                                Create a CNAME record in your domain control panel.
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Step 3</label>
                            <div class="help-block">
                                Switch to the new domain.
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>

                {% if tenantInformation.setting('site_domain') and tenantInformation.accountDomain() != tenantInformation.setting('site_domain') %}

                    {% if domainStatus %}

                        <div class="alert alert-info">
                            We've set up your domain on our servers.<br>
                            Enter the CNAME details below into your hosting provider's domain control panel.
                        </div>

                        <table class="table table-bordered">
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>TTL</th>
                                <th>Value</th>
                            </tr>
                            <tr>
                                <td>{{ domainParts[0] }}</td>
                                <td>CNAME</td>
                                <td>600</td>
                                <td>{{ domainStatus.cname }}.</td>
                            </tr>
                        </table>

                        {% if domainStatus.acm_status == 'cert issued' %}
                            <a class="btn btn-primary btn-xs" href="{{ path('settings_member_site', {customDomain: 'activate'}) }}">
                                Switch to https://{{ tenantInformation.setting('site_domain') }}
                            </a>
                            <div class="help-block">
                                Our systems show your CNAME is ready! <br>
                                Click to activate the domain.
                                You'll be redirected and will need to log in again.
                            </div>
                        {% else %}
                            <div class="alert alert-warning">
                                It doesn't look like the CNAME is ready:
                                "{{ domainStatus.acm_status_reason }}"<br>
                                If you think it's OK, please contact us.<br>
                                When the CNAME is ready, you'll be able to switch to the domain.
                            </div>
                        {% endif %}

                    {% else %}
                        <br>
                        <div class="alert alert-warning">
                            Your requested domain is being set up on our servers.
                            Wait a short while, then refresh.<br>
                            If this message is still here in a few minutes, please get in touch.
                        </div>
                    {% endif %}

                {% endif %}

            </div>
            <br>

            {{ form_row(form.org_locale) }}
            {{ form_row(form.org_languages) }}

            {{ form_row(form.site_description) }}
            {{ form_row(form.group_similar_items) }}
            {{ form_row(form.self_checkout) }}
            {{ form_row(form.self_extend) }}
            {{ form_row(form.google_tracking_id) }}

            <h2>Logo</h2>

            <p class="help-block">
                Upload an image file less than 200kb in size.
            </p>

            <div class="row">
                <div class="col-md-4">
                    {% if tenantInformation.logoImageName %}
                        <img src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/site_images/{{ tenantInformation.logoImageName }}" class="img-thumbnail img-responsive">
                    {% else %}
                        No logo yet
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div id="fileUploader" class="dropzone" style="height: 100px;"></div>
                </div>
            </div>

            <br>
            <p class="help-block">
                We'll constrain the logo to a maximum of 100 pixels high.
                If you want to customise the site CSS, you can add custom styles below.
            </p>

            <h2>Editable content</h2>

            <p class="page-help">
                Edit your website pages (including the home page) using <strong>site edit mode</strong>.
                To open edit mode, use the "edit website" button in the admin toolbox of your member site.
                If you're on the Plus plan, you'll be able to add extra pages, menu links, and edit the theme.
            </p>

            {{ form_row(form.page_registration_header) }}
            {{ form_row(form.site_welcome_user) }}

            <h2>Customise style</h2>

            <div class="form-group">
                <label>Site theme</label>
                <p>
                    {{ tenantInformation.siteTheme|capitalize }}
                </p>
                <p class="help-block">
                    If you're on the Plus plan you will soon be able to choose from a library of website themes.
                    Change your theme using site edit mode.
                    If you're interested in contributing to our theme library, please get in touch.
                </p>
            </div>

            {{ form_row(form.site_css) }}
            {{ form_row(form.site_js) }}
            {{ form_row(form.site_font_name) }}
            {{ form_row(form.print_css) }}

            <h2>Registration and log in</h2>

            {{ form_row(form.site_allow_registration) }}
            {{ form_row(form.registration_require_email_confirmation) }}
            {{ form_row(form.registration_terms_uri) }}
            {{ form_row(form.site_is_private) }}

        </div>

    </div>

    <div class="page-controls">
        <button type="submit" class="btn bg-green">Save settings</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
    <script src="/plugins/summernote/summernote.js"></script>
    <script>
        $(document).ready(function() {
            $('.summernote').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['extra', ['codeview']]
                ],
                height: 200
            });
        });

        Dropzone.autoDiscover = false;
        var fileUploader = new Dropzone("div#fileUploader", {
            method: "post",
            paramName: "file", // The name that will be used to transfer the file
            url: "{{ oneup_uploader_endpoint('siteimages') }}",
            maxFilesize: 0.2, // MB
            acceptedFiles: "image/*",
            accept: function (file, done) {
                done();
            },
            init: function () {
                this.on("sending", function (file, xhr, formData) {
                    formData.append("uploadType", "logo");
                    console.log("Uploading image ... " + file.name);
                    startFilesUploading();
                });
                this.on("success", function (file, serverResponse) {
                    console.log(serverResponse);
                    if (file.status == "success") {
                        console.log("Uploaded OK");
                        location.reload();
                    }
                });
                this.on("complete", function (file) {
                    fileUploader.removeFile(file);
                });
                this.on("queuecomplete", function (file) {
                    console.log("All files have finished uploading");
                    finishFilesUploading();
                });
                this.on("error", function(file, response) {
                    // do stuff here.
                    alert("There was an error uploading the file - perhaps it was more than 200 kB?. More info is in the browser debug console.");
                    console.log(response);
                });
            }
        });

        function startFilesUploading() {
            $("#save-item").attr('disabled', true).html("Files uploading ...");
        }

        function finishFilesUploading() {
            $("#save-item").attr('disabled', false).html("Save item");
        }

    </script>
{% endblock %}