{# app/Resources/views/settings/settings.html.twig #}
{% extends 'base.html.twig' %}

{% block pageCss %}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">
    <link href="/plugins/summernote/summernote.css" rel="stylesheet">
{% endblock %}

{% block title %}Settings{% endblock %}

{% block pageTitle %}Settings{% endblock %}

{% block primaryButton %}{% endblock %}

{% block body %}

    <style>
        h2 { margin: 20px 0 10px; padding-bottom: 10px; border-bottom: 2px solid #3b3b3b; font-size: 20px; }
    </style>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}

    <div class="row" id="settings-settings">

        <div class="col-md-3 col-lg-2">
            {{ knp_menu_render('settingsMenu') }}
        </div>

        <div class="col-md-9 col-lg-8">

            <h2>About your organisation</h2>

            {{ form_row(form.org_name) }}
            {{ form_row(form.org_email) }}
            {{ form_row(form.industry) }}
            {{ form_row(form.org_address) }}
            {{ form_row(form.org_postcode) }}
            {{ form_row(form.org_country) }}

            {{ form_row(form.auto_sku_stub) }}
            {{ form_row(form.org_timezone) }}
            {{ form_row(form.org_currency) }}
            {{ form_row(form.email_cc_admin) }}
            {{ form_row(form.org_cc_email) }}

            <h2>White labelling</h2>
            <p class="help-block">
                These settings allow you to hide all mention of the Lend Engine brand.
            </p>

            {{ form_row(form.hide_branding) }}
            {{ form_row(form.postmark_api_key) }}
            {{ form_row(form.from_email) }}

            <h2>Automation</h2>

            <p class="help-block">
                If you're on one of our paid plans, we can automate emails to save your team loads of time and reduce late returns or missed reservation pickups.
                Emails are not sent during your trial period.
                <br>
                You can edit the email content on the <a href="{{ path('settings_templates') }}">email template settings</a> page.
            </p>

            {{ form_row(form.automate_email_loan_reminder) }}
            {{ form_row(form.automate_email_reservation_reminder) }}
            {{ form_row(form.automate_email_membership) }}
            {{ form_row(form.automate_email_overdue_days) }}

            <h2>Payment processing</h2>

            <div class="row">
                <div class="col-md-12">

                    {% if tenantInformation.serverName == 'lend-engine-eu' %}
                        <div class="alert alert-warning">
                            For Stripe to work you will need to have your Lend Engine account on our secure (https) servers.<br>
                            Please set up a custom domain at Settings &raquo; Member site, or contact us for other options.
                        </div>
                    {% else %}
                        <div class="page-help">
                            Your account is on our secure servers and Stripe can be enabled.
                        </div>
                    {% endif %}

                    <div class="form-group">
                        {% if tenantInformation.stripePublicApiKey|length == 0 %}
                            <p class="help-block">
                                Use Stripe.com to take credit card payments from members.
                                Connect your Lend Engine account by clicking the button below.
                                By linking your Lend Engine system to Stripe you accept our payment terms and conditions,
                                and any fees that the Lend Engine may charge in addition to the amount you are charging your members.
                            </p>
                            <a target="_blank" href="https://connect.stripe.com/oauth/authorize?state={{ tenantInformation.accountCode }}&response_type=code&client_id={{ stripe_client_id }}&scope=read_write">
                                <img src="/images/stripe-logo.png" style="width:120px">
                            </a>
                        {% else %}
                            <div class="help-block">
                                <label class="label bg-green"><strong>Connected to Stripe</strong></label>
                                <p style="padding-top:10px;"><a href="{{ path('stripe_disconnect') }}">Disconnect</a> (its easy to reconnect later and you won't lose any data)</p>
                            </div>

                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="row" {% if tenantInformation.stripePublicApiKey|length == 0 %}style="display:none"{% endif %}>
                <div class="col-md-12">
                    {{ form_row(form.stripe_payment_method) }}
                    {{ form_row(form.stripe_minimum_payment) }}
                    {{ form_row(form.stripe_use_saved_cards) }}
                    {{ form_row(form.stripe_fee) }}
                </div>
            </div>

            <h2>Optional features</h2>

            {{ form_row(form.enable_waiting_list) }}

            <p class="help-block">
                If an item is not available (on loan, or in an unavailable location), a member can add themselves to the waiting list via your website.
                When the item becomes available again (check in, or move to an available location),
                all members requesting this item are sent an email.
            </p>

            {% if is_granted("ROLE_SUPER_USER") %}
            <h2>Backup</h2>
            <p>
                <a href="{{ path('full_backup') }}" class="btn btn-primary">Download a full backup</a>
            </p>
            <p class="help-block">
                If you're wanting a copy of all your data, you can download a full mySQL database dump.<br>
                <strong>This data requires technical expertise</strong>;
                if you want to export items, members or other simpler data, use the export buttons on the listing screens.
            </p>
            {% endif %}

        </div>

    </div>

    <div class="page-controls">
        <button type="submit" class="btn bg-green">Save settings</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
<script src="/plugins/summernote/summernote.js"></script>
<script>
    $(document).ready(function() {
        $('.summernote').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['style', 'bold', 'italic', 'underline', 'clear']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['extra', ['codeview']]
            ],
            codemirror: { // codemirror options
                theme: 'default'
            },
            height: 400
//                callbacks: {
//                    onImageUpload: function(files, editor, welEditable) {
//                        sendFile(files[0], editor, welEditable);
//                    }
//                }
        });
    });

</script>
{% endblock %}