{# app/Resources/views/contact/contact.html.twig #}
{% extends 'base.html.twig' %}

{% block pageTitle %}
    {{ title }}
    {% if contact.id %}
    <a href="{{ path('send_email', {contactId: contact.id}) }}" class="modal-link btn btn-xs btn-default">
        <i class="fa fa-envelope-o"></i> Send email
    </a>
    {% endif %}
{% endblock %}

{% block pageCss %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgbkO6VOtnvsh1aqEExrv6HSQzSDsO2Ik"></script>
    <script type="text/javascript">
        function getLatLong() {
            var geocoder = new google.maps.Geocoder();
            var address = $("#contact_addressLine1").val();
            address = address + ',' + $("#contact_addressLine2").val();
            address = address + ',' + $("#contact_addressLine3").val();
            address = address + ',' + $("#contact_addressLine4").val();
            geocoder.geocode({'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var lat = results[0].geometry.location.lat();
                    var lng = results[0].geometry.location.lng();
                    $("#contact_latitude").val(lat);
                    $("#contact_longitude").val(lng);
                    console.log("getLatLong success");
                } else {
                    console.log("getLatLong failed");
                }
            });
        }
    </script>
{% endblock %}
{% block body %}

    {{ form_start(form) }}

    {{ form_errors(form) }}

    <input type="hidden" name="next" value="{{ app.request.get('next') }}">

    {% if contact.id %}

        <!-- For functional testing //-->
        <span style="display: none;" id="contact-id">{{ contact.id }}"</span>

        <div id="item-inventory-detail">
        {% if contact.activeMembership is null %}
            No active membership
            <span class="item-inventory-detail-span">
                <a href="{{ path('choose_membership', {c : contact.id}) }}">Add membership</a>
            </span>
        {% else %}
            <strong>{{ contact.activeMembership.membershipType.name }}</strong> member until {{ contact.activeMembership.expiresAt|date('d M Y') }}
            <!-- For functional testing //-->
            <span style="display: none;" id="active-membership-id">{{ contact.activeMembership.id }}"</span>

            <a href="{{ path('switch_contact', {contactId: contact.id}) }}" class="btn btn-xs btn-primary" style="margin-left: 30px">
                Browse / borrow as {{ contact.name }}
            </a>

        {% endif %}
            <span class="pull-right">
                Account balance:
                {% if contact.balance > 0 %}
                    <span class="label bg-green">
                        {{ contact.balance|number_format(2) }}
                    </span>
                {% else %}
                    <span class="label bg-red">
                        {{ contact.balance|number_format(2) }}
                    </span>
                {% endif %}
            </span>
        </div>

    {% endif %}

    <div class="nav-tabs-custom">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Contact information</a></li>
            {% if tenantInformation.industry == 'toys' %}
                <li><a href="#tab_2" data-toggle="tab" aria-expanded="false">Children ({{ contact.children|length }})</a></li>
            {% endif %}
            {% if contact.id %}
                <li><a href="#tab_3" data-toggle="tab" aria-expanded="false">Memberships</a></li>
                <li><a href="#tab_4" data-toggle="tab" aria-expanded="false">Loans ({{ contact.loans|length }}) / items</a></li>
                {% if tenantInformation.setting('ft_events') %}
                <li><a href="#tab_events" data-toggle="tab" aria-expanded="false">Events ({{ contact.attendees|length }})</a></li>
                {% endif %}
                <li><a href="#tab_5" data-toggle="tab" aria-expanded="false">Charges and Payments</a></li>
                <li><a href="#tab_6" data-toggle="tab" aria-expanded="false">Notes / items</a></li>
                <li>
                    <a href="{{ path('contact_files', {id: contact.id}) }}" class="media_node" rel="tooltip" data-toggle="tabajax" data-target="#contact_files">Attachments ({{ contact.fileAttachments|length }})</a>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                {{ include('contact/tabs/contact_info.html.twig') }}
            </div>
            <div class="tab-pane" id="tab_2">
                {% if tenantInformation.industry == 'toys' %}
                    {{ include('contact/tabs/children.html.twig') }}
                {% endif %}
            </div>
            <div class="tab-pane" id="tab_3">
                {{ include('contact/tabs/memberships.html.twig') }}
            </div>
            <div class="tab-pane" id="tab_4">
                {{ include('contact/tabs/loans.html.twig') }}
            </div>
            <div class="tab-pane" id="tab_events">
                {{ include('contact/tabs/events.html.twig') }}
            </div>
            <div class="tab-pane" id="tab_5">
                {{ include('contact/tabs/payments.html.twig') }}
            </div>
            <div class="tab-pane" id="tab_6">
                {{ include('contact/tabs/notes.html.twig') }}
            </div>
            <div class="tab-pane" id="contact_files">
                <!-- ajax-content -->
            </div>
        </div>
        <!-- /.tab-content -->
    </div>

    {% if contact.id %}
    <div class="row">
        <div class="col-md-12">
            <a id="contact_remove" href="{{ path('contact_archive', {id: contact.id, 'anon': 'y'}) }}">Remove this contact</a>
            <br>This will remove following personal information (email, name, address) stored about this contact.
            <br>The anonymised contact will then be archived.
        </div>
    </div>
    {% endif %}

    <div class="page-controls">
        <input type="hidden" name="form_action" id="form_action" value="save">
        {% if app.request.get('next') == 'membership' %}
            <button type="button" onClick="save('saveAndAddMembership');" class="btn bg-green btn-loading">Save contact</button>
        {% else %}
            {% if contact.id and is_granted('ROLE_SUPER_USER') %}
                <a id="contact_archive" class="btn btn-default" href="{{ path('contact_archive', {id: contact.id}) }}">Archive</a>
            {% else %}
            {% endif %}
            <button type="submit" class="btn btn-success btn-loading">Save contact</button>
        {% endif %}
    </div>

    {{ form_row(form.latitude) }}
    {{ form_row(form.longitude) }}

    {{ form_end(form) }}

{% endblock %}

{% block pagejs %}
    <script>
        $(document).ready(function() {
            var $collectionHolder;
            $collectionHolder = $('ul.children');
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $(".add_child_link").on('click', function(e) {
                e.preventDefault();
                addChildForm($collectionHolder);
            });

            $("#contact_archive").on('click', function(e){
                if (window.confirm("This will hide the contact permanently but will retain historical data.\n\nIf you want to remove the contact for privacy reasons, use the link at the bottom of the page. \n\nContinue to archive anyway?")) {
                    return true;
                }
                return false;
            });

            $("#contact_remove").on('click', function(e){
                if (window.confirm("This will scramble and hide the contact permanently. Are you sure?")) {
                    return true;
                }
                return false;
            });

            $collectionHolder.find('li.child').each(function() {
                addChildFormDeleteLink($(this));
            });
        });

        function addChildForm($collectionHolder) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li class="child"></li>').append(newForm);
            $("#add_child_li").before($newFormLi);
            addChildFormDeleteLink($newFormLi);
            setUpSelectMenus();
        }

        function addChildFormDeleteLink($childFormLi) {
            var $removeFormA = $('<a href="#">Remove this child</a>');
            $childFormLi.append($removeFormA);
            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $childFormLi.remove();
            });
        }

        $("#tab_1").on('change', "#contact_addressLine1, #contact_addressLine2, #contact_addressLine3, #contact_addressLine4", function() {
            console.log("Getting location from Google ...");
            getLatLong();
        });

    </script>
{% endblock %}