{% for contact in data %}
    <div class="member-search-wrap">
        <span class="member-name-wrap">
            <span class="member-name">{{ contact.name }}</span>
            <span class="member-email">{{ contact.email }}</span>
        </span>
        <span class="member-info">
        {% if contact.activeMembership is null %}
            <span style="color:#ccc;">No active membership</span>
        {% else %}
            <strong>{{ contact.activeMembership.membershipType.name }}</strong> member until {{ contact.activeMembership.expiresAt|date }}
        {% endif %}
        </span>
        <span class="member-choose">
            {% if contact.activeMembership is not null %}
                {% if waitListItemId is not null and waitListItemId > 0 %}
                    <a href="{{ path('add_to_waiting_list', {contactId: contact.id, itemId: waitListItemId}) }}" class="btn btn-success">Add to waiting list</a>
                {% endif %}
            {% else %}
                <a href="{{ path('contact', {id: contact.id}) }}">Edit</a>
            {% endif %}
        </span>
    </div>
{% endfor %}