{% extends 'base.html.twig' %}

{% block pageCss %}
{% endblock %}

{% block title %}{{ pageTitle }}{% endblock %}
{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block body %}

    <div class="row">
        <div id="report-filter">
            <form method="GET">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Filter by item name / code</label>
                            <input type="text" name="search" class="form-control" value="{{ app.request.get('search') }}"
                                   placeholder="Item name / code">
                        </div>
                        <div class="col-md-4">
                            <label>Grouping</label>
                            <select class="form-control" name="group_by">
                                <option value="">Show each cost separately</option>
                                <option value="item" {% if app.request.get('group_by') == 'item' %}SELECTED{% endif %}>Sum costs per item</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Date range</label>
                            <input type="text" id="date_picker" class="form-control report-date-picker">
                            <input type="hidden" name="date_from" id="date_from" value="{{ date_from }}">
                            <input type="hidden" name="date_to" id="date_to" value="{{ date_to }}">
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn bg-green pull-right form-control">Filter</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table cellspacing="0" class="table table-hover table-striped" id="costs-report-table{% if app.request.get('group_by') == 'item' %}-grouped{% endif %}">
                <thead>
                {% for column in tableHeader %}
                    <th>{{ column }}</th>
                {% endfor %}
                </thead>

                {% for row in tableRows %}
                    <tr id="tr{{ row.id }}">
                        {% for column in row.data %}
                            <td>{{ column | raw }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}

                <tfoot>
                {% for column in tableHeader %}
                    <td style="border-top:1px solid #aaa; font-weight:bold"></td>
                {% endfor %}
                </tfoot>

            </table>
        </div>
    </div>

{% endblock %}

{% block pagejs %}
    <script>
        var dateFrom = "{{ date_from|date('M d Y') }}";
        var dateTo = "{{ date_to|date('M d Y') }}";
    </script>
    <script src="/js/pages/report.js"></script>
{% endblock %}