<div id="edit-mode-controls">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            <span>
                You're in site edit mode.
                <a href="{{ path('site_edit_end') }}" class="btn btn-xs btn-primary">Exit</a>
            </span>
            </div>
            <div class="col-md-4">
                {% if tenantInformation.feature('CustomTheme') %}
                    <form action="{{ path('theme_preview') }}" method="GET">
                        <div class="pull-left">
                            <select id="theme-chooser" name="themeName" class="form-control btn btn-mini"
                                    title="Preview other themes here. Changes won't be visible for other users until you apply the theme."
                                    data-toggle="tooltip" data-placement="bottom" onChange="this.form.submit()">
                                {% for theme in tenantInformation.themes %}
                                    <option value="{{ theme.code }}" {% if tenantInformation.siteTheme == theme.code %}selected{% endif %}>Theme : {{ theme.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="pull-right">
                            {% if tenantInformation.isThemePreview %}
                            <a href="{{ path('apply_theme') }}" class="btn btn-xs btn-primary" style="margin-left: 10px">Apply this theme</a>
                            {% endif %}
                        </div>
                    </form>
                {% else %}
                    <span title="You can choose other themes on the Plus billing plan." data-toggle="tooltip" data-placement="bottom">
                    You're using the "{{ tenantInformation.siteTheme|capitalize }}" theme.
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
