<!-- borrow modal loaded into member site item page -->
{% trans_default_domain 'member_site' %}
<div id="borrowModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-danger" id="modalWarning" style="display: none"></div>
                <div style="padding-bottom: 10px; border-bottom: 1px dotted #ccc;">
                    {% if tenantInformation.fixedFeePricing %}
                        <strong>
                            {% trans %}Fee{% endtrans %}:
                            {{ tenantInformation.currencySymbol }} {{ itemFee|number_format(2) }}
                            {% trans %}per_borrow{% endtrans %}
                        </strong>
                    {% elseif product.maxLoanDays == 1 and dailyFee > 0 %}
                        <strong>
                            {% trans %}Fee{% endtrans %}:
                            {{ tenantInformation.currencySymbol }} {{ dailyFee|number_format(2) }}
                            {% trans %}per_day{% endtrans %}
                        </strong>
                    {% elseif dailyFee > 0 %}
                        <strong>
                            {% trans %}Fee{% endtrans %}:
                            {{ tenantInformation.currencySymbol }} {{ dailyFee|number_format(2) }}
                            {% trans %}per_day{% endtrans %}
                        </strong>
                    {% endif %}

                    {% if minLoanDays and not is_granted('ROLE_ADMIN') %}
                        <div style="padding-right: 20px">
                            Minimum {{ minLoanDays|number_format(0) }} {% transchoice minLoanDays %}days{% endtranschoice %}
                        </div>
                    {% endif %}

                    {% if maxLoanDays and not is_granted('ROLE_ADMIN') %}
                        <div style="padding-right: 20px">
                            Maximum {{ maxLoanDays|number_format(0) }} {% transchoice maxLoanDays %}days{% endtranschoice %}
                        </div>
                    {% endif %}

                    {% if reservationFee > 0 %}
                        <div>
                            {{ tenantInformation.currencySymbol }} {{ reservationFee|number_format(2) }}
                            {% trans %}note_reservation_fee_will_be_added{% endtrans %}.
                            <input type="hidden" name="booking_fee" value="{{ reservationFee }}">
                        </div>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <input type="checkbox" id="chooseAnyDates" checked style="display:none">
                    {% endif %}
                </div>


                {% if tenantInformation.basket is defined
                and tenantInformation.basket
                and tenantInformation.basket.loanRows|length > 0 %}
                    <div class="alert alert-info">
                        <span class="pull-left" style="font-size: 34px; padding-right: 20px; margin-top: -5px">
                            <i class="fa fa-info-circle"></i>
                        </span>
                        {% trans %}public_item.basket_exists{% endtrans %}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-5">
                        <h4>{% trans %}public_item.pickup_at{% endtrans %} ...</h4>
                        <div>
                            <a href="javascript:void(0);" class="show_date_from" id="choosePickup"></a> &nbsp;
                            <a href="javascript:void(0);" class="time ui-timepicker-input show_time_from" id="time_from_picker"></a>
                        </div>
                        <div class="multi-site"><a class="site_from" href="javascript:void(0);"></a></div>

                        <div style="padding-bottom: 10px;">
                            <button type="button" class="btn btn-success" id="set-pickup-today">Today</button>
                        </div>
                        <div style="padding-bottom: 20px;">
                            <button type="button" class="btn btn-success" data-dismiss="modal" id="choosePickupButton">
                                {% trans %}public_item.button_choose_pickup{% endtrans %}
                            </button>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <h4>{% trans %}public_item.return_by{% endtrans %} ...</h4>
                        <div>
                            <a href="javascript:void(0);" class="show_date_to chooseReturn" id="chooseReturn"></a> &nbsp;
                            <a href="javascript:void(0);" class="time ui-timepicker-input show_time_to" id="time_to_picker"></a>
                        </div>
                        <div class="multi-site"><a class="site_to" href="javascript:void(0);"></a></div>
                        <button type="button" class="btn btn-success chooseReturnButton" data-dismiss="modal" id="chooseReturnButton" style="margin-top: 10px; display: none">
                            {% trans %}public_item.button_choose_return{% endtrans %}
                        </button>
                        <br>
                    </div>
                    <div class="col-md-2">
                        <h4 class="count_days"></h4>
                        <div style="font-weight: bold; font-size: 20px;">
                            {{ tenantInformation.currencySymbol }} <span class="total_fee">0</span>
                        </div>
                    </div>
                </div>

                <div class="row" id="booking-help" style="display:none">
                    <div class="col-md-12 help-block"><br>Click a date, time or site to change your booking.</div>
                </div>

            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <a href="" class="btn btn-default borrowModalCancel pull-left">{% trans %}button_cancel{% endtrans %}</a>
                    </div>
                    <div class="col-md-6">
                        {% if similarItemCount > 1 %}
                        <span class="input-group borrow-modal-confirm" style="display: none;">
                            <span class="input-group-addon">Qty:</span>
                            <input type="text" class="form-control" name="qty" id="addQty" size="3" value="1">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success" id="borrowModalConfirm">
                                    {% trans %}public_item.basket_add{% endtrans %}
                                </button>
                            </span>
                        </span>
                        {% else %}
                            <button type="button" class="btn btn-success borrow-modal-confirm" id="borrowModalConfirm" style="display: none;">
                                {% trans %}public_item.basket_add{% endtrans %}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>