<!-- loan extension modal loaded into member site item page -->
{% trans_default_domain 'member_site' %}
<div id="extendModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Extend loan</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Original return date</label>
                        <div class="original_return_date"></div>
                    </div>
                    <div class="col-md-6">
                        <label>New return date</label>
                        <br>
                        <span class="new_date_to" data-dismiss="modal"></span> &nbsp;
                        <a href="javascript:void(0);" class="time ui-timepicker-input new_time_to" id=""></a>
                    </div>
                    <div class="col-md-12">
                        <div class="alert alert-info" style="font-size: 18px; font-weight: bold; margin-top: 10px; text-align: center">
                            +<span class="extend_days"></span> days
                        </div>
                        <div id="extensionFeeMessage" style="display: none; margin-top: 10px;">
                            <label>
                                <input type="checkbox" name="charge_extension_fee" checked="checked">
                                Charge a fee ({{ dailyFee|number_format(2) }} per day)
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">{{ tenantInformation.currencySymbol }}</span>
                                <input type="text" class="form-control col-xs-2 payment-amount" data-number-to-fixed="2" name="extension_fee_amount" id="extensionFeeAmount">
                            </div>

                            <div class="help-block">
                                {{ tenantInformation.currencySymbol }} {{ user.balance|number_format(2) }} available balance
                            </div>

                            {% if tenantInformation.getStripePublicApiKey %}
                            <div class="form-group" style="margin-top: 10px">
                                <label style="font-weight: normal">
                                    <input type="checkbox" class="charge-to" name="chargeTo" value="card">
                                    Take payment for this fee by card now
                                </label>
                            </div>
                            {% endif %}

                        </div>
                    </div>

                </div>

                {% if tenantInformation.getStripePublicApiKey %}
                    <div class="row" id="creditCards" style="display: none">
                        <div class="col-md-12">
                            {% if user.stripeCustomerId %}
                                <div style="overflow: hidden">
                                    {% for card in user.creditCards %}
                                        <span class="creditCard" id="{{ card.cardId }}">
                        <span class="creditCardText">
                            {{ card.brand }}<br/>
                            XXXX XXXX XXXX {{ card.last4 }}<br/>
                            {{ card.expMonth }} / {{ card.expYear }}
                        </span>
                        <br/>
                        <a class="card-select" onClick="setCard('{{ card.cardId }}'); return false;">
                            {% trans %}public_add_credit.use_this_card{% endtrans %}
                        </a>
                    </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                This member has no credit cards stored. You'll be prompted to take card details next.
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-12">
                        {% if tenantInformation.stripeFee > 0 %}
                            <div style="color:#ff4930">
                                {{ tenantInformation.stripeFee|number_format(2, '.') }} fee will be added to Stripe payments
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {#Set when user chooses to charge card#}
                <input type="hidden" name="paymentMethodId" id="paymentMethodId" class="payment-method" value="">

                <input type="hidden" name="stripeToken" id="stripeToken" class="stripe-token">
                <input type="hidden" name="stripeCardId" id="stripeCardId" class="stripe-card-id">

                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Choose another date</button>
                <button type="submit" class="btn btn-success" id="confirmDateChange">Confirm</button>
            </div>
        </div>
    </div>
</div>