<!-- loan extension modal loaded into member site item page -->
{% trans_default_domain 'member_site' %}
<div id="extendModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Extend loan {{ loanId }}</h2>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="modalWarning" style="display: none"></div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Original return date</label>
                        <div class="original_return_date"></div>
                    </div>
                    <div class="col-md-6">
                        <label>New return date</label>
                        <br>
                        <span class="new_date_to" data-dismiss="modal"></span> &nbsp;
                        <a href="javascript:void(0);" class="time ui-timepicker-input new_time_to" id=""></a>
                    </div>
                    <div class="col-md-12">

                        <div class="alert alert-info" style="font-size: 18px; font-weight: bold; margin-top: 10px; text-align: center">
                            <span class="extend_days"></span> days
                            &nbsp;/&nbsp;
                            {{ tenantInformation.currencySymbol }} <span class="extension-fee-amount"></span>
                        </div>

                        <div style="display:{% if is_granted('ROLE_ADMIN') %}block{% else %}none{% endif %};">
                            <label>Fee</label>
                            <div class="input-group">
                                <span class="input-group-addon">{{ tenantInformation.currencySymbol }}</span>
                                <input type="text" class="form-control col-xs-2"
                                       data-number-to-fixed="2" name="extension_fee_amount" id="extensionFeeAmount">
                            </div>
                        </div>

                        <div class="help-block">
                            {{ tenantInformation.currencySymbol }} {{ user.balance|number_format(2) }} available balance
                        </div>

                        {% if tenantInformation.getStripePublicApiKey and is_granted("ROLE_ADMIN") %}
                            {#Else the payment block is shown by default for self-checkout users#}
                            <div class="form-group" style="margin-top: 10px">
                                <label style="font-weight: normal">
                                    <input type="checkbox" class="charge-to" name="chargeTo" value="card">
                                    Take payment for this fee now
                                </label>
                            </div>
                        {% endif %}

                    </div>

                </div>

                <div class="row" id="creditCards" style="display: none">
                    <div class="col-md-12">
                        {% set contact = user %}
                        {{ include('cores/payment_core.html.twig') }}
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Choose another date</button>

                {#payment-submit class is added when user chooses to show card details#}
                {#JS in item.html#}
                <button type="submit" class="btn btn-success" data-text="Confirm" id="confirmDateChange">Confirm</button>
            </div>
        </div>
    </div>
</div>