{% trans_default_domain 'member_site' %}
{% extends 'public/base.html.twig' %}

{% block pageCss %}{% endblock %}

{% block body %}

    <h2>
        {% trans %}public_basket.title{% endtrans %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('public/partials/session_user.html.twig') }}
            <br>
            <a href="{{ path('member_search', {'go': 'basket'}) }}" style="font-size: 13px;">Change user</a>
        {% endif %}
    </h2>

        <style>
            .basket-amount {
                text-align: right;
                width: 60px;
            }
            .basket-total {
                font-size: 20px;
                font-weight: bold;
                text-align: right;
            }
            .table.borderless td, .table.borderless th {
                border-bottom: 1px solid #eee;
                border-top: none;
            }
        </style>

    {% if tenantInformation.basket is defined and tenantInformation.basket %}

        {% if tenantInformation.basket.loanRows|length > 0 %}
            <div style="padding: 10px">
                <i class="fa fa-clock-o" style="font-size: 18px; color: #5cb85c"></i>
                {% trans %}public_basket.pickup_after{% endtrans %} <strong>{{ tenantInformation.basket.loanRows|first.dueOutAt|date("d F g:i a") }}</strong>
                <span class="multi-site">
                    {% trans %}public_basket.from{% endtrans %} <strong>{{ tenantInformation.basket.loanRows|first.siteFrom.name }}</strong>
                </span>
            </div>
        {% endif %}

        <form method="POST" id="form-basket" action="{{ path('basket_confirm') }}">

        <table class="table borderless" id="basketDetails">

            {% if tenantInformation.basket.loanRows|length == 0 %}
                <div class="alert alert-info">
                    {% trans %}public_basket.no_items{% endtrans %}
                    <br><br>
                </div>
            {% endif %}

            {#The basket items come from a deserialized session var#}
            {% for row in tenantInformation.basket.loanRows %}
                <tr>
                    <td style="width:100px">
                        {% if row.inventoryItem.imageName %}
                            <img src="{{ tenantInformation.s3Bucket }}{{ tenantInformation.schema }}/thumbs/{{ row.inventoryItem.imageName }}" class="img-thumbnail img-responsive">
                        {% else %}
                            <img src="//{{ tenantInformation.accountDomain }}/images/no_image.png" alt="" class="img-responsive">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('public_product', {productId: row.inventoryItem.id}) }}">{{ row.inventoryItem.name }}</a> <br>
                        <i class="fa fa-clock-o"></i> {% trans %}public_basket.due_at{% endtrans %} <strong>{{ row.dueInAt|date("d F g:i a") }}</strong>
                        ({{ row.duration }} {% transchoice row.duration %}days{% endtranschoice %})
                        <br>
                        <div class="multi-site">
                            <i class="fa fa-hospital-o"></i> {% trans %}public_basket.return_to{% endtrans %} <strong>{{ row.siteTo.name }}</strong>
                        </div>

                        {% if row.inventoryItem.depositAmount > 0 %}
                            <br>
                            <div class="alert alert-warning">
                                A deposit of {{ tenantInformation.currencySymbol }} {{ row.inventoryItem.depositAmount }} is required for this item.
                                <br>Payment is taken when items are checked out.
                            </div>
                        {% endif %}

                        <a href="{{ path('basket_item_remove', {itemId: row.inventoryItem.id}) }}" class="btn btn-xs btn-danger" style="margin-top: 4px;">
                            {% trans %}public_basket.remove_item{% endtrans %}
                        </a>
                    </td>
                    <td style="text-align: right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <input type="text" class="basket-amount row-total" name="row_fee[{{ row.inventoryItem.id }}]" value="{{ row.fee|number_format(2) }}">
                        {% else %}
                            {{ row.fee|number_format(2) }}
                            <input type="hidden" class="row-total" value="{{ row.fee|number_format(2) }}">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            {% if tenantInformation.basket.reservationFee > 0 %}
                <tr>
                    <td></td>
                    <td>{% trans %}note_reservation_fee{% endtrans %}</td>
                    <td style="text-align: right">
                        {% if is_granted('ROLE_ADMIN') %}
                            <input type="text" class="basket-amount row-total fee-amount" name="booking_fee" value="{{ tenantInformation.basket.reservationFee|number_format(2) }}">
                        {% else %}
                            {{ tenantInformation.basket.reservationFee|number_format(2) }}
                            <input type="hidden" class="row-total fee-amount" value="{{ tenantInformation.basket.reservationFee|number_format(2) }}">
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            <tr>
                <td></td>
                <td class="basket-total">
                    {% trans %}public_basket.total{% endtrans %}
                </td>
                <td class="basket-total">
                    {{ tenantInformation.currencySymbol }}&nbsp;<span class="basketTotalAmount"></span>
                </td>
            </tr>

        </table>

        <div id="basket-account-balance" class="alert credit-warning" style="display:none; margin-top: 6px; text-align: right">
            {% trans %}public_item.account_balance_is{% endtrans %} {{ tenantInformation.currencySymbol }} {{ contactBalance|number_format(2) }}
            <span class="actionCredit" style="display:none">
                {% trans %}public_basket.add_credit_message{% endtrans %}
            </span>
        </div>

            {% if tenantInformation.basket.loanRows|length > 0 %}
                <div style="overflow: hidden" id="formControls">
                    <a href="{{ path('basket_cancel') }}" class="btn btn-default">{% trans %}public_basket.empty{% endtrans %}</a>
                    <span class="pull-right">

                        {% if tenantInformation.stripePaymentMethodId %}
                            <button type="button" class="btn btn-success actionCredit" style="display:none" id="buttonCredit">{% trans %}button_add_credit{% endtrans %}</button>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <button type="button" class="btn btn-success" id="buttonSave" title="Save changes" data-toggle="tooltip" style="display:none">Save changes</button>
                            <button type="button" class="btn btn-success hideOnFormChange" id="buttonCheckOut" title="Create loan and go to check out" data-toggle="tooltip">Check out ...</button>
                        {% endif %}

                        <button type="button" class="btn btn-success confirm-ok hideOnFormChange" id="buttonConfirm" title="Confirm reservation" data-toggle="tooltip">{% trans %}public_basket.confirm_reservation{% endtrans %}</button>

                    </span>

                    {% if tenantInformation.chargeDailyFee %}
                        <div id="payment-message" class="confirm-ok pull-right" style="text-align:right; padding: 10px 0; clear: both">
                            The full fee of {{ tenantInformation.currencySymbol }} <span class="basketTotalAmount"></span> {% trans %}public_basket.full_charge{% endtrans %}.
                        </div>
                    {% else %}
                        <div id="payment-message" class="confirm-ok pull-right" style="text-align:right; padding: 10px 0; clear: both">
                            {{ tenantInformation.currencySymbol }} <span class="feeTotalAmount">0</span> {% trans %}public_basket.delay_charge{% endtrans %}.
                        </div>
                    {% endif %}

                </div>
            {% endif %}

            <input type="hidden" name="action" id="action" value="">

        </form>

    {% else %}

        <div class="alert alert-warning">
            Your basket is empty.
        </div>

    {% endif %}

{% endblock %}

{% block pagejs %}
    <script>

        var basketTotal = 0.00;

        $(document).ready(function() {

            $("#search-text").focus();

            calculateBasketTotal();

            var formControls = $("#formControls");

            formControls.on('click', '#buttonCredit', function() {
                document.location.href = "{{ path('add_credit') }}?amount="+basketTotal+"&c={{ tenantInformation.basket.contact.id }}&return=basket";
            });

            formControls.on('click', '#buttonConfirm', function(e) {
                e.preventDefault();
                {% if tenantInformation.basket.loanRows %}
                    {% if tenantInformation.basket.loanRows|first.dueOutAt|date("Y-m-d") < date()|date("Y-m-d") %}
                    if (!window.confirm("Pickup date is in the past.\nAre you sure you want to create a reservation?")) {
                        return false;
                    }
                    {% endif %}
                {% endif %}
                $("#form-basket").submit();
                waitButton($('#buttonConfirm'));
            });

            formControls.on('click', '#buttonSave', function(e) {
                e.preventDefault();
                $("#form-basket").attr("action", "{{ path('basket_save') }}").submit();
                waitButton($('#buttonSave'));
            });

            formControls.on('click', '#buttonCheckOut', function(e) {
                e.preventDefault();
                {% if tenantInformation.basket.loanRows %}
                    {% if tenantInformation.basket.loanRows|first.dueOutAt|date("Y-m-d") > date()|date("Y-m-d") %}
                    if (!window.confirm("Pickup date is in the future.\nAre you sure you want to check out now?")) {
                        return false;
                    }
                    {% endif %}
                {% endif %}
                $("#action").val("checkout");
                $("#form-basket").submit();
                waitButton($('#buttonCheckOut'));
            });

            $("#basketDetails").on('keyup', '.row-total', function() {
                calculateBasketTotal();
                $(".hideOnFormChange").attr('disabled', true);
                $("#buttonSave").show();
            });

            $(".admin-tools").on('click', '#change-member-toggle', function() {
                $("#change-member-toggle").hide();
                $("#change-member-form").show();
                $("#member-search").focus();
            });

        });

        function calculateBasketTotal() {
            basketTotal = 0;
            var feeTotal = 0;
            var chargeNow;
            var contactBalance = {{ contactBalance|number_format(2) }};
            var chargeFullFeeOnConfirmation = '{{ tenantInformation.chargeDailyFee }}';

            $(".row-total").each(function() {
                basketTotal = basketTotal + $(this).val()*1;
            });

            $(".basketTotalAmount").html(basketTotal.toFixed(2));

            $(".fee-amount").each(function() {
                feeTotal = feeTotal + $(this).val()*1;
            });

            $(".feeTotalAmount").html(feeTotal.toFixed(2));

            if (chargeFullFeeOnConfirmation == '1') {
                chargeNow = basketTotal;
            } else {
                chargeNow = feeTotal;
            }

            if (basketTotal > 0) {
                $("#basket-account-balance").show();
                $("#payment-message").show();
            } else {
                $("#basket-account-balance").hide();
                $("#payment-message").hide();
            }

            if (chargeNow > contactBalance && chargeNow > 0) {
                if (!isAdmin) {
                    $(".confirm-ok").attr('disabled', true);
                }
                $(".actionCredit").show();
                $(".credit-warning").addClass('alert-danger');
            } else {
                if (!isAdmin) {
                    $(".confirm-ok").attr('disabled', false);
                }
                $(".actionCredit").hide();
                $(".credit-warning").removeClass('alert-danger');
            }

        }

    </script>
{% endblock %}
