{% extends 'public/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block accountNav %}
    {{ include('public/partials/account_nav.html.twig') }}
{% endblock %}

{% block search %}
    {{ include('public/partials/search.html.twig') }}
{% endblock %}

{% block body %}

    <h2>
        {% trans %}Loans{% endtrans %} / {% trans %}Reservations{% endtrans %}
        {% if user is defined and user.id != app.user.id %}
            {{ include('public/partials/session_user.html.twig') }}
        {% endif %}
    </h2>

    {% set contact = user %}
    {{ include('public/partials/account_balance.html.twig') }}

    {% if user.loans|length > 0 %}
        <table width="100%" class="table table-hover table-striped">
            <thead>
            <tr>
                <th>{% trans %}th.items{% endtrans %}</th>
                <th>{% trans %}th.status{% endtrans %}</th>
                <th>{% trans %}th.fee{% endtrans %}</th>
            </tr>
            </thead>
        {% for loan in user.loans %}
            <tr>
                <td>
                    {% for row in loan.loanRows %}
                        <div>
                            <a href="{{ path('public_loan', {loanId: loan.id}) }}">{{ row.inventoryItem.name }}</a>
                            ({{ row.inventoryItem.sku }})
                            <br>{{ row.dueOutAt|date("d F g:i a") }} - {{ row.dueInAt|date("d F g:i a") }}
                            <br>{{ row.duration }} days
                        </div>
                    {% endfor %}
                </td>
                <td>
                    {{ include('partials/loan_status_label.html.twig') }}
                </td>
                <td>{{ loan.totalFee|number_format(2) }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        {% trans %}public_loans.no_loans{% endtrans %}.
    {% endif %}

{% endblock %}