{% extends 'public/themes/loader.html.twig' %}
{% trans_default_domain 'member_site' %}

{% block search %}
    {{ include('public/partials/search.html.twig') }}
{% endblock %}

{% block body %}
    <h2>
        {% trans %}Subscribe{% endtrans %}
    </h2>

    {#Currently only supported if there's one#}
    {% if membershipTypes|length == 1 %}

        <form method="POST" class="payment-form">

            <input type="hidden" name="paymentMethodId" value="{{ tenantInformation.stripePaymentMethodId }}" class="payment-method">
            <input type="hidden" name="paymentAmount" value="{{ membershipTypes[0].price|number_format(2) }}" class="payment-amount">
            <input type="hidden" name="customerEmail" value="{{ app.user.email }}" class="contact-email">
            <input type="hidden" name="stripeToken" value="" class="stripe-token">

            <p>
                You're subscribing for <strong>{{ membershipTypes[0].name }}</strong> membership, which lasts for {{ membershipTypes[0].duration }} days.
                <input type="hidden" name="membershipTypeId" value="{{ membershipTypes[0].id }}">
            </p>

            <p>
                This membership will cost {{ tenantInformation.currencySymbol }} {{ membershipTypes[0].price }}
            </p>

            {% if membershipTypes[0].price > 0 %}
                <p>
                    You'll be prompted to enter card details next.
                </p>
            {% endif %}

            {% if app.user.activeMembership is defined and app.user.activeMembership and app.user.activeMembership.status == 'ACTIVE' %}

                {% if app.user.activeMembership.expiresAt|date("Y-m-d") < date()|date_modify("+7 days")|date("Y-m-d") %}
                    <div class="alert alert-info">
                        Your existing membership expires on <strong>{{ app.user.activeMembership.expiresAt|date("d F Y") }}</strong>.
                        We'll start your new membership on the same date.
                    </div>
                {% endif %}

            {% endif %}

            <div>
            {% if membershipTypes[0].price > 0 %}
                <button type="submit" class="btn btn-success payment-submit">Enter card details</button>
            {% else %}
                <button type="submit" class="btn btn-success">Subscribe now</button>
            {% endif %}
            </div>

        </form>

    {% else %}
        <div class="alert alert-warning">
            There are no memberships available for self serve subscription.
            Please come in to visit us with photo ID to complete your membership.
        </div>
    {% endif %}

{% endblock %}